<div class="row justify-content-center g-0">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

        processinig:<br/>{{processing()}}
        <!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <button ngbNavLink>per speelronde</button>
                <ng-template ngbNavContent>
                    <p>
                        toon vakjes met speelronden huidig en 2 ervoor en 2 erna
                        toon onder de geselecteerde speelronde:
                        1 header met speelrondenummer + periode in datum (ma 08-10-25 t/m zo 11-10-25)

                    </p>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>op datum</button>
                <ng-template ngbNavContent>
                    <p>
                        toon vakjes met data huidig en 2 ervoor en 2 erna (15-08 19-08 20-08)
                        toon onder de geselecteerde datum:
                        1 header met speelrondenummer + periode in datum (ma 08-10-25 t/m zo 11-10-25)
                    </p>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <button ngbNavLink>chat</button>
                <ng-template ngbNavContent>
                    <p>
                        Link naar chatpagina
                    </p>
                </ng-template>
            </li>
        </ul> -->
        
        <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
        
        <!-- <pre>Active: {{ active }}</pre> -->

        @if(!processing()) {
            @if(pool && viewGameRounds()) {
                <div class="d-flex mt-2 ms-1">
                
                    <app-gameround-scroller [gameRounds]="viewGameRounds()" [current]="currentGameRound()"
                        [currentViewPeriod]="getCurrentViewPeriod(pool)" (update)="updateGameRound($event)">
                    </app-gameround-scroller>
                    @if(poule){
                        <button (click)="navigateToChat(pool, poule)" type="button" class="btn btn-outline-dark ms-3 position-relative">
                            <fa-icon [icon]=faMessage></fa-icon>
                            <span class="ms-1"> chat</span>
                            <span *ngIf="nrOfUnreadMessages > 0"
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{nrOfUnreadMessages}}
                                <span class="visually-hidden">ongelezen berichten</span>
                            </span>
                        </button>
                    }
                </div>
            }
            
            @if(pool && poolUsersStartLocationMap && currentGameRound()){
                <div>
                    <h2 *ngIf="processingGames()" class="text-center">
                        <fa-icon [icon]=faSpinner [animation]="'spin'"></fa-icon>
                    </h2>
                
                    <!-- @if(!processingGames() && sourceGameRoundGames.length > 0 && currentSourceGame){
                                <div class="d-flex my-3 ms-1">
                                    <app-game-scroller [games]="sourceGameRoundGames" [current]="currentSourceGame"
                                        (update)="updateSourceGame($event)" (navigate)="navigateToSourceGame(pool, $event)"
                                        >
                                    </app-game-scroller>
                                </div>
                                } -->
                
                    @let gameRound = currentGameRound();
                    @for(againstGame of sourceGameRoundGames; track againstGame.getId()){
                    <table class="table" *ngIf="!processingGames() && formationMap && sportRankingItems.length > 0">
                        <thead>
                            <tr class="bg-secondary">
                                <th colspan="3" class="ps-3 py-0 fw-light text-end"
                                    ngClass="{'text-decoration-line-through': againstGame().getState() === Finished}">
                                    @let dateTitle = dateFormatter.toString(againstGame.getStartDateTime(),dateFormatter.date());
                                    @let timeTitle = dateFormatter.toString(againstGame.getStartDateTime(),dateFormatter.time());
                                    {{dateTitle}} {{timeTitle}}
                                </th>
                            </tr>
                            <tr s11-game-tableheader [againstGame]=againstGame>
                            </tr>
                        </thead>
                        @if( gameRound ) {
                        <tbody s11-game-tablerow class="table-group-divider" [competitonConfig]="pool.getCompetitionConfig()"
                            [gameRound]="gameRound" [againstGame]="againstGame" [formationMap]="formationMap"
                            [sportRankingItems]="sportRankingItems" [poolUsersStartLocationMap]="poolUsersStartLocationMap">
                        </tbody>
                        }
                    </table>
                    }
                </div>
            }
            @if(pool){
                @if(leagueName === WorldCupLeagueName){
                    <app-worldcup-navbar [current]="Schedule" [pool]="pool" [poolUser]="poolUserFromSession">
                    </app-worldcup-navbar>
                } @else {
                    <app-pool-navbar [current]="Schedule" [pool]="pool" [poolUser]="poolUserFromSession">
                    </app-pool-navbar>
                }
            }
        } @else {
            <h2 class="text-center">
                <fa-icon [icon]=faSpinner [animation]="'spin'"></fa-icon>
            </h2>
        }
    </div>
</div>