<div class="row justify-content-center g-0">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

        
        <!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <button ngbNavLink>per speelronde</button>
                <ng-template ngbNavContent>
                    <p>
                        toon vakjes met speelronden huidig en 2 ervoor en 2 erna
                        toon onder de geselecteerde speelronde:
                        1 header met speelrondenummer + periode in datum (ma 08-10-25 t/m zo 11-10-25)

                    </p>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>op datum</button>
                <ng-template ngbNavContent>
                    <p>
                        toon vakjes met data huidig en 2 ervoor en 2 erna (15-08 19-08 20-08)
                        toon onder de geselecteerde datum:
                        1 header met speelrondenummer + periode in datum (ma 08-10-25 t/m zo 11-10-25)
                    </p>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <button ngbNavLink>chat</button>
                <ng-template ngbNavContent>
                    <p>
                        Link naar chatpagina
                    </p>
                </ng-template>
            </li>
        </ul> -->
        
        <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
        
        <!-- <pre>Active: {{ active }}</pre> -->

        @if(!processing()) {

            @let tmplCurrentGameRound = currentGameRound();
            @if(pool && poolUsers && tmplCurrentGameRound){
                <div class="d-flex flex-nowrap justify-content-between mt-2">
                    <app-gameround-scroller 
                        [viewPeriod]="tmplCurrentGameRound.viewPeriod"
                        [gameRounds]="viewGameRounds()"
                        [previousGameRound]="previousGameRound()"
                        [nextGameRound]="nextGameRound()"         
                        [competitionConfig]="pool.getCompetitionConfig()"
                        (selectViewPeriod)="selectViewPeriod(pool, poolUsers, $event)"
                        (selectGameRound)="selectGameRound(pool, poolUsers, $event)"
                        (selectTransferPeriod)="showTransfers.set(!showTransfers())"
                    ></app-gameround-scroller>                    
                    
                    <div>
                        @if(poolPouleId){
                            <button (click)="navigateToChat(pool, poolPouleId)" type="button" class="btn btn-outline-dark ms-3 position-relative">
                                <fa-icon [icon]=faMessage></fa-icon>
                                <span class="ms-1"> chat</span>
                                @if(nrOfUnreadMessages > 0) {
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        {{nrOfUnreadMessages}}
                                        <span class="visually-hidden">ongelezen berichten</span>
                                    </span>
                                }
                            </button>                        
                        }
                    </div>
                </div>
            }
            @if( !processingGames()) {
                @if(pool && tmplCurrentGameRound && sourceGameRoundGames.length > 0 && formationMap && poolUsersWithGameRoundsPoints()){
                    <div class="mt-3">
                    @for(againstGame of sourceGameRoundGames; track againstGame.getId()){
                        <table class="table">
                            <thead>
                                <tr class="bg-secondary">
                                    <th colspan="3" class="ps-3 py-0 fw-light text-end"
                                        ngClass="{'text-decoration-line-through': againstGame().getState() === Finished}">
                                        @let dateTitle = dateFormatter.toString(againstGame.getStartDateTime(),dateFormatter.date());
                                        @let timeTitle = dateFormatter.toString(againstGame.getStartDateTime(),dateFormatter.time());
                                        {{dateTitle}} {{timeTitle}}
                                    </th>
                                </tr>
                                <tr s11-game-tableheader [againstGame]=againstGame>
                                </tr>
                            </thead>
                            
                            <tbody s11-game-tablerow class="table-group-divider" [competitonConfig]="pool.getCompetitionConfig()"
                                [gameRound]="tmplCurrentGameRound" [againstGame]="againstGame" [formationMap]="formationMap"
                                [competitorsWithGameRoundsPoints]="poolUsersWithGameRoundsPoints()">
                            </tbody>
                        </table>
                    }
                    </div>
                }
            } @else {
                <h2 class="text-center">
                    <fa-icon [icon]=faSpinner [animation]="'spin'"></fa-icon>
                </h2>
            }
            @if(pool){
                @if(leagueName === WorldCupLeagueName){
                    <app-worldcup-navbar [current]="Schedule" [pool]="pool" [poolUser]="poolUserFromSession">
                    </app-worldcup-navbar>
                } @else {
                    <app-pool-navbar [current]="Schedule" [pool]="pool" [poolUser]="poolUserFromSession">
                    </app-pool-navbar>
                }
            }
        } @else {
            <h2 class="text-center">
                <fa-icon [icon]=faSpinner [animation]="'spin'"></fa-icon>
            </h2>
        }
    </div>
</div>