<div class="d-flex flex-wrap justify-content-around mb-2" *ngIf="round.getNrOfPlaces() > 2 && !round.hasBegun()">
    <ng-container *ngTemplateOutlet="modifyQualifiers;context:{$implicit: QualifyGroupWINNERS}">
    </ng-container>
    <button *ngIf="showSwitchView() || round.isRoot()"
        [ngClass]="{ 'visible': showSwitchView(), 'invisible': !showSwitchView() }" type="button"
        class="btn btn-secondary" (click)="switchView()"
        [disabled]="viewType !== ViewTypeQualifyGroups && !showSwitchView()">
        <fa-icon *ngIf="viewType !== ViewTypeQualifyGroups" [icon]="['fac', 'structure']"></fa-icon>
        <span *ngIf="viewType !== ViewTypeQualifyGroups" class="d-none d-sm-inline-flex">
            kwalificatiegroepen</span>
        <fa-icon *ngIf="viewType === ViewTypeQualifyGroups" [icon]="['fas', 'th']"></fa-icon> <span
            *ngIf="viewType === ViewTypeQualifyGroups" class="d-none d-sm-inline-flex">&nbsp;ronde-opzet</span>
    </button>
    <ng-container *ngTemplateOutlet="modifyQualifiers;context:{$implicit: QualifyGroupLOSERS}">
    </ng-container>
</div>
<p *ngIf="alert">
    <ngb-alert [dismissible]="true" (close)="alert = undefined" [type]="alert.type">{{ alert.message }}</ngb-alert>
</p>
<ng-template #modifyQualifiers let-winnersOrLosers>
    <!-- start vertical-->
    <div *ngIf="round.getNrOfPlaces() >= 4" class=" btn-group-vertical" [ngClass]="{ 'd-sm-none': round.isRoot() }"
        role="group" aria-label="aantal">
        <button type="button" disabled
            class="btn btn-outline-secondary">{{nameService.getWinnersLosersDescription(winnersOrLosers,true)}}
            <span *ngIf="round.isRoot()">: {{round.getNrOfPlacesChildren(winnersOrLosers)}}</span>
        </button>
        <div class="btn-group" role="group" aria-label="aantal">
            <button type="button" class="btn btn-outline-primary" (click)="removeQualifier(winnersOrLosers)">
                <fa-icon [icon]="['fas', 'minus']"></fa-icon>
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="addQualifier(winnersOrLosers)">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
        </div>
    </div>
    <!-- end vertical-->
    <!-- start horizontal-->
    <div *ngIf="round.getNrOfPlaces() >= 4 && round.isRoot()" class="d-none d-sm-inline-flex btn-group" role="group"
        aria-label="aantal">
        <button type="button" class="btn btn-outline-primary" (click)="removeQualifier(winnersOrLosers)">
            <fa-icon [icon]="['fas', 'minus']"></fa-icon>
        </button>
        <button type="button" disabled
            class="btn btn-outline-secondary">{{nameService.getWinnersLosersDescription(winnersOrLosers,true)}}:
            {{round.getNrOfPlacesChildren(winnersOrLosers)}}</button>
        <button type="button" class="btn btn-outline-primary" (click)="addQualifier(winnersOrLosers)">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
    </div>
    <!-- end horizontal-->
</ng-template>