.card.round{
    width:100%;
}

.card.round>.card-body{
    padding-bottom:0;
}

app-tournament-structureround {
    width: 100%;
}

.place-list-item {
    margin-top: 3px;
    border-top-width: 1px;
}

.btn-action-list-item {
    border: 0;
}

.card.qualification{
    width:100%;
}

.rotate-45 {
    transform: rotate(-45deg);
    display: inline-block;
    transition: transform 1s;
}