<div *ngIf="round" [ngClass]="{ 'pl-1': !first, 'pr-1': round.isRoot() }">
  <div class="card border-secondary round mb-2 {{cssService.getQualifyRound(round)}}"
    *ngIf="round.isRoot() || round.getNrOfPlaces() > 2">
    <div class="card-header px-1">
      <span class="lead" [innerHTML]="nameService.getRoundName( round ) | keepHtml"></span>
      &nbsp;
      <!-- round.getPath()-->
      <!-- <fa-icon [icon]="['fas', 'circle']" *ngFor="let winnersOrLosers of round.getPath()" [title]="getWinnersLosersDescription(
      winnersOrLosers )"
        class="text-{{getClassPostfix(winnersOrLosers)}}"></fa-icon> -->
    </div>
    <div class="card-body px-1">
      <app-tournament-structureround-arrange *ngIf="editable && viewType !== ViewTypeQualifyGroups" [round]="round"
        (arrangeAction)="arrangeAction($event)">
      </app-tournament-structureround-arrange>
      <p *ngIf="editable && round.hasBegun()">
        <ngb-alert [dismissible]="false" type="warning">de ronde heeft al gespeelde wedstrijden, je kunt niet meer
          wijzigen</ngb-alert>
      </p>
      <p *ngIf="editable && alert">
        <ngb-alert [dismissible]="true" (close)="alert = undefined" [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
      <div *ngIf="viewType !== ViewTypeQualifyGroups" class="d-flex flex-wrap justify-content-around">
        <ul *ngFor="let poule of round.getPoules();" class="list-group mb-3">
          <li class="list-group-item disabled px-2 py-2">
            {{nameService.getPouleName( poule, round.isRoot() && round.getPoules().length <= 2)}}
          </li>
          <li *ngFor="let place of poule.getPlaces();"
            class="list-group-item px-2 py-2 place-list-item pointer {{cssService.getQualifyPlace(place)}}"
            placement="top" ngbPopover="{{nameService.getPlaceFromName(place,true,true)}}">
            <span
              [ngClass]="{'favitem': isFavorite(placeLocationMap.getCompetitor(place)) }">{{nameService.getPlaceFromName(place, false)}}</span>
          </li>
        </ul>
      </div>

      <div *ngIf="editable && viewType === ViewTypeQualifyGroups" class="d-flex flex-wrap justify-content-center mb-3">
        <table>
          <tbody>
            <!-- als de volgende is splittable plaats dan beide in een rij en maak de knop 2 rijen -->
            <ng-template ngFor let-editHorPoule [ngForOf]="getEditHorizontalPoules()">
              <tr *ngIf="areQualifyGroupsMergable(editHorPoule) || isQualifyGroupSplittable(editHorPoule)">
                <td></td>
                <td>
                  <li *ngIf="isQualifyGroupSplittable(editHorPoule)"
                    class="list-group-item btn-outline-secondary px-2 py-1 place-list-item pointer btn-action-list-item"
                    (click)="splitQualifyGroup(editHorPoule)">
                    <button type="button" class="btn btn-outline-primary btn-block">
                      <fa-icon class="rotate-45" [icon]="['fas', 'expand-alt']"></fa-icon><span
                        *ngIf="round.getNumber().getRounds().length <= 2">
                        splitsen</span>
                    </button>
                  </li>
                  <li *ngIf="areQualifyGroupsMergable(editHorPoule)"
                    class="list-group-item btn-outline-secondary px-2 py-1 place-list-item pointer btn-action-list-item"
                    (click)="mergeQualifyGroups(editHorPoule)">
                    <button type="button" class="btn btn-outline-primary btn-block">
                      <fa-icon class="rotate-45" [icon]="['fas', 'compress-alt']"></fa-icon><span
                        *ngIf="round.getNumber().getRounds().length <= 2">
                        samenvoegen</span>
                    </button>
                  </li>
                </td>
              </tr>
              <tr>
                <td>
                  <li
                    class="list-group-item px-2 py-2 place-list-item  {{cssService.getQualifyPoule(editHorPoule.current)}}">
                    {{nameService.getHorizontalPouleName(editHorPoule.current)}}
                  </li>
                </td>
                <td></td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-tournament-structurequalify *ngIf="editable" [round]="round" (viewTypeChanged)="viewType = $event"
    (roundNumberChanged)="roundNumberChanged.emit($event)">
  </app-tournament-structurequalify>

  <div class="d-flex align-items-stretch text-center">
    <app-tournament-structureround *ngFor="let qualifyGroup of round.getQualifyGroupsLosersReversed(); first as first"
      class="align-self-stretch flex-wrap mb-2" [round]="qualifyGroup.getChildRound()"
      [editable]="editable && !round.hasBegun()" [favorites]="favorites" [first]="first"
      [placeLocationMap]="placeLocationMap" (roundNumberChanged)="roundNumberChanged.emit($event)">
    </app-tournament-structureround>
  </div>
  <div *ngIf="!round.isRoot() && round.getNrOfPlaces() === 2">
    <div class="card round {{cssService.getQualifyRound(round)}}">
      <div class="card-header px-1">
        <span [innerHTML]="nameService.getRoundName(round) | keepHtml"></span>
      </div>
    </div>
  </div>
  <div *ngIf="!round.isRoot() && round.getNrOfPlaces() < 2">
    <ngb-alert [dismissible]="false" type="warning">fout: los op door bovenstaande ronde opnieuw aan te maken
    </ngb-alert>
  </div>
</div>