<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>

      <form *ngIf="!processing" name="form" (ngSubmit)="edit()" [formGroup]="form" novalidate>
        <h2>start</h2>
        <div *ngIf="!hasBegun" class="form-group row">
          <div class="col-3">
            <label for="date" class="col-form-label">datum</label>
          </div>
          <div class="col-9">
            <div class="input-group input-group-date">
              <input class="form-control"
                [ngClass]="{ 'is-invalid': form.controls.date.invalid, 'is-valid': form.controls.date.valid }"
                placeholder="yyyy-mm-dd" formControlName="date" ngbDatepicker #d="ngbDatepicker" required
                [minDate]="minDateStruct" container="body">
              <div class="input-group-append">
                <span class="input-group-text pointer" (click)="d.toggle()">
                  <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!hasBegun" class="form-group row">
          <div class="col-3">
            <label for="starttime" class="col-form-label">tijd</label>
          </div>
          <div class="col-9">
            <ngb-timepicker formControlName="time" [spinners]="false" required>
            </ngb-timepicker>
          </div>
        </div>
        <div *ngIf="hasBegun" class="form-group row">
          <div class="col-3">
            <label for="start" class="col-form-label">datumtijd</label>
          </div>
          <div class="col-9 col-sm-8 col-md-7">
            <input class="form-control" type="text"
              placeholder="{{competition.getStartDateTime().toLocaleString('nl',{'year':'numeric','month':'short','day':'2-digit','hour12': false,'hour':'2-digit','minute':'2-digit'})}}"
              readonly>
          </div>
        </div>
        <div *ngIf="isTimeEnabled()">
          <div *ngIf="!hasBegun || this.form.controls.togglebreak.value" class="form-group row">
            <div class="col-3">
              <h2 for="togglebreak" class="pt-1">
                pauze</h2>
            </div>
            <div *ngIf="!hasBegun" class="col-9 pr-0">
              <label class="custom-control custom-checkbox pointer col-form-label pl-0">
                <input type="checkbox" class="custom-control-input form-check-input" formControlName="togglebreak">
                <span class="custom-control-indicator"></span>
                <label class="ml-2 col-form-label" nowrap>( tijdens een ronde )</label>
              </label>
            </div>
          </div>
          <div *ngIf="!hasBegun && this.form.controls.togglebreak.value" class="form-group row">
            <div class="col-3">
              <label for="breakstartdate" class="col-form-label">start</label>
            </div>
            <div class="col-9">
              <div class="input-group input-group-date">
                <input class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls.breakstartdate.invalid, 'is-valid': form.controls.breakstartdate.valid }"
                  placeholder="yyyy-mm-dd" formControlName="breakstartdate" ngbDatepicker #dBreakStart="ngbDatepicker"
                  required [minDate]="minDateStruct" container="body">
                <div class="input-group-append">
                  <span class="input-group-text pointer" (click)="dBreakStart.toggle()">
                    <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!hasBegun && this.form.controls.togglebreak.value" class="form-group row">
            <div class="col-3">
              <label for="breakstarttime" class="col-form-label"></label>
            </div>
            <div class="col-9">
              <ngb-timepicker formControlName="breakstarttime" [spinners]="false" required>
              </ngb-timepicker>
            </div>
          </div>
          <div *ngIf="hasBegun && tournament.hasBreak()" class="form-group row">
            <div class="col-3">
              <label for="start" class="col-form-label">start</label>
            </div>
            <div class="col-9 col-sm-8 col-md-7">
              <input class="form-control" type="text"
                placeholder="{{tournament.getBreakStartDateTime().toLocaleString('nl',{'year':'numeric','month':'short','day':'2-digit','hour12': false,'hour':'2-digit','minute':'2-digit'})}}"
                readonly>
            </div>
          </div>
          <div *ngIf="!hasBegun && this.form.controls.togglebreak.value" class="form-group row">
            <div class="col-3">
              <label for="breakenddate" class="col-form-label">eind</label>
            </div>
            <div class="col-9">
              <div class="input-group input-group-date">
                <input class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls.breakenddate.invalid, 'is-valid': form.controls.breakenddate.valid }"
                  placeholder="yyyy-mm-dd" formControlName="breakenddate" ngbDatepicker #dBreakEnd="ngbDatepicker"
                  required [minDate]="minDateStruct" container="body">
                <div class="input-group-append">
                  <span class="input-group-text pointer" (click)="dBreakEnd.toggle()">
                    <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!hasBegun && this.form.controls.togglebreak.value" class="form-group row">
            <div class="col-3">
              <label for="breakendtime" class="col-form-label"></label>
            </div>
            <div class="col-9">
              <ngb-timepicker formControlName="breakendtime" [spinners]="false" required>
              </ngb-timepicker>
            </div>
          </div>
          <div *ngIf="hasBegun && tournament.hasBreak()" class="form-group row">
            <div class="col-3">
              <label for="end" class="col-form-label">eind</label>
            </div>
            <div class="col-9 col-sm-8 col-md-7">
              <input class="form-control" type="text"
                placeholder="{{tournament.getBreakEndDateTime().toLocaleString('nl',{'year':'numeric','month':'short','day':'2-digit','hour12': false,'hour':'2-digit','minute':'2-digit'})}}"
                readonly>
            </div>
          </div>
        </div>

        <div *ngIf="!hasBegun" class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
              opslaan
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>