<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <div class="d-flex justify-content-between mb-4">
        <h1>
          <fa-icon [icon]="['fas', 'key']"></fa-icon> wachtwoord vergeten
        </h1>
        <h1 class="mr-1">
          <button [routerLink]="['']" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
            <span class="ml-1 d-none d-md-inline"> terug</span>
          </button>
        </h1>
      </div>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>

      <div *ngIf="!processing && !isLoggedIn() && codeSend"
        class="card card-body mx-auto bg-faded form-password-reset mt-3">
        <legend class="m-b-1 text-xs-center">de code, om je wachtwoord te wijzigen, is gemaild</legend>
        <button role="button" class="btn btn-outline-secondary" routerLink="/user/passwordchange"
          [queryParams]="{ emailaddress: form.controls.emailaddress.value }">naar
          wachtwoord wijzigen</button>
      </div>
      <div *ngIf="!processing && isLoggedIn() && !codeSend"
        class="card card-body mx-auto bg-faded form-password-reset mt-3">
        <legend class="m-b-1 text-xs-center">je bent al ingelogd</legend>
        <button role="button" class="btn btn-outline-secondary" routerLink="/">ga terug</button>
      </div>

      <form *ngIf="!processing && !isLoggedIn() && !codeSend" name="form" (ngSubmit)="sendCode()" [formGroup]="form"
        novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="emailaddress" class="col-form-label">emailadres</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
              type="text" formControlName="emailaddress"
              placeholder="max. {{validations.maxlengthemailaddress}} karakters">
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
              code sturen
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>