<div class="row justify-content-center g-0">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <ngb-alert *ngIf="!processing && !currentSourceGame" type="danger">de wedstrijd kan niet gevonden worden
        </ngb-alert>
        <h2 *ngIf="processing" class="text-center">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
        <div *ngIf="!processing && gameRounds">
            <div class="d-flex justify-content-center my-2">
                <app-gameround-scroller [gameRounds]="gameRounds" [current]="currentGameRound"
                    (update)="updateGameRound($event)">
                </app-gameround-scroller>
            </div>

            <h2 *ngIf="processingGames" class="text-center">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </h2>

            <div *ngIf="!processingGames && sourceGameRoundGames.length > 0 && currentSourceGame"
                class="d-flex justify-content-center my-3">
                <app-game-scroller [games]="sourceGameRoundGames" [current]="currentSourceGame"
                    (update)="updateSourceGame($event)" (navigate)="navigateToSourceGame($event)">
                </app-game-scroller>
            </div>

            <table class="table" *ngIf="!processingGames && currentSourceGame && poolUsers.length > 0">
                <tbody>
                    <tr *ngFor="let poolUser of poolUsers">
                        <td>{{poolUser.getName()}}</td>
                        <td>
                            <ng-container [ngTemplateOutlet]="contentForamtionPlaces"
                                [ngTemplateOutletContext]="{formationPlaces:getFormationPlaces(currentSourceGame, HomeSide, poolUser)}">
                            </ng-container>
                        </td>
                        <td>
                            <ng-container [ngTemplateOutlet]="contentForamtionPlaces"
                                [ngTemplateOutletContext]="{formationPlaces:getFormationPlaces(currentSourceGame, AwaySide, poolUser)}">
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ng-template #contentForamtionPlaces let-formationPlaces="formationPlaces">
                <div *ngFor="let formationPlace of formationPlaces">
                    <ng-container [ngTemplateOutlet]="contentPlayer"
                        [ngTemplateOutletContext]="{s11Player:formationPlace.getPlayer()}">
                    </ng-container>
                    <span *ngIf="formationPlace.isSubstitute()" class="badge badge-reserve ms-1">r</span>
                </div>
            </ng-template>

            <ng-template #contentPlayer let-s11Player="s11Player">
                <span *ngIf="s11Player">{{s11Player.getPerson().getName()}}</span>
            </ng-template>

        </div>
    </div>
</div>