// .card-person {
//     max-width: 500px;
// }

.person-base {
    min-width: 152px;
}

img.team {
    max-height: 2rem;
}

// .btn-fixed-width {
//     width: 20rem;
// }

.player-img {
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}