<div *ngIf="getPoules().length > 0" class="card border-dark mb-3">
  <div class="card-header p-0">
    <div class="d-flex justify-content-between">
      <h5 class="mb-0 ml-3 mt-3" [innerHtml]="nameService.getRoundNumberName(roundNumber) | keepHtml"></h5>
      <button class="btn btn-sm btn-outline-info my-2" (click)="openModal(contentScoreRules)">
        <fa-icon [icon]="['fac', 'scoreboard']"></fa-icon>
      </button>
      <fa-icon class="pointer px-3 pt-3" (click)="show=!show" [icon]="['fas', 'chevron-right']"
        [rotate]="show ? 90 : 0">
      </fa-icon>
    </div>
  </div>
  <div class="card-body card-deck-wrapper" [ngClass]="{ 'd-none': !show }">
    <div class="d-flex flex-wrap justify-content-center">
      <app-tournament-pouleranking *ngFor="let poule of getPoules()" [tournament]="tournament" [poule]="poule"
        [header]="true">
      </app-tournament-pouleranking>
    </div>
  </div>
</div>

<div *ngIf="roundNumber.hasNext()">
  <app-tournament-ranking-roundnumber [roundNumber]="roundNumber.getNext()" [tournament]="tournament">
  </app-tournament-ranking-roundnumber>
</div>

<ng-template #contentScoreRules let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      puntentelling
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-sportconfig-points-info [roundNumber]="roundNumber"></app-sportconfig-points-info>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
      (click)="modal.dismiss('close')">sluiten</button>
  </div>
</ng-template>