<div>
    @let tmplPlayer = player();
    <div class="d-flex justify-content-center">        
        @if(tmplPlayer){
            <div class="player-img d-flex justify-content-between"
                style="background-image: url('{{getPlayerImageUrl(tmplPlayer)}}');">
                <app-lineicon *ngIf="player()" [line]="tmplPlayer.getLine()"></app-lineicon>
                <div>
                    <span*ngIf="points() !== undefined" class="badge bg-totals">{{points()}}</span>
                </div>
            </div>
        }
        <fa-icon *ngIf="!player()" [icon]="['fas', 'user-circle']" size="10x"></fa-icon>
    </div>
    <div class="d-flex justify-content-center mt-1">        
        @if(tmplPlayer){
            @let tmplTeam = tmplPlayer.getTeam();
            @if(tmplTeam){
                <app-team-name [team]="tmplTeam" [fullName]="true"></app-team-name>
            }
        }
    </div>
</div>