<!-- <app-title *ngIf="pool" [title]="pool.getName()"></app-title> -->

<!-- <div class="d-flex justify-content-between mb-4 mt-2">
  <h2 class="text-center">
    <fa-icon [icon]="['fas', 'users']"></fa-icon> spelers kiezen
  </h2>
  <button (click)="close.emit()" type="button" class="btn btn-outline-dark">
    <span class="fs-4">&times;</span>
  </button>
</div> -->

<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>

<!-- <ngb-alert *ngIf="alert" [type]="alert.type">
  {{ alert.message }}</ngb-alert> -->

<form *ngIf="!processing && viewPeriod" name="form" (ngSubmit)="false" [formGroup]="form" novalidate>
  <div class="d-flex justify-content-around">
    <select class="form-control me-1" formControlName="searchTeam" (change)="updateFilter()">
      <option [ngValue]="undefined" selected>
        alle clubs
      </option>
      <option *ngFor="let team of selectableTeams" [ngValue]="team">{{team.getName()}}</option>
    </select>
    <select class="form-control ms-1" formControlName="searchLine" (change)="updateFilter()">
      <option *ngFor="let line of selectableLines" [ngValue]="line">{{nameService.getFormationLineName(line)}}</option>
    </select>
  </div>
</form>

<table *ngIf="!processing && viewPeriod" class="table">
  <tbody>
    <ng-container *ngFor="let choosePersonItem of choosePersonItems">
      <tr *ngIf="showAll || isChoosable(choosePersonItem.player)" (click)="linkToPlayer(choosePersonItem.s11Player)"
        class="pointer">
        <td>
          <app-lineicon [line]="choosePersonItem.player.getLine()"></app-lineicon>
        </td>
        <td>
          {{choosePersonItem.player.getPerson().getName()}}
        </td>
        <td>
          <app-team-name [team]="choosePersonItem.player.getTeam()"></app-team-name>
        </td>
        <td class="text-end">
          <span class="badge bg-totals">{{choosePersonItem.s11Player.getTotalPoints()}}</span>
        </td>
        <td class="text-end" (click)="$event.stopPropagation()">
          <button *ngIf="isChoosable(choosePersonItem.player)" type="button" class="btn btn-secondary btn-sm"
            (click)="select(choosePersonItem.s11Player)">
            <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>