<h2*ngIf="processing" class="text-center">
    <fa-icon [icon]="['fas', 'spinner']" spin="true"></fa-icon>
</h2>
<div class="row justify-content-center g-0">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div*ngIf="!processing">

            @if(alert){
            <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
            }
            @if(currentViewPeriod && pool && s11Player){
            <div class="card card-person border-0">
                <div class="card-body py-1 px-2">
                    <div class="d-flex flex-column">

                        <div class="d-flex justify-content-between">
                            <div></div>
                            <!-- <button type="button" class="btn btn-outline-primary">
                            <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
                        </button> -->
                            <h2 class="text-center mb-0">
                                {{s11Player.getPerson().getName()}}
                            </h2>
                            <button type="button" class="btn btn-outline-primary" (click)="navigateBack()">
                                <fa-icon [icon]="['fas', 'level-up-alt']" [rotate]="270"></fa-icon>
                                <span class="ms-1 d-none d-md-inline"> terug</span>
                            </button>
                        </div>
                        <app-player-basics [player]="player" [points]="getCurrentGameRoundPoints()" class="text-center">
                        </app-player-basics>

                        <app-gameround-scroller [gameRounds]="sliderGameRounds" [current]="currentGameRound" 
                            [currentViewPeriod]="currentViewPeriod"
                            (update)="updateGameRound($event)"></app-gameround-scroller>

                        <div class="text-center mt-3 mb-2">
                            <h2*ngIf="processingGames" class="text-center">
                                <fa-icon [icon]="['fas', 'spinner']" spin="true"></fa-icon>
                            </h2>
                            @if(!processingGames && currentGame && currentGameRound){
                            <button type="button"
                                class="btn btn-outline-primary"
                                routerLink="['/pool/sourcegame', pool.getId(), currentGameRound.getNumber(), currentGame.getId()]">
                                <app-againstgame-title [againstGame]="currentGame"></app-againstgame-title>
                            </button>
                            }
                        </div>                        
                        <div>
                            @if(currentGameRound){
                                @let statistics = statisticsGetter.getStatistics(s11Player,currentGameRound);
                                @if(statistics){
                                <app-s11player-gameround-statistics 
                                    [gameRound]="currentGameRound"
                                    [statistics]="statistics"
                                    [line]="s11Player.getLine()" [scorePointsMap]="pool.getCompetitionConfig().getScorePointsMap()">
                                </app-s11player-gameround-statistics>
                                }
                            } @else {
                                <app-s11player-viewperiod-statistics [totals]="s11Player.getTotals()"
                                    [line]="s11Player.getLine()" [scorePointsMap]="pool.getCompetitionConfig().getScorePointsMap()">
                                </app-s11player-viewperiod-statistics>
                            }                            
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>