@if(!processing && s11Player) {
    <div class="modal-header border-bottom-0 text-white {{getLineClass(s11Player)}}">
        <h5 class="">{{s11Player.getPerson().getName()}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss()"></button>
    </div>
}

<div class="modal-body">
    @if( !processing ) {
        <div class="row justify-content-center">                    
            <!-- @if(alert){
                <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
            } -->
            
            @if(s11Player && competitionConfig ){
                @let player = this.sportExtensions.getCurrentPlayer(s11Player);
                @if (player) {   
                    <div class="card card-person border-0">
                        <div class="card-body py-1 px-2">
                            <div class="d-flex flex-column">
        
                            
                                <app-player-basics [player]="player" class="text-center">
                                </app-player-basics>
        
                                <!-- <app-gameround-scroller 
                                [viewPeriod]="currentGameRound.viewPeriod"
                                [previousGameRound]="previousGameRound()"
                                [nextGameRound]="nextGameRound()"
                                [gameRounds]="sliderGameRounds"
                                    (update)="updateGameRound($event)"></app-gameround-scroller> -->
        
                                <!-- <div class="text-center mt-3 mb-2">
                                    <h2 *ngIf="processingGames" class="text-center">
                                        <fa-icon [icon]=faSpinner [animation]="'spin'"></fa-icon>
                                    </h2>
                                    @if(!processingGames && currentGame && currentGameRound){
                                    <button type="button" class="btn btn-outline-primary"
                                        routerLink="['/pool/sourcegame', pool.getId(), currentGameRound.getNumber(), currentGame.getId()]">
                                        <app-againstgame-title [againstGame]="currentGame"></app-againstgame-title>
                                    </button>
                                    }
                                </div>
                            -->
                                <div>
                                    <!-- toon laatste 3 gespeelde wedstrijden en 1e wegstrijd op het programma -->
                                    <!-- ga uit van nu als tijd, 
                                    kijk niet naar de speelronde-nummers maar liefst chronologisch-->
                                    @if(currentGameRound){
                                        @let statistics = statisticsGetter.getStatistics(s11Player,currentGameRound);
                                        @if(statistics){
                                        <s11-player-statistics [gameRound]="currentGameRound" [statistics]="statistics"
                                            [line]="s11Player.getLine()"
                                            [competitionConfig]="competitionConfig">
                                        </s11-player-statistics>
                                        }
                                    } 
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    } @else {
        <h2 class="text-center">
            <fa-icon [icon]=faSpinner [animation]="'spin'"></fa-icon>
        </h2>
    }
</div>