<div class="modal-header border-bottom-0 text-white {{getLineClass()}}">
    <h5 class="">{{s11Player.getPerson()?.getName() ?? 'onbekend'}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('cancel')"></button>
</div>
<div class="modal-body p-0">
    <app-s11player-info *ngIf="s11Player" [s11Player]="s11Player" [points]="points"></app-s11player-info>
    <!-- <div class="alert alert-success  mb-0" role="alert">
        toegevoegd
    </div> -->
    <div *ngIf="!s11Player" class="alert alert-danger  mb-0" role="alert">onbekende speler
    </div>
</div>
<!-- <div class="modal-footer d-flex justify-content-around">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="activeModal.close('continue')">meer
        spelers kiezen</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="activeModal.close('goback')">ga
        terug</button>
</div> -->