<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-6">
    <h2>
      <fa-icon [icon]=faUsers></fa-icon> deelnemers
    </h2>

    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]=faSpinner [animation]="'spin'"></fa-icon>
    </h2>

    @if(alert) {
    <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
    }
    <ngb-alert *ngIf="pool && pool.getAssemblePeriod().isIn()" type="warning">Let op: wanneer je team incompleet is, doet het
      NIET mee</ngb-alert>

    @if(!processing && pool) {
    <table class="table">
      <thead>
        <tr>
          <th>naam</th>
          <th *ngIf="pool.transferPeriodNotStarted()">
            gekozen spelers
          </th>
          <th *ngIf="pool.getTransferPeriod().isIn()">
            transfers
          </th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        @for(poolUser of poolUsers;track poolUser.getId()) {
        <tr>
          <td>
            {{poolUser.getName()}}
          </td>
          <td *ngIf="pool.transferPeriodNotStarted()">
            <fa-icon *ngIf="poolUser.getNrOfAssembled() < 15" [icon]=faTimesCircle class="text-danger">
            </fa-icon>
            <fa-icon *ngIf="poolUser.getNrOfAssembled() == 15" [icon]=faCheckCircle class="text-success">
            </fa-icon>
            {{poolUser.getNrOfAssembled()}}/15
          </td>
          <td *ngIf="pool.getTransferPeriod().isIn()">
            {{poolUser.getNrOfTransfers()}}/{{pool.getTransferPeriod().getMaxNrOfTransfers()}}
          </td>
          <!-- <td class="text-end">
            <button *ngIf="!poolUser.getAdmin() && canBeRemoved()" type="button" class="btn btn-sm btn-danger"
              [disabled]="processing" (click)="openRemoveApprovalModal(poolUser)">
              <fa-icon [icon]=faTrashAlt></fa-icon>
            </button>
          </td> -->
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>

@if(pool) { 
<app-pool-navbar [current]="PoolUsers" [pool]="pool" [poolUser]="poolUserFromSession"></app-pool-navbar>
}