<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

    <div *ngIf="!processing && pool" class="d-flex justify-content-between mt-3 mb-1">
      <h2 class="me-2 text-truncate">
        <fa-icon [icon]="['fas', 'users']"></fa-icon> {{getPoolUserName()}}
      </h2>
      <div>
        <!-- <button *ngIf="pool.getAssemblePeriod().isIn()" class="btn btn-secondary mx-2"
          [routerLink]="['/pool/scouting/list', pool.getId()]">
          <fa-icon [icon]="['fas', 'user-secret']"></fa-icon> <span class="ms-1 d-none d-sm-inline">
            scoutingslijst</span>
        </button> -->
        <button *ngIf="inAfterTransfer()" class="btn btn-outline-info me-1" [routerLink]="['/pool/formation/actions', pool.getId()]">
          <fa-icon [icon]="['fas', 'right-left']"></fa-icon>
        </button>
        <button class="btn btn-secondary" disabled>
          {{getFormationName()}}
        </button>
      </div>
    </div>


    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
    <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

    <!-- [assembleViewPeriod]="pool.getAssembleViewPeriod()" [transferViewPeriod]="pool.getTransferViewPeriod()"
          (linkToAssembleViewPeriod)="showAssemblePeriod($event)" (linkToTransferViewPeriod)="showTransferPeriod($event)"-->
    <div *ngIf="!processing && !processingStatistics && pool && poolUser">
      <div class="d-flex justify-content-between mt-3 mb-1 ms-3 me-4">
        <app-gameround-scroller [gameRounds]="gameRounds" [current]="currentGameRound"
          
          (update)="updateGameRound($event)">
        </app-gameround-scroller>
        <div>
          <span class="badge bg-totals">{{getTotalPoints()}}</span>
        </div>
      </div>

      <div>
        <!-- lines-->
        <app-pool-formationline-view *ngFor="let line of poolUser.getAssembleFormation()?.getLines()" [line]="line"
          (linkToPlayer)="linkToPlayer($event)" [gameRound]="currentGameRound">
        </app-pool-formationline-view>
      </div>
    </div>
    <h2 *ngIf="processingStatistics" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
  </div>
</div>