<div class="border-0 d-flex flex-wrap justify-content-start">
    <!-- card-played -->
    <div class="card m-2 align-self-start">
        <div class="card-header border-success">mee gedaan</div>
        basis<br />
        ingevallen<br />
        gewisseld<br />
        bank<br />
    </div>
    <!-- card-cards -->
    <div class="card m-2 align-self-start">
        <div class="card-header border-success">kaarten</div>
        geel<br />
        rood<br />
    </div>
    <!-- card-goals -->
    <div class="card m-2 align-self-start">
        <div class="card-header border-success">goals</div>
        assist<br />
        eigen<br />
        penalty<br />
        veld<br />
    </div>
    <!-- card-defense -->
    <div class="card m-2 align-self-start">
        <div class="card-header border-success">tegengoals</div>
        de nul<br />
        > 3<br />
    </div>
</div>