<div *ngIf="statistics && categoryPoints" class="border-0 d-flex justify-content-center">
    <!-- card-played -->
    <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.result)}}">
        <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.result)}}">
            <span>wed. punten</span>
            <span class="badge {{getBadgeClass(categoryPoints.result)}} float-end ms-1">{{categoryPoints.result}}</span>
        </div>
        <div class="card-body">
            <div>
                <span [ngClass]="{'text-decoration-line-through': !statistics.isStarting()}">basis</span>
            </div>
            <div>
                <span [ngClass]="{'text-decoration-line-through': !statistics.isSubstitute()}">ingevallen</span>
                <span *ngIf="statistics.isSubstitute()" class="float-end ms-1">{{statistics.getBeginMinute()}}"</span>
            </div>
            <div>
                <span [ngClass]="{'text-decoration-line-through': statistics.hasAppeared()}">bank</span>
            </div>
            <div>
                <span [ngClass]="{'text-decoration-line-through': !statistics.isSubstituted()}">gewisseld</span>
                <span *ngIf="statistics.isSubstituted()" class="float-end ms-1">{{statistics.getEndMinute()}}"</span>
            </div>
        </div>
    </div>
    <!-- card-goals -->
    <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.goal)}}">
        <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.goal)}}">
            <span>goals</span>
            <span class="badge {{getBadgeClass(categoryPoints.goal)}} float-end ms-1">{{categoryPoints.goal}}</span>
        </div>
        <div class="card-body">
            <div>
                <span [ngClass]="{'text-decoration-line-through': statistics.getNrOfFieldGoals() === 0}">veld</span>
                <span *ngIf="statistics.getNrOfFieldGoals() > 0"
                    class="float-end ms-1">{{statistics.getNrOfFieldGoals()}}x</span>
            </div>
            <div>
                <span [ngClass]="{'text-decoration-line-through': statistics.getNrOfAssists() === 0}">assist</span>
                <span *ngIf="statistics.getNrOfAssists() > 0"
                    class="float-end ms-1">{{statistics.getNrOfAssists()}}x</span>
            </div>
            <div>
                <span [ngClass]="{'text-decoration-line-through': statistics.getNrOfOwnGoals() === 0}">eigen</span>
                <span *ngIf="statistics.getNrOfOwnGoals() > 0"
                    class="float-end ms-1">{{statistics.getNrOfOwnGoals()}}x</span>
            </div>
            <div>
                <span [ngClass]="{'text-decoration-line-through': statistics.getNrOfPenalties() === 0}">penalty</span>
                <span *ngIf="statistics.getNrOfPenalties() > 0"
                    class="float-end ms-1">{{statistics.getNrOfPenalties()}}x</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="statistics && categoryPoints" class="border-0 d-flex justify-content-center">
    <!-- card-defense -->
    <div *ngIf="sheetActive" class="card m-2 align-self-start {{getBorderClass(categoryPoints.sheet)}}">
        <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.sheet)}}">
            <span>tegengoals</span>
            <span class="badge {{getBadgeClass(categoryPoints.sheet)}} float-end ms-1">{{categoryPoints.sheet}}</span>
        </div>
        <div class="card-body">
            <div>
                <span [ngClass]="{'text-decoration-line-through': !statistics.hasCleanSheet()}">de nul</span>
                <fa-icon *ngIf="statistics.hasCleanSheet()" [icon]="['fas', 'check-circle']"
                    class="float-end ms-1 text-success"></fa-icon>
            </div>

            <div>
                <span [ngClass]="{'text-decoration-line-through': !statistics.hasSpottySheet()}">&gt; 3</span>
                <fa-icon *ngIf="statistics.hasSpottySheet()" [icon]="['fas', 'check-circle']"
                    class="float-end ms-1 text-success">
                </fa-icon>
            </div>
        </div>
    </div>
    <!-- card-cards -->
    <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.card)}}">
        <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.card)}}">
            <span>kaarten</span>
            <span class="badge {{getBadgeClass(categoryPoints.card)}} float-end ms-1">{{categoryPoints.card}}</span>
        </div>
        <div class="card-body">
            <div>
                <span [ngClass]="{'text-decoration-line-through': statistics.getNrOfYellowCards() === 0}">geel</span>
                <span *ngIf="statistics.getNrOfYellowCards() > 0"
                    class="float-end ms-1">{{statistics.getNrOfYellowCards()}}x</span>
            </div>
            <div>
                <span [ngClass]="{'text-decoration-line-through': !statistics.gotDirectRedCard()}">rood</span>
                <fa-icon *ngIf="statistics.gotDirectRedCard()" [icon]="['fas', 'check-circle']"
                    class="float-end ms-1 text-success">
                </fa-icon>
            </div>
        </div>
    </div>
</div>