<div *ngIf="totals && categoryPoints" class="border-0 d-flex justify-content-center">
    <!-- card-played -->
    <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.result)}}">
        <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.result)}}">
            <span>wed. punten</span>
            <span class="badge {{getBadgeClass(categoryPoints.result)}} float-end ms-1">{{categoryPoints.result}}</span>
        </div>
        <div class="card-body">
            <div>
                <span>basis</span>
                <span class="float-end ms-1">{{totals.getNrOfTimesStarted()}}x</span>
            </div>
            <div>
                <span>ingevallen</span>
                <span class="float-end ms-1">{{totals.getNrOfTimesSubstitute()}}x</span>
            </div>
            <div>
                <span>gewisseld</span>
                <span class="float-end ms-1">{{totals.getNrOfTimesSubstituted()}}x</span>
            </div>
            <div>
                <span>bank</span>
                <span class="float-end ms-1">{{totals.getNrOfTimesNotAppeared()}}x</span>
            </div>
        </div>
    </div>
    <!-- card-goals -->
    <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.goal)}}">
        <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.goal)}}">
            <span>goals</span>
            <span class="badge {{getBadgeClass(categoryPoints.goal)}} float-end ms-1">{{categoryPoints.goal}}</span>
        </div>
        <div class="card-body">
            <div>
                <span>veld</span>
                <span class="float-end ms-1">{{totals.getNrOfFieldGoals()}}x</span>
            </div>
            <div>
                <span>assist</span>
                <span class="float-end ms-1">{{totals.getNrOfAssists()}}x</span>
            </div>
            <div>
                <span>eigen</span>
                <span class="float-end ms-1">{{totals.getNrOfOwnGoals()}}x</span>
            </div>
            <div>
                <span>penalty</span>
                <span class="float-end ms-1">{{totals.getNrOfPenalties()}}x</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="totals && categoryPoints" class="border-0 d-flex justify-content-center">
    <!-- card-defense -->
    <div *ngIf="sheetActive" class="card m-2 align-self-start {{getBorderClass(categoryPoints.sheet)}}">
        <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.sheet)}}">
            <span>tegengoals</span>
            <span class="badge {{getBadgeClass(categoryPoints.sheet)}} float-end ms-1">{{categoryPoints.sheet}}</span>
        </div>
        <div class="card-body">
            <div>
                <span>de nul</span>
                <span class="float-end ms-1">{{totals.getNrOfCleanSheets()}}x</span>
            </div>
            <div>
                <span>> 3</span>
                <span class="float-end ms-1">{{totals.getNrOfSpottySheets()}}x</span>
            </div>
        </div>
    </div>
    <!-- card-cards -->
    <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.card)}}">
        <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.card)}}">
            <span>kaarten</span>
            <span class="badge {{getBadgeClass(categoryPoints.card)}} float-end ms-1">{{categoryPoints.card}}</span>
        </div>
        <div class="card-body">
            <div>
                <span>geel</span>
                <span class="float-end ms-1">{{totals.getNrOfYellowCards()}}x</span>
            </div>
            <div>
                <span>rood</span>
                <span class="float-end ms-1">{{totals.getNrOfRedCards()}}x</span>
            </div>
        </div>
    </div>
</div>