<div class="container-fluid px-0">
  <div class="row justify-content-around no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <app-tournament-title [tournament]="tournament" [admin]="true">
      </app-tournament-title>
      <div class="d-flex justify-content-between">
        <h2>
          <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijdplanning
        </h2>
        <button *ngIf="tournament && structure && structure.hasPlanning() && hasAdminRole()" type="button"
          class="btn btn-sm btn-primary mr-0" [routerLink]="['/admin/startbreak', tournament.getId()]">
          start & pauze
        </button>
      </div>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <div *ngIf="!processing && structure">
        <app-tournament-roundnumber-planning *ngFor="let roundNumber of structure.getRoundNumbers()"
          [tournament]="tournament" [roundNumber]="roundNumber" [roles]="roles" [userRefereeId]="userRefereeId"
          [reload]="reload" (scroll)="scroll()">
        </app-tournament-roundnumber-planning>
      </div>
    </div>
  </div>
</div>