<app-pool-title [pool]="pool">
</app-pool-title>

<h2>
  <fa-icon [icon]="['fas', 'envelope']"></fa-icon> uitnodigen
</h2>

<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>

<ngb-alert *ngIf="alert" [type]="alert.type">
  {{ alert.message }}</ngb-alert>

<form *ngIf="!processing" name="form" class="max-page-width" (ngSubmit)="false" [formGroup]="form" novalidate>
  <div class="form-group row">
    <label for="url" class="col-sm-4 col-form-label">link</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" formControlName="url">
    </div>
  </div>
  <div class="form-row">
    <button ngxClipboard type="button" class="btn btn-primary btn-block" (cbOnSuccess)="showCopiedToClipboard()"
      [cbContent]="form.controls.url.value">
      <fa-icon [icon]="['fas', 'clipboard-check']"></fa-icon> de link kopieren naar het klembord
    </button>
  </div>
</form>