<div *ngIf="line" class="card mt-0 border-0">

  <div class="card-body pb-0">
    <h5 class="card-title">
      <app-lineicon [line]="line.getNumber()" [abbreviate]="false"></app-lineicon>
    </h5>
    <table class="table {{getLineClass('border')}}">
      <tbody>
        <ng-container *ngFor="let place of line.getStartingPlaces()" [ngTemplateOutlet]="placeRow"
          [ngTemplateOutletContext]="{place:place, s11Player: place.getPlayer(), currentTeam: getCurrentTeam(place.getPlayer())}">
        </ng-container>
        <ng-container [ngTemplateOutlet]="placeRow"
          [ngTemplateOutletContext]="{place:line.getSubstitute(), s11Player: line.getSubstitute().getPlayer(), currentTeam: getCurrentTeam(line.getSubstitute().getPlayer())}">
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<ng-template #placeRow let-place="place" let-s11Player="s11Player" let-currentTeam="currentTeam">
  <tr *ngIf="processing">
    <td colspan=3 class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </td>
  </tr>
  <tr *ngIf="!processing" (click)="substituteAction(place)" [ngClass]="{'pointer': s11Player}">
    <td class="{{getSubstituteClass(place.isSubstitute())}}">
      <span *ngIf="s11Player">{{s11Player.getPerson().getName()}}</span>
      <button *ngIf="!s11Player" type="button" class="btn btn-outline-danger btn-sm" (click)="substitute.emit(place)">
        kies een {{place.isSubstitute() ? 'wissel' : 'speler'}}
      </button>
      <span *ngIf="place.isSubstitute()" class="badge badge-reserve ms-1">r</span>
    </td>
    <td class="{{getSubstituteClass(place.isSubstitute())}}">
      <app-team-name *ngIf="currentTeam" [team]="currentTeam" [fullName]="false"></app-team-name>
    </td>
    <td class="text-end" class="{{getSubstituteClass(place.isSubstitute())}}">
      <button *ngIf="!hasLineSubstitution(place.getLine()) && !place.isSubstitute()" type="button" class="btn btn-primary btn-sm">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
      </button>      
      <button *ngIf="hasLineSubstitution(place.getLine()) && place.isSubstitute()" type="button" class="btn btn-primary btn-sm">
        <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
      </button>
    </td>    
  </tr>
</ng-template>