<div class="d-flex justify-content-around mb-2">
  <h1>nieuw toernooi</h1>
  <h1 class="mr-1">
    <button [routerLink]="['']" type="button" class="btn btn-dark ml-3">
      <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
      <span class="ml-1 d-none d-md-inline"> terug</span>
    </button>
  </h1>
</div>

<button type="button" class="btn btn-lg btn-primary btn-block mt-3" [routerLink]="['/user/register']">
  <fa-icon [icon]="['fas', 'user-circle']"></fa-icon> registreren
</button>
<button type="button" class="btn btn-xl btn-primary btn-block mt-3" [routerLink]="['/user/login']">
  <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> inloggen
</button>