.person-base {
    min-width: 152px;
}

img.team {
    max-height: 2rem;
}

app-lineicon {
    width: 25px;
}

tr>td {
    padding-top: 0px;
    border-bottom: 0px;
}

tr.sourceGameHome {
    border-top-width: 1rem;
    border-top-color: white;
}

.underline {
    text-decoration-line: underline;
}

.btn-fixed-width {
    width: 13rem;
}

.player-img {
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

.competitionsNavBarHeight {
    height: 80px;
}