<div class="container-fluid">
  <app-tournament-title [tournament]="tournament" [admin]="true">
  </app-tournament-title>
  <div>
    <div class="d-flex justify-content-between mb-1">
      <h2>
        <fa-icon [icon]="['fac', 'structure']"></fa-icon> opzet
      </h2>
      <div>
        <button *ngIf="!processing && clonedStructure && !clonedStructure.getRootRound().hasBegun()" role="button"
          [disabled]="!changedRoundNumber" (click)="saveStructure()" class="btn btn-primary ml-1">
          <fa-icon [icon]="['fas', 'save']"></fa-icon>
          <span> opslaan</span>
        </button>
      </div>
    </div>
    <div>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
    </div>
  </div>
  <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
  <div *ngIf="!processing && clonedStructure" class="row text-center">
    <app-tournament-structureround [editable]="true" [round]="clonedStructure.getRootRound()"
      (roundNumberChanged)="setChangedRoundNumber($event)" [first]="false" [placeLocationMap]="placeLocationMap">
    </app-tournament-structureround>
  </div>
</div>
<div class="d-flex justify-content-around mt-3 mb-1">
  <button *ngIf="!processing && clonedStructure && !clonedStructure.getRootRound().hasBegun()" role="button"
    [disabled]="!changedRoundNumber" (click)="saveStructure()" class="btn btn-primary">
    <fa-icon [icon]="['fas', 'save']"></fa-icon>
    <span> opslaan</span>
  </button>
</div>

<!-- <ng-template #content let-c="close" let-d="dismiss"> -->