<div class="container-fluid">
  <app-tournament-title [tournament]="tournament">
  </app-tournament-title>
  <div>
    <div class="d-flex justify-content-between mb-1">
      <h2>
        <fa-icon [icon]="['fac', 'structure']"></fa-icon> opzet
      </h2>
    </div>
    <div>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
    </div>
  </div>
  <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
  <div class="text-center">
    <button *ngIf="!processing && tournament && isAdmin()" [routerLink]="['/admin', tournament.getId()]" type="button"
      class="btn btn-warning w-100 mb-3">
      naar het beheergedeelte
    </button>
  </div>
  <div *ngIf="!processing" class="row text-center">
    <app-tournament-structureround [editable]="false" [round]="structure.getRootRound()" [favorites]="competitors"
      [placeLocationMap]="placeLocationMap">
    </app-tournament-structureround>
  </div>
</div>