hier zo maken dat wanneer je bijv 1 week na de transfer periode zit dan tonen als : <br/>
    <= T 21 22 23<br/>
    op pijltje naar andere viewperiod  <br />
    op t transfers tonen <br />
    active ronde duidelijk aangeven <br />
    voor wedstrijdenscherm kan meer vooruit kijken handig zijn <br />
    swipen voor tonen eerdere/recentere ronden 
    
<div class="d-flex justify-content-center">    
    <div class="btn-group" role="group" aria-label="aantal">
        <button *ngIf="assembleViewPeriod() !== currentViewPeriod()" type="button" class="btn btn-outline-primary me-2" (click)="updateViewPeriod.emit(assembleViewPeriod())">
            <fa-icon [icon]=faChevronLeft></fa-icon>
            <fa-icon [icon]=faChevronLeft></fa-icon>
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="previous()">
            <fa-icon [icon]=faChevronLeft></fa-icon>
        </button>
        <button [disabled]="true" type="button" class="btn btn-outline-primary btn-fixed-width">
            {{getCurrentLabel()}}
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="next()">
            <fa-icon [icon]=faChevronRight></fa-icon>
        </button>
        <button *ngIf="transferViewPeriod() !== currentViewPeriod()" type="button" class="btn btn-outline-primary ms-2 text-nowrap" (click)="updateViewPeriod.emit(transferViewPeriod())">
            <fa-icon [icon]=faChevronRight></fa-icon><fa-icon [icon]=faChevronRight></fa-icon>
        </button>
    </div>
</div>