
    
<div class="d-flex justify-content-center">    

    <div class="btn-group" role="group" aria-label="aantal">
 
        @if(isCurrentViewPeriodTheTransferViewPeriod()){
            <div>
                <button type="button" class="btn text-nowrap btn-outline-primary me-2" (click)="selectViewPeriod.emit(AssembleViewPeriod)">
                    <fa-icon [icon]=faChevronLeft></fa-icon>
                    <fa-icon [icon]=faChevronLeft></fa-icon>
                </button>
                <div class="me-2">
                    <ngb-progressbar class="d-none" [value]="0" [max]="100"></ngb-progressbar>
                </div>
            </div>

            <div>
                <button type="button" class="btn btn-outline-primary me-4" (click)="selectTransferPeriod.emit(TransferPeriod)">
                T
                </button>
                
                <div class="me-2">
                    <ngb-progressbar class="d-none" [value]="0" [max]="100"></ngb-progressbar>
                </div>
            </div>
        }
        
        <!-- previous -->
        <div>
            <button type="button" [disabled]="previousGameRound() == undefined" 
                class="btn btn-outline-{{previousGameRound() == undefined ? 'secondary' : 'primary'}} me-2" (click)="previous.emit()">
                <fa-icon [icon]=faChevronLeft></fa-icon>
            </button>
            <div class="me-2">
                <ngb-progressbar class="d-none" [value]="0" [max]="100"></ngb-progressbar>
            </div>
        </div>

        <!-- gamerounds -->
        @for (gameRound of gameRounds(); track $index) {
            <div>
                <button type="button" class="btn btn-{{ activeGameRound() !== gameRound ? 'outline-primary' : 'outline-info' }} me-2 mb-1" (click)="selectGameRound.emit(gameRound)">
                    {{gameRound.number}}
                </button>
                <div class="me-2">
                    <ngb-progressbar-stacked>
                        <ngb-progressbar type="success" [value]="this.getPercentageFinished(gameRound)"></ngb-progressbar>
                        <ngb-progressbar type="warning" [value]="this.getPercentageInProgress(gameRound)"></ngb-progressbar>
                        <ngb-progressbar type="danger" [value]="this.getPercentageCreated(gameRound)"></ngb-progressbar>                        
                    </ngb-progressbar-stacked>
                </div>
            </div>            
        }
        <!-- next -->
        <div>
            <button type="button" [disabled]="nextGameRound() == undefined" 
                class="btn btn-outline-{{nextGameRound() == undefined ? 'secondary' : 'primary'}} me-2" (click)="next.emit()">
                <fa-icon [icon]=faChevronRight></fa-icon>
            </button>
            <div class="me-2">
                <ngb-progressbar class="d-none" [value]="0" [max]="100"></ngb-progressbar>
            </div>
        </div>

        @if(isCurrentViewPeriodTheTransferViewPeriod()){
            <div>
                <div class="ms-4">
                    <ngb-progressbar class="d-none" [value]="0" [max]="100"></ngb-progressbar>
                </div>
            </div>
            
            <div>
                <button type="button" class="btn btn-outline-primary text-nowrap ms-2" (click)="selectViewPeriod.emit(TransferViewPeriod)">
                    <fa-icon [icon]=faChevronRight></fa-icon>
                    <fa-icon [icon]=faChevronRight></fa-icon>
                </button>
                <div class="ms-2">
                    <ngb-progressbar class="d-none" [value]="0" [max]="100"></ngb-progressbar>
                </div>
            </div>

            
        }
        
    </div>
</div>