<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <app-tournament-title [tournament]="tournament"></app-tournament-title>
            <div class="d-flex justify-content-between mr-1 mb-3">
                <h2>
                    <fa-icon [icon]="['fas', 'user-friends']"></fa-icon> gebruiker toevoegen
                </h2>
                <button type="button" class="btn btn-sm btn-outline-info" (click)="openHelpModal()">
                    <fa-icon [icon]=" ['fas', 'info-circle' ]"></fa-icon> info
                </button>
            </div>
            <h2 *ngIf="processing" class="text-center">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </h2>
            <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
            <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
                <div class="form-group row">
                    <div class="col-3 col-sm-6">
                        <label for="emailaddress" class="col-form-label">emailadres</label>
                    </div>
                    <div class="col-9 col-sm-6">
                        <input class="form-control"
                            [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
                            type="email" formControlName="emailaddress"
                            placeholder="max. {{validations.maxlengthemailaddress}} karakters">
                    </div>
                </div>

                <div *ngFor="let roleItem of roleItems" class="form-group row">
                    <label for="role{{roleItem.value}}" class="col-3 col-sm-6 col-form-label">
                        <span>{{getRoleName(roleItem.value)}}</span></label>
                    <div class="form-check col-9 col-sm-6">
                        <label class="custom-control custom-checkbox col-form-label pl-0">
                            <input type="checkbox" class="custom-control-input form-check-input"
                                formControlName="role{{roleItem.value}}" [checked]="roleItem.selected"
                                (ngModelChange)="toggleRoleItem(roleItem)">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row justify-content-end">
                    <div class="col-9 col-sm-6">
                        <button [disabled]="form.invalid || !hasSomeRoleSelected()" type="submit"
                            class="btn btn-primary">
                            toevoegen & uitnodigen
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>