<div class="modal-header border-bottom-0">
    <h4 class="modal-title">{{header}}</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="activeModal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="showAdd" type="info" [dismissible]="false">De uitnodigings-email wordt alleen verstuurd,
        wanneer het emailadres onbekend is bij SuperElf.</ngb-alert>
    <table class="table">
        <tr *ngFor="let roleDefinition of roleDefinitions">
            <td class="font-weight-bold border-info">{{roleDefinition.name}}</td>
            <td class="border-info">{{roleDefinition.description}}</td>
        </tr>
    </table>

</div>
<div class="modal-footer justify-content-reverse border-top-0">
    <button type="submit" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.close('linkToReferees')">
        <fa-icon [icon]=" ['fac', 'referee' ]"></fa-icon> naar scheidsrechters
    </button>
    <button type="submit" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.dismiss('close')">sluiten</button>
</div>