<div>
    <div class="row justify-content-center no-gutters">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <app-tournament-title [tournament]="tournament" [admin]="true">
            </app-tournament-title>
            <div class="d-flex justify-content-between mx-2">
                <h2>
                    <fa-icon [icon]="['fas', 'user-friends']"></fa-icon> gebruikers
                </h2>
                <div *ngIf="!processing">
                    <button type="button" class="btn btn-sm btn-outline-info" (click)="openHelpModal()">
                        <fa-icon [icon]=" ['fas', 'info-circle' ]"></fa-icon><span class="d-none d-sm-inline">
                            info</span>
                    </button>
                    <button type="button" class="btn btn-sm ml-2 mr-0 btn-outline-primary"
                        [routerLink]="['/admin/authorization', tournament.getId()]">
                        <span class="d-none d-sm-inline">gebruiker</span>toevoegen
                    </button>
                </div>
            </div>
            <h2 *ngIf="processing" class="text-center">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </h2>
            <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
            <ul *ngIf="!processing" class="list-unstyled">
                <li>
                    <div *ngFor="let tournamentUser of getValidTournamentUsers()"
                        class="card border-secondary mt-3 mx-2">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0 mt-2">{{tournamentUser.getUser().getEmailaddress()}} </h5>
                                <button *ngIf="canBeRemoved(tournamentUser)" [disabled]="roleProcessing"
                                    class="btn btn-sm btn-outline-danger ml-1"
                                    (click)="openModalRemove(contentremove, tournamentUser, tournamentUser.hasARole(RoleReferee))">
                                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush w-100">
                            <app-tournament-authorization-role *ngFor="let role of getAssignableRoles(tournamentUser)"
                                [role]="role" [disabled]="!canToggleRole(tournamentUser, role.role)"
                                [processing]="rolesAreEqual(roleProcessing, role)"
                                (toggleRole)="toggleRole($event,contentremove)">
                            </app-tournament-authorization-role>
                        </ul>
                    </div>

                    <div *ngFor="let invitation of invitations" class="card border-secondary mt-3 mx-2">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0 mt-2">{{invitation.getEmailaddress()}} <span
                                        class="badge badge-info">gebruiker nog onbekend</span></h5>
                                <button class="btn btn-sm btn-outline-danger ml-1" [disabled]="roleProcessing"
                                    (click)="openModalRemove(contentremove, invitation)">
                                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush w-100">
                                <app-tournament-authorization-role *ngFor="let role of getAssignableRoles(invitation)"
                                    [role]="role" [processing]="rolesAreEqual(roleProcessing, role)"
                                    (toggleRole)="toggleRole($event,contentremove)"></app-tournament-authorization-role>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #contentremove let-modal>
    <div class="modal-header">
        <h4 class="modal-title">gebruiker verwijderen</h4>
        <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Weet je zeker dat je de gebruiker wilt verwijderen? <span *ngIf="removeWithRefereeRole">De
                gebruiker
                blijft wel
                scheidsrechter.</span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.close('remove')">nu
            verwijderen</button>
    </div>
</ng-template>