<li class="d-flex list-group-item justify-content-between align-items-center">
    <span>{{description}}</span>
    <fa-icon class="my-2" *ngIf="processing" [icon]="['fas', 'spinner']" [spin]="true">
    </fa-icon>
    <label *ngIf="!processing" class="custom-control custom-checkbox col-form-label pl-0">
        <input type="checkbox" class="custom-control-input form-check-input"
            [checked]="role.authorization.hasRoles(role.role)" (change)="toggle()" [disabled]="disabled">
        <span class="custom-control-indicator"></span>
    </label>
</li>