<div class="modal-header text-center">
    <h4 class="modal-title display-inline-block ">{{getHeader()}}</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="current" class="modal-body">    

    <div *ngIf="currentTrophy" class="text-center">    
         <ng-particles
            [id]="tsparticlesId"
            [options]="particlesOptions"
            [particlesInit]="particlesInit"            
            (particlesLoaded)="particlesLoaded($event)"
        ></ng-particles>
        

        <div><h4>{{currentTrophy.getCompetition().getName().replace('20', '').replace('20', '')}}</h4></div>
        <div>
            <app-superelf-icon size="5x" [leagueName]="nameService.convertToLeagueName(currentTrophy.getCompetition())"></app-superelf-icon>
        </div>
        <div>{{ currentTrophy.getRank() === 1 ? 'kampioen' : 'runner-up'}}</div>
        <div><h2 class="fw-bold">{{currentTrophy.poolUser.user.name}}</h2></div>
    </div>
    <div *ngIf="currentBadge" class="text-center">    
        <!-- <div>{{ trophy.getRank() === 1 ? 'kampioen' : 'runner-up'}}</div>
        <div><app-superelf-icon [large]="true" [leagueName]="trophy.getCompetition().league.name"></app-superelf-icon>          </div>
        <div>{{trophy.poolUser.user.name}}</div> -->
    </div>
    
</div>
<div class="modal-footer d-flex justify-content-around border-top-0">
    <button type="button" class="btn btn-secondary" [attr.disabled]="previousAchievements.length === 0 ? true : null" (click)="previous()">vorige</button>
    <button *ngIf="nextAchievements.length > 0" type="button" class="btn btn-secondary" (click)="next()">volgende</button>
    <button *ngIf="nextAchievements.length === 0" type="button" class="btn btn-secondary" (click)="modal.dismiss('close')">sluiten</button>
</div>

