<app-title *ngIf="pool" [title]="pool.getName()"></app-title>

<h2>
  <fa-icon [icon]="['fas', 'users']"></fa-icon> spelers kiezen
</h2>

<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>

<ngb-alert *ngIf="alert" [type]="alert.type">
  {{ alert.message }}</ngb-alert>

<form *ngIf="!processing && pool" name="form" (ngSubmit)="false" [formGroup]="form" novalidate>
  <div class="d-flex justify-content-around">
    <select class="form-control me-1" formControlName="searchTeam" (change)="searchPersons(pool)">
      <option [ngValue]="undefined" selected>
        Alle clubs
      </option>
      <option *ngFor="let team of searchTeams" [ngValue]="team">{{team.getName()}}</option>
    </select>
    <select class="form-control ms-1" formControlName="searchLine" (change)="searchPersons(pool)">
      <option *ngFor="let line of searchLines" [ngValue]="line">{{nameService.getFormationLineName(line)}}</option>
    </select>
  </div>
</form>

<table *ngIf="!processing && pool && foundPlayers" class="table">
  <tbody>
    <tr *ngFor="let player of foundPlayers">
      <td>
        {{player.getLine()}}
      </td>
      <td>
        {{player.getPerson().getName()}}

      </td>
      <td>
        {{player.getTeam().getAbbreviation()}}
      </td>
      <td class="text-end">
        PP
      </td>
      <td class="text-end">
        <button *ngIf=!inScoutingList(player.getPerson()) type="button" class="btn btn-secondary btn-sm"
          (click)="addToScoutingList(player.getPerson(), pool)">
          <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>