@let tmplAgainstGame = againstGame();
@if(tmplAgainstGame) {        
<th class="pb-0 pt-4 fw-light"
    [class]="{'text-decoration-line-through': tmplAgainstGame.getState() === Finished}">
    <small>
        @let dateTitle = dateFormatter.toString(tmplAgainstGame.getStartDateTime(),dateFormatter.date());
        @let timeTitle = dateFormatter.toString(tmplAgainstGame.getStartDateTime(),dateFormatter.time());
        {{dateTitle}} {{timeTitle}}
    </small>
</th>
}

<th class="text-end">
    <ng-container *ngTemplateOutlet="side; context: {side: HomeSide}"></ng-container>
</th>

<th class="text-center px-0">    
    @if(againstGame().getState() === Finished) {        
        <span class="text-nowrap">{{s11NameService.getAgainstScore(againstGame())}}</span>
    } @else {
        VS        
    }
</th>

<th>
    <ng-container *ngTemplateOutlet="side; context: {side: AwaySide}"></ng-container>
</th>

<ng-template #side let-side="side">
    @let sideCompetitor = sportExtensions.getCompetitor(againstGame(), side);
    @if(sideCompetitor) {
        @let team = getTeam(sideCompetitor);
        @if(team){
            <div class="w-100" [ngClass]="{'align-self-end': side == HomeSide}">
                @if(isTeamCompetitor(sideCompetitor)) {
                    <app-team-name [team]="team" [fullName]="true" [reverse]="side == HomeSide">
                    </app-team-name>
                }
                
            </div>
        }
    }
</ng-template>
