@let showPoints = sourceAgainstGame().getState() === Finished;
<ng-container
    *ngTemplateOutlet="contentHome; context:{poolUserRow: poolUserRow(), gameRound: gameRound(), showPoints: showPoints}">
</ng-container>
<td class="text-center px-0">
    <a routerLink="getRouterLink(poolUser)">
        {{poolUserRow().poolUser.getName()}}
    </a>
</td>
<ng-container
    *ngTemplateOutlet="contentAway; context:{poolUserRow: poolUserRow(), gameRound: gameRound(), showPoints: showPoints}">
</ng-container>

<ng-template #contentHome let-poolUserRow="poolUserRow" let-gameRound="gameRound" let-showPoints="showPoints">
  @let formationPlace = poolUserRow.homeFormationPlace;
  @let s11Player = formationPlace?.getPlayer();  
  <!-- sub -->
  <td class="px-0">              
    @if(formationPlace?.isSubstitute()){
      <span class="badge badge-reserve ms-1">r</span>
    }
  </td>

  <!-- name -->
  <td [attr.colspan]="showPoints ? 1 : 2" class="text-end px-0">
      @if(s11Player){
        <span class="px-1 text-break">{{s11Player.getPerson().getName()}}</span>
      }
  </td>

  <!-- line -->
  <td>
      @if(s11Player){
          <app-lineicon [line]="s11Player.getLine()"></app-lineicon>
      }
  </td>
  
  <!-- points -->
  @if(showPoints) {
    <td class="ps-0">
      @if(formationPlace && statisticsGetter().placeHasStatistics(formationPlace,gameRound)){
        @if(!formationPlace.isSubstitute()){        
          @if(statisticsGetter().hasAppeared(formationPlace, gameRound)){          
              <button type="button" class="btn btn-sm text-white bg-points" (click)="openPlayerModal(s11Player)">
                {{statisticsGetter().getFormationPlaceGameRoundPoints(formationPlace,gameRound.number, undefined)}}
              </button>              
          }
          @else {
            <span class="badge bg-nopoints">x</span>
          }
        } @else if( formationPlace.getFormationLine().hasSubstituteAppareance(gameRound) ) {
          
          @if(statisticsGetter().hasAppeared(formationPlace,gameRound)) {
            <button type="button" class="btn btn-sm text-white bg-points" (click)="openPlayerModal(s11Player)">
              {{statisticsGetter().getFormationPlaceGameRoundPoints(formationPlace,gameRound.number, undefined)}}
            </button>
          } @else {            
            <span class="badge bg-nopoints">x</span>
          }
        }
      }
    </td>
  }
</ng-template>

<ng-template #contentAway let-poolUserRow="poolUserRow" let-gameRound="gameRound" let-showPoints="showPoints">
  @let formationPlace = poolUserRow.awayFormationPlace;
  @let s11Player = formationPlace?.getPlayer();  

  <!-- points -->
  @if(showPoints) {
    <td class="pe-0">
      @if(formationPlace && statisticsGetter().placeHasStatistics(formationPlace,gameRound)){
        @if(!formationPlace.isSubstitute()){        
          @if(statisticsGetter().hasAppeared(formationPlace, gameRound)){          
            <button type="button" class="btn btn-sm text-white bg-points" (click)="openPlayerModal(s11Player)">
              {{statisticsGetter().getFormationPlaceGameRoundPoints(formationPlace,gameRound.number, undefined)}}
            </button>
          }
          @else {
            <span class="badge bg-nopoints">x</span>
          }
        } @else if( formationPlace.getFormationLine().hasSubstituteAppareance(gameRound) ) {          
          @if(statisticsGetter().hasAppeared(formationPlace,gameRound)) {
            <button type="button" class="btn btn-sm text-white bg-points" (click)="openPlayerModal(s11Player)">
              {{statisticsGetter().getFormationPlaceGameRoundPoints(formationPlace,gameRound.number, undefined)}}
            </button>
          } @else {            
            <span class="badge bg-nopoints">x</span>
          }
        }
      }
    </td>
  }

  <!-- line -->
  <td>
      @if(s11Player){
          <app-lineicon [line]="s11Player.getLine()"></app-lineicon>
      }
  </td>

    <!-- name -->
  <td [attr.colspan]="showPoints ? 1 : 2" class="px-0">
      @if(s11Player){    
        <span class="px-1 text-break">{{s11Player.getPerson().getName()}}</span>
      }
  </td>

  <!-- sub -->
  <td class="px-0">
    @if(formationPlace?.isSubstitute()){
      <span class="badge badge-reserve ms-1">r</span>
    }
  </td>

</ng-template>