<!--
CompetitionRankingScreen
CupStructure
SuperCupGame                                          Uitnodigen
WorldCupStructure                                     Deelnemers

TTTT                                                  TTTT

competities  | programma | prijzenkast | spelregels | beheer
-->

<div>&nbsp;</div>
<div class="mt-3">&nbsp;</div>
<nav class="fixed-bottom navbar-dark bg-dark border-top ">

  
  <div ngIf="Competitions === current() && upperNavBar">
    <ng-container *ngTemplateOutlet="upperNavBar()"></ng-container>    
  </div>

  
  <div class="navbar-parent justify-content-center">

    <!-- invite -->
    <h2 ngIf="pool && poolUser && poolUser.getAdmin() && pool.getCreateAndJoinPeriod().isIn()"
      class="mb-0 pt-cus navbar-item">
      <a type="button" class="btn {{getTextColorClass(Admin)}} pt-cus" (click)="linkTo(Invite)">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon> <br /><span>uitnodigen</span>
      </a>
    </h2>
        
        

    <!-- poolusers -->
    <h2 ngIf="pool.getCompetitionConfig().isInCreateOrJoinOrAssemblePeriod()" class="mb-0 navbar-item">
      <a type="button" class="btn {{getTextColorClass(PoolUsers)}} pt-cus" (click)="linkTo(PoolUsers)">
        <fa-icon style="display: 'inline-block'; font-size: 1.3rem" [icon]="['fas', 'calendar-alt']"></fa-icon>
        <br /><span>deelnemers</span>
      </a>
    </h2>
  
    <!-- competitions -->
    <h2 ngIf="pool.getCompetitionConfig().afterAssemblePeriod()" class="mb-0 navbar-item">
      <a type="button" class="btn {{getTextColorClass(Competitions)}}" (click)="linkTo(Competitions)">
        <app-superelf-icon [large]="true" [name]="'structure'"></app-superelf-icon><br /><span class="">competities</span>
      </a>
    </h2>

    <!--schedule -->
    <!-- and if scheduleGameRoundNumber ??-->
    <h2 ngIf="pool.getCompetitionConfig().afterAssemblePeriod()" class="mb-0 navbar-item">
      <a type="button" class="btn {{getTextColorClass(Schedule)}} pt-cus" (click)="linkTo(Schedule)">
        <fa-icon style="display: 'inline-block'; font-size: 1.3rem" [icon]="['fas', 'calendar-alt']"></fa-icon>          
        <br /><span>programma</span>
      </a>
    </h2>

    <ng-container ngIf="pool.getCompetitionConfig().getAssemblePeriod().isIn();else scouting">    
      <!-- my team -->
      <h2 class="mb-0 navbar-item">
        <a type="button" class="btn {{getTextColorClass(MyTeam)}} pt-cus" (click)="linkTo(MyTeam)">
          <fa-icon [icon]="['fas', 'users']"></fa-icon>
          <br /><span>mijn team</span>
        </a>
      </h2>    
    </ng-container>
    <ng-template #scouting>
      <!-- scouting -->
      <h2 ngIf="pool.getCompetitionConfig().getCreateAndJoinPeriod().isIn()" class="mb-0 navbar-item">
        <a type="button" class="btn {{getTextColorClass(Scouting)}} pt-cus" (click)="linkTo(Scouting)">
          <fa-icon style="display: 'inline-block'; font-size: 1.3rem" [icon]="['fas', 'user-secret']"></fa-icon>
          <br /><span>scouting</span>
        </a>
      </h2>
    </ng-template>

    <ng-container ngIf="poolUser && pool.getCompetitionConfig().getTransferPeriod().isIn();else achievements">
      <!-- transfers -->
      <h2 class="mb-0 navbar-item">
        <a type="button" class="btn {{getTextColorClass(Transfers)}} long-and-truncated position-relative"
          (click)="linkTo(Transfers)">
          <app-superelf-icon [large]="true" [name]="'trophy'"></app-superelf-icon>
          <br /><span>transfers</span>
        </a>
      </h2>
    </ng-container>
    <ng-template #achievements>
      <!--achievements -->
      <h2 class="mb-0 navbar-item">
        <a type="button" class="btn {{getTextColorClass(Achievements)}} long-and-truncated position-relative"
          (click)="linkTo(Achievements)">
          <app-superelf-icon [large]="true" [name]="'trophy'"></app-superelf-icon>
          <br /><span>prijzenkast</span>
          <span ngIf="hasUnviewedAchievements"
            class="position-absolute top-0 start-75 translate-middle p-2 mt-2 me-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">nieuwe prijzen</span>
          </span>
        </a>
      </h2>
    </ng-template>

    <!--rules (no admin)-->
    <h2 class="mb-0 pt-cus navbar-item">
      <a type="button" class="btn {{getTextColorClass(Rules)}} pt-cus" (click)="linkTo(Rules)">
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
        <br />spelr<span class="d-xs-inline d-sm-none">.</span><span class="d-none d-sm-inline">egels</span>
      </a>
    </h2>

  </div>
  
</nav>