<!--
CompetitionRankingScreen
CupStructure
SuperCupGame                                          Uitnodigen
WorldCupStructure                                     Deelnemers

TTTT                                                  TTTT

competities  | programma | prijzenkast | spelregels | beheer
-->

<div>&nbsp;</div>
<div class="mt-3">&nbsp;</div>
<nav class="fixed-bottom navbar-dark bg-dark border-top ">
  
  <div class="navbar-parent justify-content-center">

    <!--WorldCupStructure -->
    <h2 class="mb-0 navbar-item">
      <a type="button" class="btn {{getTextColorClass(Competitions)}} pt-cus" (click)="linkTo(Competitions)">
        <app-superelf-trophy-icon size="2x" [leagueName]="WorldCup"></app-superelf-trophy-icon>
        <br /><span>{{nameService.getLeagueName(WorldCup)}}</span>
      </a>
    </h2>

    <!--schedule -->
    <!-- and if scheduleGameRoundNumber ??-->
    <h2 ngIf="pool.getCompetitionConfig().afterAssemblePeriod()" class="mb-0 navbar-item">
      <a type="button" class="btn {{getTextColorClass(Schedule)}} pt-cus" (click)="linkTo(Schedule)">
        <fa-icon style="display: 'inline-block'; font-size: 1.3rem" [icon]="['fas', 'calendar-alt']"></fa-icon>          
        <br /><span>programma</span>
      </a>
    </h2>

      <!--achievements -->
    <h2 class="mb-0 navbar-item">
      <a type="button" class="btn {{getTextColorClass(Achievements)}} long-and-truncated position-relative" (click)="linkTo(Achievements)">
        <app-superelf-icon [large]="true" [name]="'trophy'"></app-superelf-icon>
        <br /><span>prijzenkast</span>   
        <span ngIf="hasUnviewedAchievements" class="position-absolute top-0 start-75 translate-middle p-2 mt-2 me-2 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">nieuwe prijzen</span>
        </span>     
      </a>
    </h2>

    <!--rules (no admin)-->
    <h2 class="mb-0 pt-cus navbar-item">
      <a type="button" class="btn {{getTextColorClass(Rules)}} pt-cus" (click)="linkTo(Rules)">
        <fa-icon [icon]="['fas', 'level-up-alt']" [rotate]="270"></fa-icon>
        <br />terug
      </a>
    </h2>

  </div>
  
</nav>