<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <app-tournament-title [tournament]="tournament"></app-tournament-title>
      <div>
        <h2>
          <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemer
        </h2>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="place" class="col-form-label">plek</label>
          </div>
          <div class="col-9">
            <span class="form-control-plaintext">{{nameService.getPouleLetter(pouleNr) }}{{placeNr}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.name.invalid, 'is-valid': form.controls.name.valid }" type="text"
              formControlName="name" placeholder="max. {{validations.maxlengthname}} karakters"
              [focuMe]="competitor === undefined">
          </div>
        </div>
        <div class="form-group row">
          <label for="registered" class="col-3 col-form-label">
            <span [ngClass]="{ 'registered-xs': form.controls.registered.value }">aangemeld</span></label>
          <div class="form-check col-9">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="registered">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="info" class="col-form-label">info</label>
          </div>
          <div class="col-9">
            <textarea class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.info.invalid, 'is-valid': form.controls.info.valid }"
              formControlName="info" placeholder="max. {{validations.maxlengthinfo}} karakters"></textarea>
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
              <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemer opslaan
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>