<td>
  <button #btnEdit type="button" class="btn btn-sm btn-primary" (click)="edit()">
    <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
  </button>
</td>
<td>
  <span>{{nameService.getPlaceFromName(place, false)}}</span>
</td>
<td *ngIf="competitor && !showLockerRoomNotArranged">
  <span [ngClass]="{ 'registered-xs': competitor.getRegistered() }">{{competitor.getName()}}</span>
</td>
<!-- show tooltip -->
<td *ngIf="competitor && showLockerRoomNotArranged" class="pointer" container="body" placement="top" autoClose="outside"
  [ngbPopover]="popLockerRoom" #p="ngbPopover">
  <span [ngClass]="{ 'registered-xs': competitor.getRegistered() }">{{competitor.getName()}}
  </span>
  <fa-icon [icon]="['fas', 'door-closed']" class="text-warning"></fa-icon>
</td>
<td *ngIf="!competitor">
  <button #btnEdit type="button" class="btn btn-sm btn-outline-warning" (click)="edit()">vul een naam in</button>
</td>
<td class="text-center d-none d-sm-table-cell">
  <label *ngIf="competitor" class="custom-control custom-checkbox col-form-label pointer pl-0">
    <input type="checkbox" class="custom-control-input form-check-input" [checked]="competitor.getRegistered()"
      (change)="register()">
    <span class="custom-control-indicator"></span>
  </label>
</td>
<td *ngIf="!hasBegun" class="text-right"><button type="button" class="btn btn-sm btn-danger" (click)="remove()">
    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
  </button></td>

<ng-template #popLockerRoom>
  <div class="text-center">
    de deelnemer is nog niet ingedeeld in een kleedkamer<br /><button type="button"
      class="btn btn-sm btn-outline-secondary my-1" (click)="toLockerRooms.emit()">
      naar de kleedkamers
    </button>
  </div>
</ng-template>