<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
    <app-tournament-title [tournament]="tournament" [admin]="true">
    </app-tournament-title>
    <div class="d-flex justify-content-between">
      <h2>
        <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
      </h2>
      <button *ngIf="!processing && places && !hasBegun && atLeastTwoPlaceHaveCompetitor()" type="button"
        class="btn btn-sm mr-0" [ngClass]="{ 'btn-outline-secondary': !orderMode, 'btn-outline-primary': orderMode }"
        (click)="toggleView()">
        <fa-icon [icon]="['fas', 'random']"></fa-icon> volgorde
      </button>
    </div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>

    <ngb-alert [ngClass]="{ invisible: !alert}" class="m-0" [type]="alert?.type" [dismissible]="false">
      {{ alert?.message }}</ngb-alert>

    <table *ngIf="!processing && places && !orderMode" class="table">
      <thead>
        <tr>
          <th></th>
          <th>plek</th>
          <th>naam</th>
          <th class="text-center d-none d-sm-table-cell">aangemeld</th>
          <th *ngIf="!hasBegun" class="text-right"><button type="button" class="btn btn-sm btn-primary"
              (click)="addPlaceToRootRound()">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button></th>
        </tr>
      </thead>
      <tbody>
        <app-tournament-competitor-line *ngFor="let place of places" [place]="place"
          [showLockerRoomNotArranged]="showLockerRoomNotArranged(this.getCompetitor(place))" [hasBegun]="hasBegun"
          [competitor]="this.getCompetitor(place)" [nameService]="nameService" [focus]="place.getId() === focusId"
          (editPressed)="editPlace($event)" (removePressed)="preRemove($event)"
          (registerPressed)="registerCompetitor($event)" (toLockerRooms)="linkToLockerRooms()">
        </app-tournament-competitor-line>
      </tbody>
    </table>

    <table *ngIf="!processing && places && orderMode" class="table">
      <thead>
        <th>plek</th>
        <th>naam</th>
        <th class="text-center">
          <button *ngIf="allPlaceHaveCompetitor()" type="button" class="btn btn-sm btn-outline-primary"
            (click)="swapAll()" [disabled]="processing || swapPlace" title="willekeurige volgorde">
            <fa-icon [icon]="['fas', 'random']"></fa-icon> willekeurig
          </button>
          <fa-icon *ngIf="!hasBegun && !allPlaceHaveCompetitor()" title="volgorder omwisselen" [icon]="['fas', 'sort']">
          </fa-icon>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let place of places">
          <td>
            <span>{{nameService.getPlaceFromName(place, false)}}</span>
          </td>
          <td>
            <span *ngIf="getCompetitor(place)"
              [ngClass]="{ 'registered-xs': getCompetitor(place).getRegistered() }">{{getCompetitor(place).getName()}}</span>
          </td>
          <td class="text-center">
            <fa-icon *ngIf="getCompetitor(place)" class="text-primary pointer" (click)="swapTwo(place)"
              [icon]="['far', (swapPlace === place ? 'check-' : '') + 'square']" size="2x" popoverClass="popover-small"
              container="body" ngbPopover="selecteer tweede deelnemer
              om ze te wisselen van plaats"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>