<div class="modal-header">
    <h4 class="modal-title">item verwijderen</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div *ngIf="hasMinimumNrOfPlacesPerPoule() || allCompetitorsQualifyForNextRound()" class="row">
            <div *ngIf="allCompetitorsQualifyForNextRound()" class="">
                <ngb-alert [type]="'warning'" [dismissible]="false">Alle deelnemers gaan door naar de volgende ronde.
                    Om
                    een pouleplek te kunnen verwijderen, moet de
                    "Opzet" gewijzigd worden.</ngb-alert>
                <ngb-alert *ngIf="allPlacesAssigned" [type]="'info'" [dismissible]="false">Wanneer je een
                    pouleplek bij de opzet verwijderd,
                    wordt de laatste
                    pouleplek verwijderd. Verplaats daarom eventueel eerst de te verwijderen deelnemer naar de laatste
                    pouleplek m.b.v. de vinkjes en de
                    vierkantjes. </ngb-alert>
            </div>
            <div *ngIf="hasMinimumNrOfPlacesPerPoule()" class="">
                <ngb-alert [type]="'warning'" [dismissible]="false">Het minimaal aantal deelnemers aan een poule is 2.
                    Om een deelnemer te kunnen verwijderen, moet de "Opzet" gewijzigd worden.</ngb-alert>
            </div>
        </div>
        <div *ngIf="!hasMinimumNrOfPlacesPerPoule() && !allCompetitorsQualifyForNextRound()" class="row">
            <ngb-alert [type]="'info'" [dismissible]="false">Bij het verwijderen van de pouleplek worden de opzet en
                de wedstrijden automatisch gewijzigd.</ngb-alert>
        </div>
    </div>
</div>
<div *ngIf="hasMinimumNrOfPlacesPerPoule() || allCompetitorsQualifyForNextRound()"
    class="modal-footer justify-content-around">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.close('to-structure')">naar
        <fa-icon [icon]="['fac', 'structure']"></fa-icon> opzet</button>
    <button *ngIf="competitor" type="button" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.close('remove-competitor')">
        <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> <span> deelnemer</span>
        <span class="d-none d-sm-inline"> verwijderen</span>
    </button>
    <button *ngIf="competitor === undefined" type="button" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.close('close')">sluiten</button>
</div>

<div *ngIf="!hasMinimumNrOfPlacesPerPoule() && !allCompetitorsQualifyForNextRound()"
    class="modal-footer justify-content-around">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.close('remove-place')">
        <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon><span> pouleplek</span>
        <span class="d-none d-sm-inline"> verwijderen</span>
    </button>
    <button *ngIf="competitor" type="button" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.close('remove-competitor')">
        <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> <span> deelnemer</span>
        <span class="d-none d-sm-inline"> verwijderen</span>
    </button>
    <button *ngIf="competitor === undefined" type="button" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.close('close')">sluiten</button>
</div>