<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <div class="d-flex justify-content-between">
        <h2 class="text-truncate">
          <app-sport-icon *ngIf="sportConfig" [customId]="sportConfig.getSport().getCustomId()"></app-sport-icon>
          <span *ngIf="sportConfig"> {{sportConfig.getSport().getName()}}</span>
          <span *ngIf="!sportConfig">sport</span>
        </h2>
        <!-- <button *ngIf="competition.getSportConfigs().length === 1" (click)="openMultiSportsModal(multisports)"
          class="btn btn-outline-secondary">
          <span>meerdere sporten</span>
        </button> -->
      </div>

      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>

      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>

      <div *ngIf="!processing">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs nav-fill">
          <li [ngbNavItem]="SportConfigTabFields">
            <a ngbNavLink>velden</a>
            <ng-template ngbNavContent>
              <app-tournament-fields [sportConfig]="sportConfig" [hasBegun]="hasBegun" [tournament]="tournament"
                [structure]="structure">
              </app-tournament-fields>
            </ng-template>
          </li>
          <li [ngbNavItem]="SportConfigTabScore">
            <a ngbNavLink>score-regels</a>
            <ng-template ngbNavContent>
              <app-tournament-sportscore-edit [sportConfig]="sportConfig" [tournament]="tournament"
                [structure]="structure" [startRoundNumber]="startRoundNumber">
              </app-tournament-sportscore-edit>
            </ng-template>
          </li>
          <li [ngbNavItem]="SportConfigTabPoints">
            <a ngbNavLink>puntentelling</a>
            <ng-template ngbNavContent>
              <app-tournament-points-edit [sportConfig]="sportConfig" [hasBegun]="hasBegun" [tournament]="tournament"
                [structure]="structure">
              </app-tournament-points-edit>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      <!-- <app-tournament-sport-select *ngIf="!processing && competition && !sportConfig"
      class="col-xs-12 col-sm-10 col-md-8 col-lg-6" (sendSport)="onGetSport($event)"
      [filterSportConfigs]="tournament.getCompetition().getSportConfigs()">
    </app-tournament-sport-select> -->
    </div>
  </div>

  <ng-template #multisports let-modal>
    <div class="modal-header">
      <h4 class="modal-title">planning meerdere sporten</h4>
      <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item">elke deelnemers speelt even vaak tegen andere deelnemers(net zoals bij 1 sport)</li>
        <li class="list-group-item">elke deelnemer doet iedere sport in ieder geval 1 keer(of hoeveel velden er voor de
          sport zijn)</li>
        <li class="list-group-item">wanneer er meer sporten gedaan moeten worden dan er wedstrijden voor de deelnemer
          zijn, dan speelt
          iedereen vaker tegen elkaar</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('continue')">doorgaan</button>
    </div>
  </ng-template>