<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <app-tournament-title [tournament]="tournament" [admin]="true">
    </app-tournament-title>
    <div class="d-flex justify-content-between">
      <h2>
        sporten
      </h2>
      <button *ngIf="tournament" type="button" class="btn btn-sm btn-outline-secondary mr-0"
        [routerLink]="['/admin/fields', tournament.getId()]">
        naar velden
      </button>
    </div>

    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{alert.message}}</ngb-alert>
    <!-- <div *ngIf="!processing && !structure.getFirstRoundNumber().getConfig().getSelfReferee()" class="text-info">
      "deelnemers zijn scheidsrechter" kun je aanzetten onder <a [routerLink]="" (click)="linkToRoundSettings()">
        <fa-icon [icon]="['fas', 'cogs']"></fa-icon> <span>instellingen</span>
      </a>
    </div> -->
    <table *ngIf="!processing" class="table">
      <thead>
        <tr>
          <th></th>
          <th>naam</th>
          <th class="d-none d-sm-table-cell" title="aantal">
            <fa-icon [icon]="['fac', 'soccer-field']"></fa-icon>
          </th>
          <th class="text-right" *ngIf="!hasBegun">
            <button type="button" class="btn btn-sm btn-primary"
              [routerLink]="['/admin/sportconfig', tournament.getId(), undefined]" [disabled]="processing">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sportConfig of sportConfigs; let last = last;">
          <td>
            <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-primary" [disabled]="processing"
              (click)="editSportConfig(sportConfig)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
            <button *ngIf="hasBegun" type="button" class="btn btn-sm btn-outline-secondary"
              [routerLink]="['/admin/sportconfig', tournament.getId(), sportConfig.getId()]">
              <fa-icon [icon]="['fas', 'eye']"></fa-icon>
            </button>
          </td>
          <td>
            <span>{{sportConfig.getSport().getName()}}</span>
          </td>
          <td class="d-none d-sm-table-cell">{{sportConfig.getFields().length}}</td>
          <td class="text-right" *ngIf="!hasBegun && sportConfigs.length > 1">
            <button type="button" class="btn btn-sm btn-danger" [disabled]="processing"
              (click)="openRemoveModal(content, sportConfig)">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">sport verwijderen</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert type="warning" [dismissible]="false">de velden voor deze sport worden ook verwijderd</ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('remove')">verwijderen</button>
  </div>
</ng-template>