<div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="aantal">
        <button type="button" class="btn btn-outline-primary" (click)="previous()">
            <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
        </button>
        <button type="button" class="btn btn-outline-primary btn-fixed-width" (click)="navigate.emit(current())">
            <app-againstgame-title [againstGame]="current()"></app-againstgame-title>
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="next()">
            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </button>
    </div>
</div>