<div class="d-flex justify-content-center">
    <div>
        <span *ngFor="let sideCompetitor of getCompetitors(HomeSide)">
            <app-team-name *ngIf="isTeamCompetitor(sideCompetitor)" [team]="getTeam(sideCompetitor)" [reverse]="true">
            </app-team-name>
            <span *ngIf="!isTeamCompetitor(sideCompetitor) && isCompetitor(sideCompetitor)"></span>
        </span>
    </div>

    <div class="px-2">{{nameService.getAgainstScore(againstGame)}}</div>

    <div>
        <span *ngFor="let sideCompetitor of getCompetitors(AwaySide)">
            <app-team-name *ngIf="isTeamCompetitor(sideCompetitor)" [team]="getTeam(sideCompetitor)"></app-team-name>
            <span *ngIf="!isTeamCompetitor(sideCompetitor) && isCompetitor(sideCompetitor)"></span>
        </span>
    </div>

    <div *ngIf="showDate" class="ps-3 "
        [ngClass]="{'text-decoration-line-through': againstGame.getState() === Finished}">
        {{dateFormatter.toString(againstGame.getStartDateTime(),dateFormatter.date())}}
        <span *ngIf="againstGame.getState() !== Finished">{{dateFormatter.toString(againstGame.getStartDateTime(),
            dateFormatter.time())}}</span>
    </div>

</div>