<table class="table table-striped mb-0">
    <thead>
        <tr>
            <th class="text-end ps-0"><span class="badge badge-rank pb-0">pl</span></th>
            <th class="text-break px-0">
                <div class="d-flex justify-content-between">
                    <span class="d-xs-inline d-sm-none">deeln.</span>
                    <span class="d-none d-sm-inline">deelnemer</span>
                    <ng-template ngFor let-viewPort [ngForOf]="viewPortManager.getViewPorts()">
                        <button *ngIf="viewPortManager.showBackArrow(viewPort)"
                            class="btn btn-sm btn-outline-secondary {{viewPortManager.getSingleVisibleClass(viewPort)}}"
                            (click)="viewPortManager.decrement()">
                            < </button>
                    </ng-template>
                </div>
            </th>
            <th *ngFor="let competitionSport of competitionSports; let counter = index"
                class="text-end ps-0 {{viewPortManager.getClass(counter+1)}}">
                <button class="btn btn-sm btn-outline-info w-100" (click)="openModalPouleRank(competitionSport)">
                    {{competitionSport.getSport().getName()}}
                </button>
            </th>
            <th class="ps-0 text-end" title="totaal">
                <ng-template ngFor let-viewPort [ngForOf]="viewPortManager.getViewPorts()">
                    <button *ngIf="viewPortManager.showForwardArrow(viewPort)"
                        class="btn btn-sm btn-outline-secondary {{viewPortManager.getSingleVisibleClass(viewPort)}}"
                        (click)="viewPortManager.increment()">
                        > </button>
                </ng-template>
                <span class="d-none d-sm-inline">tot.</span>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let roundRankingItem of roundRankingItems">
            <td class="rankingnr text-end ps-0">
                <span
                    class="badge badge-rank {{getQualifyPlaceClass(roundRankingItem)}}">{{roundRankingItem.getUniqueRank()}}</span>
            </td>
            <td class="text-break ps-0"
                [ngClass]="{ 'favitem': favorites.hasCompetitor(competitorMap.getCompetitor(roundRankingItem.getPlace())) }">
                {{nameService.getPlaceFromName(roundRankingItem.getPlace(), true)}}
            </td>
            <td *ngFor="let competitionSport of competitionSports; let counter = index;"
                class="text-end ps-0 {{viewPortManager.getClass(counter+1)}}">
                {{roundRankingItem.getSportItem(competitionSport).getRank()}}</td>
            <td class="text-end ps-0">{{roundRankingItem.getCumulativeRank()}}</td>
        </tr>
    </tbody>
</table>