<footer class="footer pt-0 mt-3 bg-primary text-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 mt-3">
        <h5>contact</h5>
        <ul class="list-unstyled">
          <li>
            <a href="tel:+31614363514">
              <fa-icon [icon]="[ 'fas', 'mobile-alt'] "></fa-icon> +31 614363514
            </a>
          </li>
          <li>
            <a href="mailto:superelferedivisie@gmail.com" rel="noopener">
              <fa-icon [icon]="[ 'fas', 'envelope'] "></fa-icon> superelferedivisie@gmail.com
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="https://twitter.com/superelf_ere" tabindex="-1">
              <fa-icon [icon]=" [ 'fab', 'twitter'] "></fa-icon>@superelf_ere
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 mt-3">
        <h5>projecten</h5>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" rel="noopener" href="https://voetbaloog.nl/" tabindex="-1">voetbaloog</a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="https://fctoernooi.nl/" tabindex="-1">fctoernooi</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 mt-3">
        <h5>links</h5>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" rel="license noopener" href="https://creativecommons.org/licenses/by-nc-sa/3.0/"
              tabindex="-1">cc
              by-nc-sa
              <span> 3.0 licentie</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-none d-sm-block text-center pt-4">
      <fa-icon [icon]=" [ 'fas', 'copyright'] "></fa-icon> SuperElf
    </div>
  </div>
</footer>