<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <div class="text-center">
      <app-title *ngIf="pool" [title]="pool.getName()"></app-title>
    </div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>

    <ngb-alert *ngIf="alert" [type]="alert.type">
      {{ alert.message }}</ngb-alert>


    <div *ngIf="!processing && pool">
      <div class="d-flex flex-wrap justify-content-around">
        <div *ngIf="!showSearch" class="mb-3" ngClass="{'me-3': showSearchBtn}">
          <div>
            <h2 *ngIf="!showSearchBtn" class="text-center">
              <fa-icon [icon]="['fas', 'users']"></fa-icon> gescoute spelers
            </h2>
            <div *ngIf="showSearchBtn" class="d-flex flex-wrap justify-content-between">
              <h2 class="me-2 text-truncate">
                <fa-icon [icon]="['fas', 'users']"></fa-icon> gescoute spelers
              </h2>
              <button (click)="showSearch = true" type="button" class="btn btn-secondary d-inline d-md-none">
                <fa-icon [icon]="['fas', 'search']"></fa-icon> <span class="d-none d-sm-inline ms-1">zoeken</span>
              </button>
            </div>
          </div>

          <table class="table mt-2">
            <tbody>
              <tr *ngFor="let scoutedPlayer of scoutingList.scoutedPlayers">
                <!-- <ng-template let-player="scoutedPlayer.getPlayer()"> -->
                <td *ngIf="pool.getAssemblePeriod().isIn()" class="text-end">
                  <button (click)="copyToTeam(scoutedPlayer.getS11Player())" type="button" class="btn btn-secondary">
                    plaats in team
                  </button>
                </td>
                <td>
                  <app-lineicon [line]="scoutedPlayer.getS11Player().getLine()"></app-lineicon>
                </td>
                <td class="text-center">
                  {{scoutedPlayer.getPerson().getName()}}
                </td>
                <td class="text-center">
                  <!-- {{oneTeamSimultaneous.getCurrentPlayer(scoutedPlayer.getPerson())?.getTeam()?.getName()}} -->
                  <img src="{{getTeamImageUrl(choosePersonItem)}}" class="me-1 center-block" />
                  <span class="align-bottom">{{choosePersonItem.player.getTeam().getAbbreviation()}}</span>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary"
                    (click)="openRemoveApprovalModal(scoutedPlayer, pool)">
                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                  </button>
                </td>
                <!-- </ng-template> -->
              </tr>
            </tbody>
          </table>
        </div>
        <app-pool-choose-players *ngIf="showSearch" (selectS11Player)="add($event)"
          [viewPeriod]="pool.getCreateAndJoinPeriod()" [alreadyChosenPersons]="getPersons()"
          (close)="showSearch = false">
        </app-pool-choose-players>
      </div>
    </div>
  </div>
</div>