<app-title *ngIf="pool" [title]="pool.getName()"></app-title>

<div *ngIf="!processing && pool" class="d-flex flex-wrap justify-content-between">
  <h2 class="mr-2">
    <fa-icon [icon]="['fas', 'users']"></fa-icon> gescoute spelers
  </h2>
  <button *ngIf="enableSearch" [routerLink]="['/pool/choosepersons', pool.getId()]" type="button"
    class="btn btn-secondary">
    <fa-icon [icon]="['fas', 'search']"></fa-icon> zoeken
  </button>
</div>

<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>

<ngb-alert *ngIf="alert" [type]="alert.type">
  {{ alert.message }}</ngb-alert>

<table *ngIf="!processing && pool && scoutedPersons" class="table no-border-top mt-2">
  <tbody>
    <tr *ngFor="let scoutedPerson of scoutedPersons">
      <!-- <ng-template let-player="scoutedPerson.getPlayer()"> -->
      <td>
        <button type="button" class="btn btn-sm btn-danger" (click)="openRemoveApprovalModal(scoutedPerson, pool)">
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
        </button>
      </td>
      <td>
        {{scoutedPerson.getPerson().getPlayer()?.getLine()}}
      </td>
      <td class="text-center">
        {{scoutedPerson.getPerson().getName()}}
      </td>
      <td class="text-center">
        {{scoutedPerson.getPerson().getPlayer()?.getTeam()?.getName()}}
      </td>
      <td *ngIf="pool.getAssemblePeriod().isIn()" class="text-right">
        <button (click)="copyToTeam(scoutedPerson.getPerson())" type="button" class="btn btn-secondary">
          plaats in team
        </button>
      </td>
      <!-- </ng-template> -->
    </tr>
  </tbody>
</table>

<!-- <div class="pr-5">
  <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screen.getFirstPoule()}">
  </ng-container>
</div>

<ng-template #pouleRanking let-poule>
  <table *ngIf="poule" class="table liveboard">
   
  </table>
</ng-template> -->