<app-user-title title="registreren" icon="user-circle">
</app-user-title>

<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>
<ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
<div *ngIf="!processing && registered" class="card card-body mx-auto bg-faded mt-3">
  <ngb-alert type="success">Je bent geregistreerd. Valideer nog je emailadres door op de link in
    de email, die je van ons hebt ontvangen, te klikken.
  </ngb-alert>
  <ngb-alert type="warning">Let op: het kan zijn dat de email in de spam-folder is gekomen.
  </ngb-alert>
</div>
<div *ngIf="!processing && isLoggedIn()" class="card card-body mx-auto bg-faded mt-3">
  <ngb-alert type="warning">Je bent al ingelogd.</ngb-alert>
</div>
<div class="container">
  <form *ngIf="!processing && !isLoggedIn() && !registered" name="form" (ngSubmit)="register()" [formGroup]="form"
    novalidate>
    <div class="form-group row">
      <div class="col-3">
        <label for="emailaddress" class="col-form-label">emailadres</label>
      </div>
      <div class="col-9">
        <input class="form-control"
          [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
          type="text" formControlName="emailaddress" placeholder="max. {{validations.maxlengthemailaddress}} karakters">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <label for="name" class="col-form-label">gebruikersnaam</label>
      </div>
      <div class="col-9">
        <input class="form-control"
          [ngClass]="{ 'is-invalid': form.controls.name.invalid, 'is-valid': form.controls.name.valid }" type="text"
          formControlName="name" placeholder="max. {{validations.maxlengthname}} karakters">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <label for="password" class="col-form-label">wachtwoord</label>
      </div>
      <div class="col-9">
        <input class="form-control"
          [ngClass]="{ 'is-invalid': form.controls.password.invalid, 'is-valid': form.controls.password.valid }"
          type="password" formControlName="password" placeholder="min. {{validations.minlengthpassword}} karakters">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <label for="passwordRepeat" class="col-form-label">herhaal wachtwoord</label>
      </div>
      <div class="col-9">
        <input class="form-control"
          [ngClass]="{ 'is-invalid': form.controls.passwordRepeat.invalid, 'is-valid': form.controls.passwordRepeat.valid }"
          type="password" formControlName="passwordRepeat"
          placeholder="min. {{validations.minlengthpassword}} karakters">
      </div>
    </div>
    <div class="form-group row justify-content-end">
      <div class="col-9">
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
          registreren
        </button>
      </div>
    </div>
  </form>
</div>