<div class="d-flex justify-content-between mb-4">
  <h1>
    <fa-icon [icon]="['fas', 'user-circle']"></fa-icon> registreren
  </h1>
  <h1 class="mr-1">
    <button [routerLink]="['']" type="button" class="btn btn-dark ml-3">
      <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
      <span class="ml-1 d-none d-md-inline"> terug</span>
    </button>
  </h1>
</div>
<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>
<ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
<div *ngIf="!processing && isLoggedIn() && registered" class="card card-body mx-auto bg-faded form-register mt-3">
  <ngb-alert type="success" [dismissible]="false">Je bent geregistreerd. Valideer nog je emailadres door op de link in
    klikken in de email die je van ons hebt ontvangen.
  </ngb-alert>
  <ngb-alert type="warning" [dismissible]="false">let op: het kan zijn dat de email in de spam-folder is gekomen
  </ngb-alert>
  <button role="button" class="btn btn-outline-secondary" routerLink="/">ga verder</button>
</div>
<div *ngIf="!processing && isLoggedIn() && !registered" class="card card-body mx-auto bg-faded form-register mt-3">
  <legend class="m-b-1 text-xs-center">je bent al ingelogd</legend>
  <button role="button" class="btn btn-outline-secondary" routerLink="/">ga terug</button>
</div>
<div class="container">
  <form *ngIf="!processing && !isLoggedIn() && !registered" name="form" (ngSubmit)="register()" [formGroup]="form"
    novalidate>
    <div class="form-group row">
      <div class="col-3">
        <label for="emailaddress" class="col-form-label">emailadres</label>
      </div>
      <div class="col-9">
        <input class="form-control"
          [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
          type="text" formControlName="emailaddress" placeholder="max. {{validations.maxlengthemailaddress}} karakters">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <label for="name" class="col-form-label">gebruikersnaam</label>
      </div>
      <div class="col-9">
        <input class="form-control"
          [ngClass]="{ 'is-invalid': form.controls.name.invalid, 'is-valid': form.controls.name.valid }" type="text"
          formControlName="name" placeholder="max. {{validations.maxlengthname}} karakters">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <label for="password" class="col-form-label">wachtwoord</label>
      </div>
      <div class="col-9">
        <input class="form-control"
          [ngClass]="{ 'is-invalid': form.controls.password.invalid, 'is-valid': form.controls.password.valid }"
          type="password" formControlName="password" placeholder="min. {{validations.minlengthpassword}} karakters">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <label for="passwordRepeat" class="col-form-label">herhaal wachtwoord</label>
      </div>
      <div class="col-9">
        <input class="form-control"
          [ngClass]="{ 'is-invalid': form.controls.passwordRepeat.invalid, 'is-valid': form.controls.passwordRepeat.valid }"
          type="password" formControlName="passwordRepeat"
          placeholder="min. {{validations.minlengthpassword}} karakters">
      </div>
    </div>
    <div class="form-group row justify-content-end">
      <div class="col-9">
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
          registreren
        </button>
      </div>
    </div>
  </form>
</div>