<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

    <div class="d-flex justify-content-between mt-3 mb-1">
      <h2 class="me-2 text-truncate">
        <fa-icon [icon]=faUsers></fa-icon> mijn team
      </h2>
      <div *ngIf="!processing && pool">
        <button *ngIf="pool.getAssemblePeriod().isIn()" class="btn btn-secondary mx-2"
          routerLink="['/pool/scouting/list', pool.getId()]">
          <fa-icon [icon]=faUserSecret></fa-icon> <span class="ms-1 d-none d-sm-inline">
            scoutingslijst</span>
        </button>
        <button class="btn btn-secondary" routerLink="['/pool/formation/choose', pool.getId()]">
          @if(assembleFormation){
          <span>{{assembleFormation.getName()}}</span>
          }
        </button>
      </div>

    </div>

    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]=faSpinner [animation]="'spin'"></fa-icon>
    </h2>
    @if(alert){
      <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
    }
    @if(!processing && pool && assembleFormation && !selectedPlace){
      <div>
        <!-- lines-->
        @for(line of assembleFormation.getLines();track line.getNumber()) {
          <app-pool-formationline-assemble [line]="line"
            (editPlace)="editPlace(pool,$event)" (linkToPlayer)="linkToPlayer(pool,$event)">
          </app-pool-formationline-assemble>
        }
      </div>
    }
  </div>
</div>

@if(pool){
<app-pool-navbar [current]="MyTeam" [pool]="pool" [poolUser]="poolUserFromSession"></app-pool-navbar>
}