<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

    <div class="d-flex justify-content-between mt-3 mb-1">

      <h2 class="me-2 text-truncate">
        <fa-icon [icon]="['fas', 'users']"></fa-icon> mijn team
      </h2>
      <div *ngIf="!processing && pool && calcFormation">
        <button class="btn btn-secondary" disabled>
          {{calcFormation.getName()}}
        </button>
      </div>
    </div>
    
    <div *ngIf="!processing && pool" class="d-flex justify-content-between">
      <h2 class="mb-0">
        <span class="badge bg-info py-2">gestopte spelers vervangen</span>
      </h2>
      <button *ngIf="calculator.areAllPlacesWithoutTeamReplaced(poolUser)" class="btn btn-outline-primary"
      (click)="linkToTransfers()">
        <span>ga naar transfers</span>
      </button>
    </div>          

    <ngb-alert class="mt-5" *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

    <div *ngIf="!processing && pool && poolUser && calcFormation">
      <div *ngIf="!selectedPlace">
        <!-- lines-->
        <app-pool-formationline-replacements *ngFor="let line of calcFormation.getLines()" [line]="line"
          [replacements]="poolUser.getReplacements()"
          (replace)="linkToReplace($event)" (linkToPlayer)="linkToPlayer($event)"
          (remove)="remove($event)">
        </app-pool-formationline-replacements>
      </div>
    </div>
  </div>
</div>