<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

    <div class="d-flex justify-content-between mt-3 mb-1">

      <h2 class="me-2 text-truncate">
        <span>3. wisselen</span>
      </h2>
      <div *ngIf="!processing && pool && calcFormation">
        <button class="btn btn-secondary" disabled>
          {{calcFormation.getName()}}
        </button>
      </div>
    </div>

    <!-- start header --> 
    <div *ngIf="!processing && poolUser && assembleFormation" class="d-flex justify-content-between mt-3 mb-1">
      <!-- left -->      
        <button class="btn btn-outline-primary btn-sm"
          (click)="linkToTransfers(poolUser, assembleFormation, contentRemove)">
          <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
          <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
        </button>                
      
      <!-- center -->
      <div></div>

      <!-- right -->    
      <button class="btn btn-outline-info ms-1" [routerLink]="['/pool/formation/actions', pool.getId(), poolUser.getId()]">
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
      </button>
      
    </div> <!-- end header -->

    <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

    <div *ngIf="!processing && pool && poolUser && assembleFormation && calcFormation">
      <div *ngIf="!selectedPlace">
        <!-- lines-->
        <app-pool-formationline-substitutions *ngFor="let line of calcFormation.getLines()" [line]="line"
          [substitutions]="poolUser.getTransferPeriodActionList().substitutions"
          (substitute)="substitute(assembleFormation, $event)" (linkToPlayer)="linkToPlayer($event)"
          (remove)="remove(assembleFormation, $event, false)">
        </app-pool-formationline-substitutions>
      </div>
    </div>
  </div>
</div>

<app-pool-navbar *ngIf="pool" [pool]="pool" [poolUser]="poolUser">
</app-pool-navbar>

<ng-template #contentRemove let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>wissels ongedaan maken</span>
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Je wissels worden ongedaan gemaakt wanneer je naar "transfer" gaat</p>
  </div>
  <div class="modal-footer d-flex justify-content-reverse border-top-0">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close(poolUser)">
      ga naar "transfer"</button>
  </div>
</ng-template>