<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

    <div class="d-flex justify-content-between mt-3 mb-1">

      <h2 class="me-2 text-truncate">
        <span>3. wisselen</span>
      </h2>
      @if(!processing && pool && calcFormation){
      <div>
        <button class="btn btn-secondary" disabled>
          {{calcFormation.getName()}}
        </button>
      </div>
      }
    </div>

    <!-- start header --> 
    @if(!processing && poolUser && assembleFormation){
      <div class="d-flex justify-content-between mt-3 mb-1">
        <!-- left -->      
          <button class="btn btn-outline-primary btn-sm"
            (click)="linkToTransfers(poolUser, assembleFormation, contentRemove)">
            <fa-icon [icon]=faChevronLeft></fa-icon>
            <fa-icon [icon]=faChevronLeft></fa-icon>
          </button>                
        
        <!-- center -->
        <div></div>

        <!-- right -->    
        <button class="btn btn-outline-info ms-1" routerLink="['/pool/formation/actions', pool.getId(), poolUser.getId()]">
          <fa-icon [icon]=faInfoCircle></fa-icon>
        </button>
        
      </div> <!-- end header -->
    }

    @if(alert){
    <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
    }

    <div>      
      @if(!processing && pool && poolUser && assembleFormation && calcFormation && !selectedPlace){
        <!-- lines-->
        @for(line of calcFormation.getLines();track line.getNumber()) {
          <app-pool-formationline-substitutions [line]="line"
            [substitutions]="poolUser.getTransferPeriodActionList().substitutions"
            (substitute)="substitute(assembleFormation, $event)" (linkToPlayer)="linkToPlayer(pool, $event)"
            (remove)="remove(pool, assembleFormation, $event, false)">
          </app-pool-formationline-substitutions>
        }
      }
    </div>
  </div>
</div>

@if(pool){
<app-pool-navbar [pool]="pool" [poolUser]="poolUser"></app-pool-navbar>
}

<ng-template #contentRemove let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>wissels ongedaan maken</span>
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Je wissels worden ongedaan gemaakt wanneer je naar "transfer" gaat</p>
  </div>
  <div class="modal-footer d-flex justify-content-reverse border-top-0">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close(poolUser)">
      ga naar "transfer"</button>
  </div>
</ng-template>