<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

    <div class="d-flex justify-content-between mt-3 mb-1">

      <h2 class="me-2 text-truncate">
        <fa-icon [icon]="['fas', 'users']"></fa-icon> mijn team
      </h2>
      <div *ngIf="!processing && pool && calcFormation">
        <button class="btn btn-secondary" disabled>
          {{calcFormation.getName()}}
        </button>
      </div>
    </div>

    <!-- start header --> 
    <div *ngIf="!processing && poolUser" class="d-flex justify-content-between mt-3 mb-1">
      <!-- left -->      
        <button *ngIf="hasPlayersWithoutCurrentTeam(poolUser)" class="btn btn-outline-primary btn-sm"
          (click)="linkToReplacements(poolUser, contentRemove)">
          <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
          <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
        </button>                
      
      <!-- center/right -->
      <div class="d-flex">
        <h2 class="mb-0">
          <span class="badge bg-info py-2">transfer</span>
        </h2>
        <button *ngIf="transferEditMode === SingleEditMode 
        && poolUser.getTransfers().length < transferPeriod.getMaxNrOfTransfers()" class="btn btn-secondary ms-1"
          (click)="toggleTransferEditMode(contentInfo)">
          <fa-icon [icon]="['fas', 'users']"></fa-icon>
          </button>
        <button *ngIf="transferEditMode === DoubleEditMode && (poolUser.getTransfers().length + 1) < transferPeriod.getMaxNrOfTransfers()" class="btn btn-secondary ms-1"
        (click)="toggleTransferEditMode(contentInfo)">
        <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
        </button>
      </div>

      <!-- right -->    
      <button class="btn btn-outline-primary ms-1"
        (click)="linkToSubstitutions()">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </button>
      
    </div> <!-- end header --> 

    

    <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

    <div *ngIf="!processing && pool && poolUser && calcFormation">
      <div *ngIf="!selectedPlace">
        <!-- lines-->
        <app-pool-formationline-transfers *ngFor="let line of calcFormation.getLines()" [line]="line"
          [transfers]="poolUser.getTransfers()"
          (transfer)="linkToTransfer($event)" (linkToPlayer)="linkToPlayer($event)"
          (remove)="remove($event, false)">
        </app-pool-formationline-transfers>
      </div>
    </div>
  </div>
</div>

  <ng-template #contentRemove let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        <span>transfers verwijderen</span>
      </h4>
      <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <p>Je transfers worden ongedaan gemaakt wanneer je naar "gestopte spelers vervangen" gaat</p>
    </div>
    <div class="modal-footer d-flex justify-content-reverse border-top-0">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close(poolUser)">
        ga naar "gestopte spelers vervangen"</button>
    </div>
  </ng-template>

  
  <ng-template #contentInfo let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        <span>dubbele transfer</span>
      </h4>
      <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <p>Wil je een dubbele transfer met keeper doen?</p>
      <p>
        <a href="mailto:info@superelf-eredivisie.nl" rel="noopener">
          <fa-icon [icon]="[ 'fas', 'envelope'] "></fa-icon> info@superelf-eredivisie.nl
        </a>
      </p>
      <p>
        bijvoorbeeld : <br/>
        eruit : Bijlow  (FEY - K) en Xavi Simons (PSV - M)<br/>
        erin  : Benitez (PSV - K) en Kokcu (FEY - M)
      </p>
    </div>
  </ng-template>