<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

    <div class="d-flex justify-content-between mt-3 mb-1">

      <h2 class="me-2 text-truncate">
        2. transfer
      </h2>
      @if(!processing && pool && calcFormation){
      <div>
        <button class="btn btn-secondary" disabled>
          {{calcFormation.getName()}}
        </button>
      </div>
      }
    </div>

    <!-- start header --> 
    @if(!processing && poolUser && assembleFormation){
    <div class="d-flex justify-content-between mt-3 mb-1">
      <!-- left -->      
        <button ngIf="hasPlayersWithoutCurrentTeam(assembleFormation)" class="btn btn-outline-primary btn-sm"
          (click)="linkToReplacements(poolUser, assembleFormation, contentRemove)">
          <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
          <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
        </button>                
      
      <!-- center/right -->
      <div class="d-flex">        
        <button ngIf="transferEditMode === SingleEditMode 
        && poolUser.getTransferPeriodActionList().transfers.length < transferPeriod.getMaxNrOfTransfers()" class="btn btn-outline-primary ms-1"
          (click)="toggleTransferEditMode(contentInfo)">
          <fa-icon [icon]="['fas', 'users']"></fa-icon>
          </button>
        <button ngIf="transferEditMode === DoubleEditMode && (poolUser.getTransferPeriodActionList().transfers.length + 1) < transferPeriod.getMaxNrOfTransfers()" class="btn btn-secondary ms-1"
        (click)="toggleTransferEditMode(contentInfo)">
        <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
        </button>
        <button ngIf="poolUser.getTransferPeriodActionList().transfers.length" type="button" class="btn btn-primary ms-1" (click)="remove(poolUser.getPool(),assembleFormation, poolUser.getTransferPeriodActionList().transfers, false)">
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
        </button>
      </div>

      <!-- right -->    
      <button class="btn btn-outline-primary ms-1"
        (click)="linkToSubstitutions(poolUser.getPool())">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </button>
      
    </div> <!-- end header --> 
    }

    
    @if(alert){
    <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
    }

    @if(!processing && pool && poolUser && assembleFormation && calcFormation){
    <div>
      <div ngIf="!selectedPlace">
        <!-- lines-->
        <app-pool-formationline-transfers *ngFor="let line of calcFormation.getLines()" [line]="line"
          [transfers]="poolUser.getTransferPeriodActionList().transfers" [maxNrOfTransfers]="transferPeriod.getMaxNrOfTransfers()"
          [canRemoveTransfer]="canRemoveTransfer(calcFormation,line)"
          (transfer)="linkToTransfer(pool,$event)" (linkToPlayer)="linkToPlayer(pool,$event)"
          (remove)="remove(pool, assembleFormation, $event, false)">
        </app-pool-formationline-transfers>
      </div>
    </div>
    }
  </div>
</div>

@if(pool){
<app-pool-navbar [pool]="pool" [poolUser]="poolUser"></app-pool-navbar>
}

<ng-template #contentRemove let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>transfers verwijderen</span>
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Je transfers worden ongedaan gemaakt wanneer je naar "gestopte spelers vervangen" gaat</p>
  </div>
  <div class="modal-footer d-flex justify-content-reverse border-top-0">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close(poolUser)">
      ga naar "gestopte spelers vervangen"</button>
  </div>
</ng-template>


<ng-template #contentInfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>dubbele transfer</span>
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Wil je een dubbele transfer <span class="fw-bold">met keeper</span> doen?</p>
    <p>
      <a href="mailto:info@superelf-eredivisie.nl" rel="noopener">
        <fa-icon [icon]="[ 'fas', 'envelope'] "></fa-icon> info&#64;superelf-eredivisie.nl
      </a>
    </p>
    <p>
      bijvoorbeeld : <br/>
      eruit : Bijlow  (FEY - K) en Xavi Simons (PSV - M)<br/>
      erin  : Benitez (PSV - K) en Kokcu (FEY - M)
    </p>
  </div>
</ng-template>

