@if(categoryPoints){
    <div class="border-0 d-flex justify-content-center">
        <!-- card-played -->
        <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.result)}}">
            <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.result)}}">
                <span>wed. punten</span>
                <span class="badge {{getBadgeClass(categoryPoints.result)}} float-end ms-1">{{categoryPoints.result}}</span>
            </div>
            <div class="card-body">
                <div>
                    <span [class]="{'text-decoration-line-through': !statistics().isStarting()}">basis</span>
                </div>
                <div>
                    <span [class]="{'text-decoration-line-through': !statistics().isSubstitute()}">ingevallen</span>
                    @if(statistics().isSubstitute()) {
                        <span class="float-end ms-1">{{statistics().getBeginMinute()}}"</span>
                    }
                </div>
                <div>
                    <span [class]="{'text-decoration-line-through': statistics().hasAppeared()}">bank</span>
                </div>
                <div>
                    <span [class]="{'text-decoration-line-through': !statistics().isSubstituted()}">gewisseld</span>
                    @if(statistics().isSubstituted()) {
                        <span class="float-end ms-1">{{statistics().getEndMinute()}}"</span>
                    }
                </div>
            </div>
        </div>
        <!-- card-goals -->
        <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.goal)}}">
            <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.goal)}}">
                <span>goals</span>
                <span class="badge {{getBadgeClass(categoryPoints.goal)}} float-end ms-1">{{categoryPoints.goal}}</span>
            </div>
            <div class="card-body">
                <div>
                    <app-superelf-icon [icon]=faFutbol [gameEvent]="Goal"></app-superelf-icon>                
                    <span class="ms-1">veld</span>
                    @if(statistics().getNrOfFieldGoals() > 0) {
                        <span class="float-end ms-1">{{statistics().getNrOfFieldGoals()}}x</span>
                    } @else {
                        <span class="float-end ms-1">-</span>
                    }
                </div>
                <div>          
                    <fa-icon [icon]=faHandshakeAngle></fa-icon>          
                    <span class="ms-1">assist</span>
                    @if(statistics().getNrOfAssists() > 0) {
                        <span class="float-end ms-1">{{statistics().getNrOfAssists()}}x</span>
                    } @else {
                        <span class="float-end ms-1">-</span>
                    }                    
                </div>
                <div>
                    <app-superelf-icon [icon]=faFutbol [gameEvent]="OwnGoal"></app-superelf-icon>                
                    <span class="ms-1">eigen</span>
                    <span *ngIf="statistics().getNrOfOwnGoals() > 0"
                        class="float-end ms-1">{{statistics().getNrOfOwnGoals()}}x</span>
                        <span *ngIf="statistics().getNrOfOwnGoals() === 0"class="float-end ms-1">-</span>
                </div>
                <div>
                    <app-superelf-icon [icon]=facPenalty></app-superelf-icon>
                    <span class="ms-1">penalty</span>
                    <span *ngIf="statistics().getNrOfPenalties() > 0"
                        class="float-end ms-1">{{statistics().getNrOfPenalties()}}x</span>
                    <span *ngIf="statistics().getNrOfPenalties() === 0" class="float-end ms-1">-</span>
                </div>
            </div>
        </div>
    </div>

    <div class="border-0 d-flex justify-content-center">
        <!-- card-defense -->
        <div *ngIf="sheetActive" class="card m-2 align-self-start {{getBorderClass(categoryPoints.sheet)}}">
            <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.sheet)}}">
                <span>tegengoals</span>
                <span class="badge {{getBadgeClass(categoryPoints.sheet)}} float-end ms-1">{{categoryPoints.sheet}}</span>
            </div>
            <div class="card-body">
                <div>
                    <app-superelf-icon [icon]=facCleanSheet></app-superelf-icon>
                    <span class="ms-1">de nul</span>
                    <fa-icon *ngIf="statistics().hasCleanSheet()" [icon]=faCheckCircle
                        class="float-end ms-1 text-success"></fa-icon>
                    <span *ngIf="!statistics().hasCleanSheet()" class="float-end ms-1">-</span>
                </div>

                <div>
                    <app-superelf-icon class="me-1" [icon]=facSpottySheet></app-superelf-icon>
                    <span>&gt; 3</span>
                    <fa-icon *ngIf="statistics().hasSpottySheet()" [icon]=faCheckCircle
                        class="float-end ms-1 text-success">
                    </fa-icon>
                    <span *ngIf="!statistics().hasSpottySheet()" class="float-end ms-1">-</span>
                </div>
            </div>
        </div>
        <!-- card-cards -->
        <div class="card m-2 align-self-start {{getBorderClass(categoryPoints.card)}}">
            <div class="card-header border-bottom-0 {{getBackgroundClass(categoryPoints.card)}}">
                <span>kaarten</span>
                <span class="badge {{getBadgeClass(categoryPoints.card)}} float-end ms-1">{{categoryPoints.card}}</span>
            </div>
            <div class="card-body">
                <div>
                    <app-superelf-icon [icon]=facCard [gameEvent]="YellowCard"></app-superelf-icon>
                    <span class="mx-1">geel</span>
                    @if(statistics().getNrOfYellowCards() > 0) {
                        <span class="float-end ms-1">{{statistics().getNrOfYellowCards()}}x</span>
                    }
                    @if (statistics().getNrOfYellowCards() === 0) {
                        <span class="float-end ms-1">-</span>
                    }
                </div>
                <div>
                    <app-superelf-icon [icon]=facCard [gameEvent]="RedCard"></app-superelf-icon>
                    <span class="mx-1">rood</span>
                    @if(statistics().gotDirectRedCard()) {
                        <fa-icon *ngIf="statistics().gotDirectRedCard()" [icon]=faCheckCircle
                            class="float-end ms-1 text-red">
                        </fa-icon>
                    } @else {
                        <span class="float-end ms-1">-</span>
                    }
                </div>
            </div>
        </div>
    </div>
}