<app-user-title title="inloggen" icon="sign-in-alt">
</app-user-title>

<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>
<ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
<form *ngIf="!processing && !isLoggedIn()" name="form" (ngSubmit)="login()" [formGroup]="form" novalidate>
  <div class="form-group row">
    <div class="col-3">
      <label for="emailaddress" class="col-form-label">emailadres</label>
    </div>
    <div class="col-9">
      <input class="form-control"
        [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
        type="text" formControlName="emailaddress" placeholder="max. {{validations.maxlengthemailaddress}} karakters">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <label for="password" class="col-form-label">wachtwoord</label>
    </div>
    <div class="col-9">
      <input class="form-control"
        [ngClass]="{ 'is-invalid': form.controls.password.invalid, 'is-valid': form.controls.password.valid }"
        type="password" formControlName="password" placeholder="min. {{validations.minlengthpassword}} karakters">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4 offset-3">
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
        inloggen
      </button>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-3 col-9">
      <button routerLink="/user/register" class="btn btn-secondary mr-2 mt-4">registreren</button>
      <button routerLink="/user/passwordreset" class="btn btn-secondary mt-4">wachtwoord vergeten</button>
    </div>
  </div>
</form>