<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="d-flex justify-content-between mb-4">
        <span></span>
        <h1 *ngIf="pool" class="text-truncate">
          {{pool.getName()}}</h1>
        <h1 class="mr-1">
          <button [routerLink]="['']" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
            <span class="ml-1 d-none d-md-inline"> terug</span>
          </button>
        </h1>
      </div>
      <div class="text-center">
        <button *ngIf="!processing && pool && isAnAdmin()" [routerLink]="['/admin', pool.getId()]" type="button"
          class="btn btn-warning w-100">
          naar het beheergedeelte
        </button>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <div *ngIf="!processing && pool" class="row d-flex justify-content-center">
        <div class="card border-secondary pointer mt-3 mx-2" [routerLink]="['/public/games', pool.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijden
            </h5>
            <p class="card-text">??
            </p>
          </div>
        </div>
        <div class="card border-secondary pointer mt-3 mx-2" [routerLink]="['/public/ranking', pool.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'list-ol']"></fa-icon> standen
            </h5>
            <p class="card-text">
              poule- en eindstanden
            </p>
          </div>
        </div>
        <div class="card border-secondary pointer mt-3 mx-2" [routerLink]="['/public/structure', pool.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fac', 'structure']"></fa-icon> opzet
            </h5>
            <p class="card-text" *ngIf="!structure.getFirstRoundNumber().hasNext()">
              1 ronde ingesteld
            </p>
            <p class="card-text" *ngIf="structure.getFirstRoundNumber().hasNext()">
              meerdere ronde ingesteld
            </p>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <button *ngIf="!processing && pool && competitors.length > 0" [routerLink]="['/public/filter', pool.getId()]"
          type="button"
          class="btn btn-outline-{{favorites.hasCompetitors() ? 'primary' : 'secondary'}} w-100">???</button>
      </div>
    </div>
  </div>
</div>