<div class="card card-person border-1">
    <div class="card-body p-0">
        <h2 *ngIf="processing" class="text-center">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
        <div *ngIf="!processing && person" class="d-flex flex-wrap-reverse justify-content-center">
            <div class="card border-success flex-grow-2 ">
                <div class="card-header bg-transparent border-success">{{person.getName()}}</div>
                <div class="card-body text-success">
                    <div class="d-flex justify-content-between">
                        <span>{{teamName}}</span>
                        <img *ngIf="teamImageUrl" src="{{teamImageUrl}}" height="20px">
                    </div>
                </div>
                <div class="card-footer bg-transparent border-success">Footer</div>
            </div>
            <div class="card p-3">
                <img *ngIf="personImageUrl" src="{{personImageUrl}}" width="100px">
                <fa-icon *ngIf="!personImageUrl" [icon]="['fas', 'user-circle']" size="10x"></fa-icon>
            </div>
        </div>
    </div>
</div>