<div class="container-fluid px-0">
  <div class="row justify-content-center no-gutters">
    <div class="col-12 col-lg-10">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <div class="d-flex justify-content-between mb-3">
        <h2 class="mr-auto">
          <fa-icon [icon]="['fas', 'door-closed']"></fa-icon> kleedkamers
        </h2>
        <button *ngIf="!processing && editMode && hasCompetitors" role="button" (click)="add()"
          class="btn btn-add btn-outline-primary">
          <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon><span> toevoegen</span>
        </button>
      </div>
      <div *ngIf="processing">
        <h2 class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <div class="text-center">
        <button *ngIf="!processing && tournament && !editMode && isAdmin()"
          [routerLink]="['/admin', tournament.getId()]" type="button" class="btn btn-warning w-100 mb-3">
          naar het beheergedeelte
        </button>
      </div>
      <ngb-alert *ngIf="!processing && tournament && !hasCompetitors" type="info" [dismissible]="false">er zijn nog geen
        deelnemers
        ingevuld, ga naar
        <button role="button" class="btn btn-secondary" [routerLink]="['/admin/competitors', tournament.getId()]">
          <span>
            <fa-icon [icon]="['fas', 'users']"></fa-icon>deelnemers invullen
          </span>
        </button></ngb-alert>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>

      <div *ngIf="!processing && hasCompetitors" class="card-deck flex-wrap d-flex justify-content-center mx-0">
        <app-tournament-lockerroom *ngFor="let lockerRoom of tournament.getLockerRooms()" [lockerRoom]="lockerRoom"
          [validator]="validator" [editable]="editMode" class="card m-2" [favorites]="favorites"
          (remove)="remove($event)" (changeName)="changeName($event)" (changeCompetitors)="changeCompetitors($event)">
        </app-tournament-lockerroom>
      </div>
      <div *ngIf="validator && !validator.areAllArranged() && hasCompetitors">
        <hr />
        <div *ngIf="!validator.areAllArranged()" class="d-flex justify-content-center">
          <div class="card border-info m-2 unarranged-competitors text-center">
            <div class="card-header">
              <h5 class="mb-0">niet ingedeelde deelnemers</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
              <ng-template ngFor let-competitor [ngForOf]="validator.getCompetitors()">
                <li *ngIf="!validator.isArranged(competitor)" class="list-group-item"
                  [ngClass]="{ 'favitem': favorites && favorites.hasCompetitor(competitor) }">
                  <span>{{competitor.getName()}}</span>
                </li>
              </ng-template>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>