<div class="card-header pointer p-3">
  <div class="d-flex justify-content-between">
    <h5 class="mb-0 mt-2" (click)="changeName.emit(lockerRoom)"><small>kleedkamer </small><span
        class="font-weight-bold">{{lockerRoom.getName()}}</span>
    </h5>
    <button *ngIf="editable" class="btn btn-sm btn-outline-danger ml-1" (click)="remove.emit(lockerRoom)">
      <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
    </button>
  </div>
</div>
<ul class="card-body list-group list-group-flush text-center p-0">
  <li *ngFor="let competitor of lockerRoom.getCompetitors()" class="list-group-item">
    <span [ngClass]="{ 'favitem': favorites && favorites.hasCompetitor(competitor) }">{{competitor.getName()}}</span>
    <span *ngIf="validator.isArrangedMultiple(competitor)"
      title="ingedeeld in {{validator.nrArranged(competitor)}} kleedkamers"
      class="badge badge-warning ml-1">{{validator.nrArranged(competitor)}}</span>
  </li>
</ul>
<div *ngIf="editable" (click)="changeCompetitors.emit(lockerRoom)"
  class="card-footer text-primary border-primary pointer text-center">
  <fa-icon [icon]="['fas', 'users']"></fa-icon><span> deelnemers selecteren</span>
</div>