<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <div>
        <h2>
          <fa-icon [icon]="['fac', 'referee']"></fa-icon> scheidsrechter
        </h2>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="initials" class="col-form-label">initialen</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.initials.invalid, 'is-valid': form.controls.initials.valid }"
              type="text" formControlName="initials" placeholder="max. {{validations.maxlengthinitials}} karakters"
              [focuMe]="referee === undefined">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.name.invalid, 'is-valid': form.controls.name.valid }" type="text"
              formControlName="name" placeholder="max. {{validations.maxlengthname}} karakters">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3 d-flex justify-content-between">
            <label for="emailaddress" container="body" placement="right" ngbPopover="De gebruiker met dit emailadres kan de uitslag van de wedstrijden, waarvoor
            hij/zij is aangesteld, wijzigen" class="col-form-label pointer">email
              <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
            </label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
              type="text" formControlName="emailaddress"
              placeholder="max. {{validations.maxlengthemailaddress}} karakters">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="info" class="col-form-label">info</label>
          </div>
          <div class="col-9">
            <textarea class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.info.invalid, 'is-valid': form.controls.info.valid }"
              formControlName="info" placeholder="max. {{validations.maxlengthinfo}} karakters"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-3 col-9">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary mr-2 mt-4">
              <fa-icon [icon]="['fac', 'referee']"></fa-icon> <span>{{referee ? 'wijzigen' : 'toevoegen'}}</span>
            </button>
            <button *ngIf="!referee && form.controls.emailaddress.value" [disabled]="form.invalid" type="submit"
              class="btn btn-primary mt-4" (click)="addAndInvite=true">
              <fa-icon [icon]="['fac', 'referee']"></fa-icon> toevoegen & uitnodigen
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>