<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-6">
    <app-tournament-title [tournament]="tournament" [admin]="true">
    </app-tournament-title>
    <div class="d-flex justify-content-between mr-1">
      <h2>
        <fa-icon [icon]="['fac', 'referee']"></fa-icon> scheidsrechters
      </h2>
      <button *ngIf="tournament" type="button" class="btn btn-sm btn-outline-info" (click)="openHelpModal(contentInfo)">
        <fa-icon [icon]=" ['fas', 'info-circle' ]"></fa-icon> info
      </button>
    </div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{alert.message}}</ngb-alert>
    <table *ngIf="!processing" class="table">
      <thead>
        <tr>
          <th></th>
          <th *ngIf="!hasBegun" class="text-center">
            <fa-icon *ngIf="competition.getReferees().length > 1" [icon]="['fas', 'sort']"></fa-icon>
          </th>
          <th>initialen</th>
          <th class="d-none d-sm-table-cell">naam</th>
          <th class="d-none d-md-table-cell">emailadres</th>
          <th class="text-right">
            <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-primary" (click)="addReferee()"
              [disabled]="processing">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let referee of referees; let last = last;">
          <td>
            <button type="button" class="btn btn-sm btn-primary" [disabled]="processing" (click)="editReferee(referee)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
          <td *ngIf="!hasBegun" class="text-center">
            <button *ngIf="referee.getPriority() > 1" type="button" class="btn btn-sm btn-outline-secondary"
              [disabled]="processing" (click)="upgradePriority(referee)">
              <fa-icon [icon]="['fas', 'level-up-alt']"></fa-icon>
            </button>
          </td>
          <td>
            <span>{{referee.getInitials()}}</span>
          </td>
          <td class="d-none d-sm-table-cell">
            <span>{{referee.getName()}}</span>
          </td>
          <td class="d-none d-md-table-cell">
            <span>{{referee.getEmailaddress()}}</span>
          </td>
          <td class="text-right">
            <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-danger" [disabled]="processing"
              (click)="removeReferee(referee);">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #contentInfo let-modal>
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title">scheidsrechters info</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item border-info">
        De scheidsrechter bovenaan de lijst krijgt de eerste (laatste vanaf de tweede ronde) wedstrijd toegekend.
      </li>
      <li class="list-group-item border-info">Scheidsrechters kunnen zelf uitslagen invoeren wanneer hun
        emailadres is ingevoerd
        en ze ingelogd zijn.</li>
      <li class="list-group-item border-info">
        Onder <button type="submit" *ngIf="firstRoundNumberNotBegun" class="btn btn-outline-secondary"
          data-dismiss="modal" (click)="modal.close('linkToPlanningConfig')">planningsinstellingen</button> kun je
        "deelnemers zijn scheidsrechter " instellen.
      </li>
    </ul>
  </div>
  <div class="modal-footer justify-content-reverse border-top-0">

    <button type="submit" class="btn btn-outline-secondary" data-dismiss="modal"
      (click)="modal.dismiss('close')">sluiten</button>
  </div>
</ng-template>