<h2 *ngIf="processing" class="text-center">
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>
<ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
<table *ngIf="sportConfig" class="table">
    <thead>
        <tr>
            <th></th>
            <th *ngIf="prioritizable" class="text-center">
                <fa-icon [icon]="['fas', 'sort']"></fa-icon>
            </th>
            <th>naam</th>
            <th class="text-right">
                <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-primary" (click)="addField()"
                    [disabled]="processing">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of sportConfig.getFields()">
            <td>
                <button type="button" class="btn btn-sm btn-primary" [disabled]="processing" (click)="editField(field)">
                    <fa-icon [icon]="['fas', 'pencil-alt' ]"></fa-icon>
                </button>
            </td>
            <td *ngIf="prioritizable" class="text-center">
                <button *ngIf="field.getPriority() > 1" type="button" class="btn btn-sm btn-outline-secondary"
                    [disabled]="processing" (click)="upgradePriority(field)">
                    <fa-icon [icon]="['fas', 'level-up-alt']"></fa-icon>
                </button>
            </td>
            <td>
                <span>{{field.getName()}}</span>
            </td>
            <td class="text-right">
                <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-danger"
                    [disabled]="processing || sportConfig.getFields().length === 1" (click)="removeField(field);">
                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>