<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="d-flex justify-content-between mb-4">
        <span></span>
        <h1 *ngIf="tournament" class="text-truncate pointer" (click)="openModalName()">
          <button *ngIf="isAdmin()" type="button" class="btn btn-outline-secondary btn-sm mr-1">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <span>{{tournament.getName()}}</span></h1>
        <h1 class="mr-1">
          <button [routerLink]="['']" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
            <span class="ml-1 d-none d-md-inline"> terug</span>
          </button>
        </h1>
      </div>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <ngb-alert *ngIf="oldStructure && !oldStructureRequested" type="info" [dismissible]="false">Wanneer je de
        opzet toch nog wilt bekijken,
        dan
        kunnen we de opzet handmatig omzetten.
      </ngb-alert>
      <div *ngIf="oldStructure" class="d-flex justify-content-center">
        <button *ngIf="!oldStructureRequested" (click)="sendRequestOldStructure()"
          class="btn btn-outline-primary">verstuur aanvraag voor handmatige
          omzetting</button>
        <ngb-alert *ngIf="oldStructureRequested" type="success" [dismissible]="false">de aanvraag voor handmatige
          omzetting is verstuurd
        </ngb-alert>
      </div>
      <ngb-alert *ngIf="!processing && tournament && isAdmin() && !isManualMessageReadOnDevice()" type="info"
        [dismissible]="true" (close)="manualMessageReadOnDevice()">gedetailleerde
        informatie kun je vinden onderaan de pagina via de handleiding-link</ngb-alert>
      <div *ngIf="!processing && structure && ( isAdmin() || isRefereeOrGameResultAdmin() )"
        class="row d-flex justify-content-center">
        <div *ngIf="isAdmin()" class="card border-secondary pointer mt-3 mx-2" (click)="linkToStructure()">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fac', 'structure']"></fa-icon> opzet
            </h5>
            <p class="card-text" *ngIf="!structure.getFirstRoundNumber().hasNext()">
              1 ronde ingesteld
            </p>
            <p class="card-text" *ngIf="structure.getFirstRoundNumber().hasNext()">
              meerdere ronde ingesteld
            </p>
          </div>
        </div>
        <div *ngIf="isAdmin()" class="card border-secondary pointer mt-3 mx-2"
          [routerLink]="['/admin/competitors', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
            </h5>
            <p class="card-text" *ngIf="allPlacesAssigned()">
              <span *ngIf="!someCompetitorsRegistered()">
                <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon> alle namen ingevuld
              </span>
              <span *ngIf="someCompetitorsRegistered()">
                <fa-icon [icon]="['fas', 'check-circle']" class="text-warning"></fa-icon> deelnemers aanmelden
              </span>
            </p>
            <p class="card-text" *ngIf="!allPlacesAssigned()">
              <fa-icon [icon]="['fas', 'times-circle']" class="text-danger"></fa-icon> vul de namen in
              ({{getNrOfCompetitors()}}/{{getNrOfPlaces()}})
            </p>
          </div>
        </div>
        <div class="card border-secondary pointer mt-3 mx-2" [routerLink]="['/admin/games', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijdplanning
            </h5>
            <p class="card-text">start is {{competition.getStartDateTime().toLocaleString("nl",
              {"month":"short","day":"2-digit","hour12":
              false,"hour":"2-digit","minute":"2-digit"})}}
            </p>
          </div>
        </div>
        <div *ngIf="isAdmin()" class="card border-secondary pointer mt-3 mx-2" (click)="linkToSportConfig()">
          <div class="card-body">
            <h5 *ngIf="!competition.hasMultipleSportConfigs()" class="card-title text-truncate">
              <app-sport-icon [configs]="competition.getSportConfigs()"></app-sport-icon>
              <span> {{competition.getFirstSportConfig().getSport().getName()}}</span>
            </h5>
            <h5 *ngIf="competition.hasMultipleSportConfigs()" class="card-title text-truncate">
              <span>sporten</span>
            </h5>
            <p class="card-text">
              <span class="font-weight-bold">{{getNrOfFieldsDescription()}}</span>, punten en score
            </p>
          </div>
        </div>
        <div *ngIf="isAdmin()" class="card border-secondary pointer mt-3 mx-2"
          [routerLink]="['/admin/referees', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fac', 'referee']"></fa-icon> scheidsrechters
            </h5>
            <p class="card-text">{{getNrOfRefereesDescription()}}</p>
          </div>
        </div>
        <div *ngIf="structure.getRootRound().hasBegun()" class="card border-secondary pointer mt-3 mx-2"
          [routerLink]="['/public/ranking', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'list-ol']"></fa-icon> standen
            </h5>
            <p class="card-text">
              poule- en eindstanden
            </p>
          </div>
        </div>
        <div *ngIf="isAdmin()" class="card border-secondary pointer mt-3 mx-2"
          [routerLink]="['/admin/lockerrooms', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'door-closed']"></fa-icon> kleedkamers
            </h5>
            <p class="card-text">
              <span *ngIf="!lockerRoomValidator.areSomeArranged()">
                nog geen indeling
              </span>
              <span *ngIf="!lockerRoomValidator.areAllArranged() && lockerRoomValidator.areSomeArranged()">
                <fa-icon [icon]="['fas', 'times-circle']" class="text-warning"></fa-icon> indeling niet compleet
              </span>
              <span *ngIf="lockerRoomValidator.areAllArranged()">
                <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon> deelnemers ingedeeld
              </span>
            </p>
          </div>
        </div>
        <div *ngIf="isAdmin()" class="card border-secondary pointer mt-3 mx-2"
          [routerLink]="['/admin/sponsors', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'money-bill-alt']"></fa-icon> sponsoren
            </h5>
            <p class="card-text">{{getNrOfSponsorsDescription()}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!processing && tournament && tournament.getPublic()" class="text-center mt-3">
    <button [routerLink]="['/public', tournament.getId()]" type="button" class="btn btn-outline-secondary w-100">
      naar het publieke gedeelte <fa-icon [icon]="['fas', 'eye']"></fa-icon>
    </button>
  </div>
  <div *ngIf="!processing && structure" class="row d-flex justify-content-center">
    <div *ngIf="structure.hasPlanning() && (isAdmin() || isRoleAdmin())" class="card border-secondary mt-3 mx-2">
      <div class="card-body d-flex justify-content-between">
        <div [routerLink]="['/public/liveboard', tournament.getId()]" class="text-center pointer">
          <div>
            <h5 class="card-title">
              <fa-icon [icon]=" [ 'fas', 'tv'] "></fa-icon>
            </h5>
          </div>
          <div><span>live</span><br><span>scorebord</span></div>
        </div>
        <div *ngIf="isAdmin()" (click)="openModalExport(contentexport)" class="text-center pointer">
          <div>
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
            </h5>
          </div>
          <div><span>pdf</span><br><span>excel</span></div>
        </div>
        <div *ngIf="isAdmin()" (click)="openModalShare(contentshare)" class="text-center pointer">
          <div>
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>
            </h5>
          </div>
          <div><span>delen</span></div>
        </div>
      </div>
    </div>
    <div *ngIf="isAdmin() || isRoleAdmin()" class="card border-secondary mt-3 mx-2">
      <div class="card-body d-flex justify-content-between">
        <div *ngIf="isRoleAdmin()" [routerLink]="['/admin/authorizations', tournament.getId()]"
          class="text-center pointer">
          <div>
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
            </h5>
          </div>
          <div><span>rollen</span><br><span>uitdelen</span></div>
        </div>
        <div *ngIf="isAdmin()" (click)="openModalCopy(contentcopy)" class="text-center pointer">
          <div>
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'copy']"></fa-icon>
            </h5>
          </div>
          <div><span>nieuwe</span><br><span>editie</span></div>
        </div>
        <div *ngIf="isAdmin()" (click)="openModalRemove(contentremove)" class="text-center pointer">
          <div>
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </h5>
          </div>
          <div><span>verwijderen</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentexport let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <fa-icon [icon]="['fas', 'file-export']"></fa-icon> exporteren
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form [formGroup]="exportForm">
        <div class="row">
          <div class="form-check col-3">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="structure">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <label for="structure" class="col-8 col-form-label">opzet & indeling</label>
        </div>
        <div class="row">
          <div class="form-check col-3">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="planning">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <label for="planning" class="col-8 col-form-label">wedstrijdplanning</label>
        </div>
        <div class="row">
          <div class="form-check col-3">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="gamenotes">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <label for="gamenotes" class="col-9 col-form-label">wedstrijdbriefjes</label>
        </div>
        <div class="row">
          <div class="form-check col-3">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="gamesperpoule">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <label for="gamesperpoule" class="col-8 col-form-label">wedstrijden per poule</label>
        </div>
        <div class="row">
          <div class="form-check col-3">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="gamesperfield">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <label for="gamesperfield" class="col-8 col-form-label">wedstrijden per {{getFieldDescription()}}</label>
        </div>
        <div class="row">
          <div class="form-check col-3">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="poulepivottables">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <label for="poulepivottables" class="col-8 col-form-label">poule draaitabellen</label>
        </div>
        <div *ngIf="lockerRoomValidator.areSomeArranged()" class="row">
          <div class="form-check col-3">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="lockerrooms">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <label for="lockerrooms" class="col-8 col-form-label">kleedkamers</label>
        </div>
        <div *ngIf="tournament.getPublic()" class="row">
          <div class="form-check col-3">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="qrcode">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <label for="qrcode" class="col-8 col-form-label">delen met link en qr-code <fa-icon
              [icon]="['fas', 'qrcode']">
            </fa-icon></label>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button type="button" class="btn btn-outline-primary" [disabled]="allExportOptionsOff()" data-dismiss="modal"
      (click)="modal.close('export-pdf')">
      <fa-icon [icon]="['fas', 'print']"></fa-icon> naar pdf
    </button>
    <button type="button" class="btn btn-outline-primary" [disabled]="allExportOptionsOff()" data-dismiss="modal"
      (click)="modal.close('export-excel')">
      <fa-icon [icon]="['fas', 'file-excel']"></fa-icon> naar excel
    </button>
  </div>
</ng-template>

<ng-template #contentcopy let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <fa-icon [icon]="['fas', 'copy']"></fa-icon> nieuwe editie
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form *ngIf="!processing" name="form" (ngSubmit)="false" [formGroup]="copyForm" novalidate>
        <div class="form-group row">
          <div class="col-5">
            <label for="dp" class="col-form-label">startdatum</label>
          </div>
          <div class="col-7">
            <div class="input-group input-group-date">
              <input class="form-control" formControlName="date" ngbDatepicker #d="ngbDatepicker" required
                [minDate]="minDateStruct">
              <div class="input-group-append">
                <span class="input-group-text pointer" (click)="d.toggle()">
                  <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.close('copy')">naar nieuwe
      editie</button>
  </div>
</ng-template>

<ng-template #contentremove let-modal>
  <div class="modal-header">
    <h4 class="modal-title">toernooi verwijderen</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Weet je zeker dat je het toernooi wilt verwijderen?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.close('remove')">nu
      verwijderen</button>
  </div>
</ng-template>

<ng-template #contentshare let-modal>
  <div class="modal-header">
    <h4 class="modal-title">toernooi delen</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert *ngIf="modal.copied === true" type="info" [dismissible]="false">de url is gekopieerd naar het klembord
    </ngb-alert>
    <form *ngIf="!processing" name="form" (ngSubmit)="false" [formGroup]="shareForm" novalidate>
      <div class="form-group row">
        <label for="publicxyz" class="col-4 col-form-label pointer" popoverClass="popover-small" container="shareForm"
          placement="right" ngbPopover="Publieke toernooien zijn te bekijken door anderen. Standen, uitslagen, etc. zijn live te bekijken, 
                            niet publieke toernooien zijn alleen voor jou beschikbaar.">publiek
          <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
        </label>
        <div class="form-check col-8">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" formControlName="public">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
      <div *ngIf="shareForm.value['public']" class="form-group row">
        <div class="col-4">
          <label for="url" class="col-form-label">url</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" formControlName="url">
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer d-flex justify-content-{{shareForm.value['public'] ? 'between' : 'reverse'}}">
    <button *ngIf="shareForm.value['public']" ngxClipboard type="button" class="btn btn-outline-primary"
      data-dismiss="modal" (cbOnSuccess)="modal.copied = true;" [cbContent]="shareForm.controls.url.value">
      <fa-icon [icon]="['fas', 'clipboard-check']"></fa-icon> kopieer url naar klembord
    </button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.close('share')">opslaan</button>
  </div>
</ng-template>