<div class="text-center">
  <app-title *ngIf="pool" [title]="pool.getName()"></app-title>
</div>
<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>

<ngb-alert *ngIf="alert" [type]="alert.type">
  {{ alert.message }}</ngb-alert>


<div *ngIf="pool && poolUser" class="content-wrapper-between">
  <div class="d-flex flex-wrap justify-content-around">
    <div *ngIf="!showSearchOnSM" class="mb-3 mr-3" style="max-width: 60vw">
      <div>
        <h2 class="text-center">
          <fa-icon [icon]="['fas', 'users']"></fa-icon> team samenstellen
        </h2>
      </div>

      <app-pool-chooseformation *ngIf="availableFormations" [availableFormations]="availableFormations"
        [poolUser]="poolUser" (alert)="alert = $event" (processing)="processFormationChange($event)"
        (formation)="assembleLines = getAssembleLines($event)">
      </app-pool-chooseformation>
      <h2 *ngIf="changingFormation" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <div *ngIf="!changingFormation" class="d-flex flex-wrap justify-content-center">
        <app-pool-assembleline *ngFor="let assembleLine of assembleLines" [assembleLine]="assembleLine"
          [selectedPlace]="selectedPlace" (selectPlace)="selectPlace($event)">
        </app-pool-assembleline>
      </div>
    </div>
    <app-pool-choosepersons *ngIf="selectedPlace && showSearchOnSM" class="d-block d-md-none"
      (selectPlayer)="updatePlace($event)" [selectedPersonMap]="teamPersonMap" [selectedSearchLine]="selectedSearchLine"
      [selectWarningTeamMap]="selectedTeamMap"></app-pool-choosepersons>
    <app-pool-choosepersons *ngIf="selectedPlace" class="d-none d-md-block" [selectedSearchLine]="selectedSearchLine"
      (selectPlayer)="updatePlace($event)" [selectedPersonMap]="teamPersonMap" [selectWarningTeamMap]="selectedTeamMap">
    </app-pool-choosepersons>
  </div>
</div>

<!-- <div>
  <button type="button" class="btn btn-outline-primary">{{superElfNameService.getLineName(assembleLine.number)}}</button>
</div> -->