@import "sass/bootstrap/_components";
// @import "sass/bootstrapbuild/variables";

@include media-breakpoint-down(sm) {
    .assemble-width {
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .assemble-width {
      width: 45%;
      max-width: 500px;
    }
    app-pool-choosepersons {
        margin-start: 7vw;
    }
}

// from md as siblings, xs and sm align center

