<div *ngIf="line" class="card mx-2 mt-0 border-0">

  <div class="card-body pb-0">
    <h5 class="card-title">
      <app-lineicon [line]="line.getNumber()" [abbreviate]="false"></app-lineicon>
    </h5>
    <table class="table {{getBorderClass()}}">
      <tbody>
        <ng-container *ngFor="let place of line.getStartingPlaces()" [ngTemplateOutlet]="placeRow"
          [ngTemplateOutletContext]="{place:place}">
        </ng-container>
        <ng-container [ngTemplateOutlet]="placeRow" [ngTemplateOutletContext]="{place:line.getSubstitute()}">
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<ng-template #placeRow let-place="place">
  <tr>
    <td>
      <span *ngIf="place.getPlayer()">{{place.getPlayer()?.getPerson().getName()}}</span>
      <button *ngIf="!place.getPlayer()" type="button" class="btn btn-outline-danger btn-sm">
        kies een {{place.isSubstitute() ? 'wissel' : 'speler'}}
      </button>
    </td>
    <td>
      <span *ngIf="place.getPlayer()">{{getTeamAbbreviation(place.getPlayer().getPerson())}}</span>
    </td>
    <td class="text-end">
      <button *ngIf="selectedPlace !== place && !processing" type="button" class="btn btn-sm {{getButtonLineClass()}}"
        (click)="select(place, true)">
        <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
      </button>
      <!-- <button *ngIf="selectedPlace !== place && !processing" type="button"
        class="btn btn-secondary btn-sm d-none d-md-inline" (click)="select(place, false)">
        <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
      </button> -->
      <!-- <fa-icon *ngIf="selectedPlace == place && processing" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> -->
    </td>
  </tr>
</ng-template>