<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
    <app-tournament-title [tournament]="tournament">
    </app-tournament-title>
    <div class="text-center">
      <button *ngIf="!processing && tournament && isAdmin()" [routerLink]="['/admin', tournament.getId()]" type="button"
        class="btn btn-warning w-100 mb-3">
        naar het beheergedeelte
      </button>
    </div>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
    <div *ngIf="!processing && hasCompetitors() && hasReferees()">
      <div class="d-flex justify-content-between mb-2">
        <h2>Instellen</h2>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>
            <fa-icon [icon]="['fas', 'users']"></fa-icon><span> deelnemers </span>
            <span *ngIf="favorites.hasCompetitors()"
              class="badge badge-primary">{{favorites.getNrOfCompetitors()}}</span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="competitors">
            </ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>
            <fa-icon [icon]="['fac', 'referee']"></fa-icon><span> scheidsrechters </span><span
              *ngIf="favorites.hasReferees()" class="badge badge-primary">{{favorites.getNrOfReferees()}}</span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="referees">
            </ng-container>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>

    <div *ngIf="!processing && hasCompetitors() && !hasReferees()">
      <div class="d-flex justify-content-between mb-2">
        <h3>
          <fa-icon [icon]="['fas', 'users']"></fa-icon><span> deelnemers </span>
          <small><span *ngIf="favorites.hasCompetitors()"
              class="badge badge-primary">{{favorites.getNrOfCompetitors()}}</span></small>
        </h3>
      </div>
      <ng-container *ngTemplateOutlet="competitors">
      </ng-container>
    </div>

    <div *ngIf="!processing && !hasCompetitors() && hasReferees()">
      <div class="d-flex justify-content-between mb-2">
        <h3>
          <fa-icon [icon]="['fac', 'referee']"></fa-icon><span> scheidsrechters </span><small><span
              *ngIf="favorites.hasReferees()" class="badge badge-primary">{{favorites.getNrOfReferees()}}</span></small>
        </h3>
      </div>
      <ng-container *ngTemplateOutlet="referees">
      </ng-container>
    </div>
  </div>
</div>

<ng-template #competitors>
  <table class="table">
    <thead>
      <tr>
        <th>plek</th>
        <th>naam</th>
        <th colspan=2></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let place of places">
        <td>
          <span>{{nameService.getPlaceFromName(place, false)}}</span>
        </td>
        <td class="place">
          <span *ngIf="getCompetitor(place)">{{getCompetitor(place).getName()}}</span>
        </td>
        <td class="text-right">
          <fa-icon class="my-2" *ngIf="getCompetitor(place) && processingItem === place" [icon]="['fas', 'spinner']"
            [spin]="true">
          </fa-icon>
          <label *ngIf="getCompetitor(place) && processingItem !== place"
            class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input"
              [checked]="favorites.hasCompetitor(getCompetitor(place))"
              (change)="toggleFavoriteCompetitor(getCompetitor(place))">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #referees>
  <table class="table">
    <tbody>
      <tr *ngFor="let referee of competition.getReferees()">
        <td>
          <span>{{referee.getInitials()}}</span>
          <span *ngIf="referee.getName()"> - {{referee.getName()}}</span>
        </td>
        <td class="text-right">
          <fa-icon class="my-2" *ngIf="processingItem === referee" [icon]="['fas', 'spinner']" [spin]="true">
          </fa-icon>
          <label *ngIf="processingItem !== referee" class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input"
              [checked]="favorites.hasReferee(referee)" (change)="toggleFavoriteReferee(referee)">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
    </tbody>
  </table>
</ng-template>