<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-6">
    <h2>
      <fa-icon [icon]="['fas', 'users']"></fa-icon> stand
    </h2>

    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>

    <app-together-ranking *ngIf="!processing && pool && poule" [poule]="poule" [competitionSport]="competitionSport"
      [startLocationMap]="startLocationMap" [header]="true">
    </app-together-ranking>

    <!-- <table class="table">
      <thead>
        <tr>
          <th>pl</th>
          <th>naam</th>
          <th *ngIf="pool.getTransferPeriod().isIn()">
            transfers
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let poolUser of poolUsers">
          <td>
            {{poolUser.getName()}}
          </td>
          <td *ngIf="pool.transferPeriodNotStarted()">
            <fa-icon *ngIf="poolUser.getNrOfAssembled() < 15" [icon]="['fas', 'times-circle']" class="text-danger">
            </fa-icon>
            <fa-icon *ngIf="poolUser.getNrOfAssembled() == 15" [icon]="['fas', 'check-circle']" class="text-success">
            </fa-icon>
            {{poolUser.getNrOfAssembled()}}/15
          </td>
          <td *ngIf="pool.getTransferPeriod().isIn()">
            0/2
          </td>
          <td class="text-end">
            <button *ngIf="!poolUser.getAdmin() && !canBeRemoved()" type="button" class="btn btn-sm btn-danger"
              [disabled]="processing" (click)="openRemoveApprovalModal(poolUser)">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>