<div *ngIf="round" class="width-100">
  <div class="card border-secondary round mb-3 user-select-none">
    <div class="card-header border-bottom-0 px-1 text-center">
      <span class="" [innerHTML]="this.structureNameService.getRoundName(round, true) | keepHtml"></span>
      <span class="small"> ({{getGameRoundNumbers(round)}})</span>
    </div>
    <div class="card-body px-1">
      <div class="d-flex flex-wrap gap-2 justify-content-around">

        <div *ngFor="let poule of round.getPoules();" class="btn-group mb-3" role="group">

          <ng-container *ngIf="hasCompetitors;else hasNoCompetitors">

            <button type="button" class="btn btn-outline-primary ps-1">{{structureNameService.getPouleName(poule,
              false)}}</button>
            <button type="button" class="btn btn-outline-primary ps-1 text-start">
              <div [ngClass]="{'favitem': isCurrentUser(poule.getPlace(1)) }">
                <span>{{getCompetitorName(poule.getPlace(1))}}</span>
              </div>
              <div *ngIf="poule.getPlaces().length == 1" class="ms-1 bg-success">
                bye
              </div>
              <div *ngIf="poule.getPlaces().length == 2" [ngClass]="{'favitem': isCurrentUser(poule.getPlace(2)) }"
                (click)="emitNavigateToPoule(poule)">
                <span>{{getCompetitorName(poule.getPlace(2))}}</span>
              </div>
            </button>

          </ng-container>
          <ng-template #hasNoCompetitors>

            <button type="button" class="btn btn-outline-primary">{{getPreviousPouleName(poule.getPlace(1))}}</button>
            <button type="button" class="btn btn-outline-primary">{{getPreviousPouleName(poule.getPlace(2))}}</button>

          </ng-template>
        </div>


      </div>
    </div>
  </div>


  <app-superelf-cup-round *ngFor="let qualifyGroup of round.getQualifyGroupsLosersReversed();" class="mb-2"
    [round]="qualifyGroup.getChildRound()" [poolUser]="poolUser" [structureNameService]="structureNameService">
  </app-superelf-cup-round>


</div>