<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10">

    <div class="d-flex justify-content-center my-2">
      <h2 class="ms-3">
        <app-superelf-icon [name]="'cup'"></app-superelf-icon> beker
      </h2>
    </div>

    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>

    <div *ngIf="!processing && pool && poule">

      <app-superelf-cup-round [poolUser]="poolUser" [round]="poule.getRound()" class="px-0"
        [structureNameService]="structureNameService" (navigateToPoule)="navigateToPoule($event)">
      </app-superelf-cup-round>

    </div>

  </div>
</div>