<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <div class="d-flex justify-content-between mb-4">
        <h1>nieuwe pool</h1>
        <h1 class="mr-1">
          <button *ngIf="!processing" [routerLink]="['']" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
            <span class="ml-1 d-none d-md-inline"> terug</span>
          </button>
        </h1>
      </div>

      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">
        {{ alert.message }}</ngb-alert>

      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>

      <form *ngIf="!processing" name="form" (ngSubmit)="create()" [formGroup]="form" novalidate>
        <div class="form-group row">
          <label for="name" class="col-4 col-form-label">naam</label>
          <div class="col-8">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.name.invalid, 'is-valid': form.controls.name.valid }" type="text"
              formControlName="name" placeholder="max. {{validations.maxlengthname}} karakters">
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-8">
            <button [disabled]="form.invalid || sport === undefined" type="submit" class="btn btn-primary">
              ga naar het beheer-gedeelte
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>