<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    
    <h2 class="ms-3">
      <app-superelf-icon [name]="'world-cup'"></app-superelf-icon> wereldbeker
    </h2>

  

    <!-- <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert> -->
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
    <div *ngIf="!processing" class="d-flex flex-wrap justify-content-center">
      <ngb-alert type="info">De nummers 1 en 2 van elke pool plaatsen zich voor de wereldbeker-competitie voor
        het daaropvolgende seizoen</ngb-alert>
    </div>
  </div>

<div class="competitionsNavBarHeight"></div>
<ng-template #competitionsNavBar>
  <app-competitions-navbar *ngIf="originPool" [pool]="originPool" [current]="WorldCupStructure">
  </app-competitions-navbar>
</ng-template>


<app-pool-navbar *ngIf="originPool" [current]="Competitions" [pool]="originPool" [upperNavBar]="competitionsNavBar">
</app-pool-navbar>