<div class="d-flex justify-content-center">
  
  <!-- PouleRankingTogetherSport -->
  <h2 class="mb-0 navbar-item">
    <a type="button" class="btn pt-cus" (click)="linkTo(PouleRankingTogetherSport)">
      <app-superelf-trophy-icon size="2x" [leagueName]="Competition"></app-superelf-trophy-icon>
      <br /><span class="{{getTextColorClass(PouleRankingTogetherSport)}}">{{nameService.getLeagueName(Competition)}}</span>
    </a>
  </h2>

  <!--CupStructure -->
  <h2 class="mb-0 navbar-item">
    <a type="button" class="btn pt-cus" (click)="linkTo(CupStructure)">
      <app-superelf-trophy-icon size="2x" [leagueName]="Cup"></app-superelf-trophy-icon>
      <br /><span class="{{getTextColorClass(CupStructure)}}">{{nameService.getLeagueName(Cup)}}</span>
      @if( cupActive() ) {
        <span class="position-absolute top-0 translate-middle p-2 mt-3 bg-info border border-light rounded-circle">
          <span class="visually-hidden">actief</span>
        </span>
      }
    </a>
  </h2>

  <!--SuperCupGame -->
  @if(hasSuperCup) {
    <h2 class="mb-0 navbar-item">
      <a type="button" class="btn pt-cus" (click)="linkTo(SuperCupGame)">
        <app-superelf-trophy-icon size="2x" [leagueName]="SuperCup"></app-superelf-trophy-icon>
        <br /><span class="{{getTextColorClass(SuperCupGame)}}">{{nameService.getLeagueName(SuperCup)}}</span>        
        @if( superCupActive() ) {
          <span class="position-absolute top-0 translate-middle p-2 mt-3 bg-info border border-light rounded-circle">
            <span class="visually-hidden">actief</span>
          </span>
        }
      </a>
    </h2>
  }


  <!--WorldCupStructure -->
  @if(hasWorldCup) {
    <h2 class="mb-0 navbar-item">
      <a type="button" class="btn pt-cus" (click)="linkTo(WorldCupStructure)">
        <app-superelf-trophy-icon size="2x" [leagueName]="WorldCup"></app-superelf-trophy-icon>
        <br /><span class="{{getTextColorClass(WorldCupStructure)}}">{{nameService.getLeagueName(WorldCup)}}</span>        
      </a>
    </h2>
  }
</div>