<div class="row justify-content-center g-0">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <ngb-alert *ngIf="!processing && !currentSourceGame" type="danger">de wedstrijd kan niet gevonden worden
        </ngb-alert>

        <div *ngIf="!processing && gameRounds" class="d-flex mt-2 ms-1">
            
            <app-gameround-scroller [gameRounds]="gameRounds" [current]="currentGameRound"
                (update)="updateGameRound($event)">
            </app-gameround-scroller>
            
            <button *ngIf="poule" (click)="navigateToChat(poule)" type="button" class="btn btn-outline-dark ms-3 position-relative">
                <fa-icon [icon]="['fas', 'message']"></fa-icon>
                <span class="ms-1"> chat</span>
                <span *ngIf="nrOfUnreadMessages > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{nrOfUnreadMessages}}
                    <span class="visually-hidden">ongelezen berichten</span>
                </span>
            </button>
        </div>

        <h2 *ngIf="processing" class="text-center">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
        <div *ngIf="!processing">

            <h2 *ngIf="processingGames" class="text-center">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </h2>

            <div *ngIf="!processingGames && sourceGameRoundGames.length > 0 && currentSourceGame" class="d-flex my-3 ms-1">
                <app-game-scroller [games]="sourceGameRoundGames" [current]="currentSourceGame"
                    (update)="updateSourceGame($event)" (navigate)="navigateToSourceGame($event)">
                </app-game-scroller>
            </div>

            <table class="table" *ngIf="!processingGames && formationMap && currentSourceGame && sportRankingItems.length > 0">
                <tbody>
                    <tr *ngFor="let sportRankingItem of sportRankingItems">
                        <td>
                            <a [routerLink]="getRouterLink(sportRankingItem, currentGameRound)">
                                {{structureNameService.getPlaceFromName(sportRankingItem.getPerformance().getPlace(),true)}}
                            </a>
                        </td>
                        <td>
                            <ng-container [ngTemplateOutlet]="contentForamtionPlaces"
                                [ngTemplateOutletContext]="{formationPlaces:getFormationPlaces(currentSourceGame, HomeSide, formationMap, sportRankingItem)}">
                            </ng-container>
                        </td>
                        <td>
                            <ng-container [ngTemplateOutlet]="contentForamtionPlaces"
                                [ngTemplateOutletContext]="{formationPlaces:getFormationPlaces(currentSourceGame, AwaySide, formationMap, sportRankingItem)}">
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ng-template #contentForamtionPlaces let-formationPlaces="formationPlaces">
                <div *ngFor="let formationPlace of formationPlaces" class="d-flex justify-content-between">
                    <ng-container *ngIf="formationPlace.getPlayer()" [ngTemplateOutlet]="contentPlayer"
                        [ngTemplateOutletContext]="{s11Player:formationPlace.getPlayer()}">
                    </ng-container>
                    <span *ngIf="formationPlace.isSubstitute()" class="badge badge-reserve ms-1">r</span>
                </div>
            </ng-template>

            <ng-template #contentPlayer let-s11Player="s11Player">
                <div>
                    <app-lineicon [line]="s11Player.getLine()"></app-lineicon>
                    <span class="ps-1 text-break">{{s11Player.getPerson().getName()}}</span>
                </div>
            </ng-template>

        </div>
    </div>
</div>

<app-pool-navbar [current]="Schedule" *ngIf="pool" [pool]="pool" [poolUser]="poolUser">
</app-pool-navbar>