<div class="row justify-content-center g-0">
    <div class="col-xs-12 col-sm-10 col-md-6">
        <h2 class="text-center">
            <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijden
        </h2>

        <h2 *ngIf="processing" class="text-center">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>

        <div *ngIf="!processing">

            <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

            <div *ngIf="pool && currentGameRound" class="card card-person border-0">
                <div class="card-body py-1 px-2">
                    <div class="d-flex flex-column">

                        <app-gameround-scroller [gameRounds]="gameRounds" [current]="currentGameRound"
                            (update)="updateGameRound($event)">
                        </app-gameround-scroller>

                        <h2 *ngIf="processingGames" class="text-center">
                            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                        </h2>

                        <div *ngIf="!processingGames" class="">
                            <div *ngFor="let game of againstGames"
                                class="d-flex flex-wrap justify-content-between mt-3 mb-2">

                                <button type="button" class="btn btn-outline-primary"
                                    [routerLink]="['/pool/sourcegame', pool.getId(), currentGameRound.getNumber(), game.getId()]">
                                    <app-againstgame-title [againstGame]="game"></app-againstgame-title>
                                </button>

                                <button type="button" class="btn btn-outline-primary ms-2"
                                    [routerLink]="['/pool/togethergame', pool.getId(), currentGameRound.getNumber(), game.getId()]">
                                    <fa-icon [icon]="['fas', 'users']"></fa-icon>
                                </button>
                            </div>
                        </div>



                        <!-- <div class="">
                            <app-s11player-viewperiod-statistics *ngIf="!currentGameRound"
                                [totals]="s11Player.getTotals()" [line]="s11Player.getLine()"
                                [competitionConfig]="pool.getCompetitionConfig()">
                            </app-s11player-viewperiod-statistics>
                            <app-s11player-gameround-statistics *ngIf="pool && currentGameRound"
                                [statistics]="s11Player.getGameStatistics(currentGameRound.getNumber())"
                                [line]="s11Player.getLine()" [competitionConfig]="pool.getCompetitionConfig()">
                            </app-s11player-gameround-statistics>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>