<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-6">

    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>

    <div *ngIf="!processing && pool && poule">
      <div class="d-flex justify-content-between mt-2">
        <h2 class="ms-3">
          <app-superelf-icon [name]="'plate'"></app-superelf-icon> competitie
        </h2>
        <button *ngIf="poule" (click)="navigateToChat(poule)" type="button"
          class="btn btn-outline-dark me-3 position-relative">
          <fa-icon [icon]="['fas', 'message']"></fa-icon>
          <span class="ms-1"> chat</span>
          <span *ngIf="nrOfUnreadMessages > 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{nrOfUnreadMessages}}
            <span class="visually-hidden">ongelezen berichten</span>
          </span>
        </button>
      </div>

      <div class="d-flex justify-content-between mt-3 mb-1 ms-3 me-4">
        <app-gameround-scroller [gameRounds]="gameRounds" [current]="currentGameRound"
          (update)="updateGameRound($event)">
        </app-gameround-scroller>
        <div>
          <!-- <span class="badge bg-totals">{{getTotalPoints()}}</span> -->
        </div>
      </div>

      <app-together-ranking [poule]="poule" [competitionSport]="competitionSport" [startLocationMap]="startLocationMap"
        [header]="true" [currentGameRound]="currentGameRound">
      </app-together-ranking>

    </div>

  </div>
</div>