
<table class="table table-striped mb-2 mt-3">   
    <tbody>
      @for(competitorWithGameRoundsPoints of competitorsWithGameRoundsPoints(); track $index)
      {
        @let poolUser = competitorWithGameRoundsPoints.competitor.getPoolUser();
        <tr class="pointer">            
            <td class="rankingnr text-end ps-0"><!-- badge text-black -->
                <span class="">{{competitorWithGameRoundsPoints.rank}}</span>
            </td>
            <td class="text-break ps-0" ngClass="{ 'favitem': false}" (click)="linkToPoolUser(poolUser, undefined)">
                <span>{{poolUser.getUser().getName()}}</span>
                <!-- <app-superelf-icon *ngIf="rankingItem.poolUser.getUser().getName() === 'storm'" 
                class="ps-1" [name]="'crown'" title="GOAT"></app-superelf-icon> -->
            </td>
            @for(gameRoundPoints of competitorWithGameRoundsPoints.gameRoundsPoints; track $index)
            {
              <td class="text-end ps-0 pointer" (click)="linkToPoolUser(poolUser, gameRoundPoints.number)">
                  <span class="badge {{getBestWorstBadgeClass(poolUser, gameRoundPoints.number)}}">
                      {{gameRoundPoints.points}}</span>
              </td>
            }
            <td class="text-end ps-0" (click)="linkToPoolUser(poolUser, undefined)">
                <span class="badge bg-totals">{{competitorWithGameRoundsPoints.viewPeriodsPoints}}</span>
            </td>
        </tr>
      }
    </tbody>
</table>

<ng-template #badgeCategoryModal let-modal>
    @let tmpBadgeCategory = badgeCategory();
    @if(tmpBadgeCategory){
      <div class="modal-header">
        <h4 class="modal-title">
          <span>
              <app-superelf-badge-icon [badgeCategory]="tmpBadgeCategory"></app-superelf-badge-icon>
              <span class="ms-1">{{nameService.getBadgeCategoryName(tmpBadgeCategory)}}-badge</span>
          </span>
        </h4>
        <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
      </div>
    }
    <div class="modal-body">
      <p>De nummer 1 van de pool krijgt een zilveren badge. De nummer 1 van alle pools krijgt een gouden badge</p>
    </div>
    <div class="modal-footer d-flex justify-content-reverse border-top-0">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">
        sluiten</button>
    </div>
</ng-template>
