<table class="table table-striped mb-2 mt-3" *ngIf="rankingItems">   
    <tbody>
        <tr *ngFor="let rankingItem of rankingItems" class="pointer"
            (click)="linkToPoolUser(rankingItem.poolUser, gameRound)">

            <ng-container *ngIf="!worldcupQualify2(rankingItem);else worldcupQualify">
                <td class="rankingnr text-end ps-0"><!-- badge text-black -->
                    <span class="">{{rankingItem.rank}}</span>
                </td>
            </ng-container>
            <ng-template #worldcupQualify>
                <td class="rankingnr text-end ps-0 pointer" (click)="openModal(worldcupModal); $event.stopPropagation()">
                    <span class="badge text-bg-success text-decoration-underline">{{rankingItem.rank}}</span>
                </td>
            </ng-template>

            <td class="text-break ps-0" [ngClass]="{ 'favitem': false}">
                <span>{{rankingItem.poolUser.getUser().getName()}}</span>
                <app-superelf-icon *ngIf="rankingItem.poolUser.getUser().getName() === 'storm'" 
                class="ps-1" [name]="'crown'" title="GOAT"></app-superelf-icon>
            </td>
            <td *ngIf="gameRound" class="text-end ps-0 pointer">
                <span class="badge {{getPointsBadgeClass(rankingItem)}}">
                    {{getScore(sportRankingItem.getPlaceLocation(),gameRound )}}</span>
            </td>
            <td class="text-end ps-0">
                <span class="badge bg-totals">{{sportRankingItem.getPerformance().getPoints()}}</span>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #worldcupModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        <app-superelf-icon [name]="'world-cup'"></app-superelf-icon> wereldbeker
      </h4>
      <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <p>De nummers 1 en 2 van elke pool plaatsen zich voor de wereldbeker-competitie voor het daaropvolgende seizoen</p>
    </div>
    <div class="modal-footer d-flex justify-content-reverse border-top-0">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">
        sluiten</button>
    </div>
  </ng-template>