<div class="d-flex flex-row">
  <table class="table liveboard">
    <thead>
      <tr>
        <th class="d-none d-xl-table-cell width-6">
          ronde
        </th>
        <th class="width-4">
          <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
        </th>
        <th *ngIf="showDateTime()" class="width-10">
          {{getRoundNumber().getFirstStartDateTime().toLocaleString("nl",{"month":"short","day":"2-digit"})}}
        </th>
        <th *ngIf="showBatch()" class="text-center width-10">batch</th>
        <th *ngIf="isCreatedAndInplay()" class="width-8">
          <fa-icon [icon]="['fac', 'soccer-field']"></fa-icon>
        </th>
        <th class="text-right width-25">thuis</th>
        <th class="text-center width-8">
          <fa-icon [icon]="['fac', 'scoreboard']"></fa-icon>
        </th>
        <th class="text-left width-25">uit</th>
        <th *ngIf="isCreatedAndInplay() && hasReferees()" class="width-14 text-right">
          <fa-icon [icon]="['fac', 'referee']"></fa-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of screen.getGames()" [ngClass]="{ 'batch-striped-row': (game.getBatchNr() % 2) === 0 }">
        <td class="d-none d-xl-table-cell">
          <span [innerHtml]="getRoundAbbreviation(game.getRound()) | keepHtml"></span>
        </td>
        <td>
          <span>{{nameService.getPouleName(game.getPoule(), false)}}</span>
        </td>
        <td *ngIf="showDateTime()">
          <span *ngIf="showDateTime(game)">{{game.getStartDateTime().toLocaleString("nl", {"hour12":
            false,"hour":"2-digit","minute":"2-digit"})}}</span>
        </td>
        <td *ngIf="showBatch()" class="text-center width-10">{{game.getBatchNr()}}</td>
        <td *ngIf="isCreatedAndInplay()">{{game.getField()?.getName()}}</td>
        <td class="text-right">
          <span>{{nameService.getPlacesFromName(game.getPlaces(GameHOME),true,true)}}</span>
        </td>
        <td nowrap class="text-center">
          <span>{{getScore(game)}}</span>
        </td>
        <td class="text-left">
          <span>{{nameService.getPlacesFromName(game.getPlaces(GameAWAY),true,true)}}</span>
        </td>
        <td *ngIf="isCreatedAndInplay() && hasReferees()" class="text-right">{{nameService.getRefereeName(game)}}</td>
      </tr>
    </tbody>
  </table>
</div>