<div class=" text-center align-items-center d-lg-none">
  <div>
    <ngb-alert type="info" [dismissible]="false">deze pagina werkt alleen vanaf middelgrote schermen</ngb-alert>
  </div>
  <div>
    <button *ngIf="tournament" (click)="navigateBack()" routerLinkActive="active" class="btn btn-outline-secondary"
      type="button">
      <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
      <span> terug</span>
    </button>
  </div>
</div>

<div class="container-fluid px-0 d-none d-lg-block">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <!-- left -->
    <h4 *ngIf="tournament">
      <small>
        <span class="smaller text-secondary">{{getOrigin()}}/{{tournament.getId()}}</span>
      </small>
    </h4>
    <!-- center -->
    <div *ngIf="tournament">
      <h1 class="d-inline-block">
        <small>
          <app-sport-icon [configs]="competition.getSportConfigs()"></app-sport-icon>
        </small>
        <span class="smaller text-truncate">{{tournament.getName()}}</span>
        <small *ngIf="activeScreen">
          -
          <span [innerHTML]="activeScreen.getDescription() | keepHtml"></span>
        </small>
      </h1>
      <app-progress class="d-inline-block" [toggleProgress]="toggleProgress" [max]="refreshAfterSeconds"
        (executeAtZero)="executeScheduledTask()">
      </app-progress>
    </div>

    <!-- right -->
    <button *ngIf="tournament" (click)="navigateBack()" class="btn btn-outline-secondary" type="button">
      <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
      <span> terug</span>
    </button>
  </div>
  <div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
  </div>
  <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>

  <!-- scheduled games and results screen -->
  <app-tournament-liveboard-games *ngIf="isGamesScreen()" [screen]="activeScreen" [nameService]="nameService">
  </app-tournament-liveboard-games>

  <!-- pouleranking screen -->
  <app-tournament-liveboard-poules *ngIf="isPoulesRankingScreen()" [screen]="activeScreen" [nameService]="nameService"
    [ruleSet]="competition.getRuleSet()">
  </app-tournament-liveboard-poules>

  <!-- endranking screen -->
  <div *ngIf="isEndRankingScreen()" class="row no-gutters">
    <div class="col-12 liveboard">
      <app-tournament-endranking [structure]="structure" [range]="activeScreen.range">
      </app-tournament-endranking>
    </div>
  </div>

  <!-- sponsor screen -->
  <div *ngIf="isSponsorScreen()">
    <app-tournament-liveboard-sponsors [sponsors]="activeScreen.getSponsors()"></app-tournament-liveboard-sponsors>
  </div>
</div>