<div class="d-flex justify-content-between">
  <div class="pr-5">
    <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screen.getFirstPoule()}">
    </ng-container>
  </div>
  <div class="pl-5">
    <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screen.getLastPoule()}">
    </ng-container>
  </div>
</div>

<ng-template #pouleRanking let-poule>
  <table *ngIf="poule" class="table liveboard">
    <thead>
      <tr>
        <th class="text-right width-14">pl</th>
        <th class="width-40"><span class="badge badge-info">{{nameService.getPouleName(poule, true)}}</span></th>
        <th class="text-right width-8">g</th>
        <th class="text-right width-8">pnt</th>
        <th class="text-center width-30">&Delta;</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-rankingItem [ngForOf]="getRankingItems(poule)">
        <tr>
          <td nowrap class="text-right">
            <span
              class="badge badge-rank {{cssService.getQualifyPlace(poule.getPlace(rankingItem.getUniqueRank()))}}">{{rankingItem.getUniqueRank()}}</span>
          </td>
          <td class="place">{{nameService.getPlaceFromName(rankingItem.getPlace(), true)}}</td>
          <td class="text-right">{{rankingItem.getUnranked().getGames()}}</td>
          <td class="text-right">{{rankingItem.getUnranked().getPoints()}}</td>
          <td nowrap class="text-center unitdiff">
            <span>{{rankingItem.getUnranked().getDiff() > 0 ? '+' : ''}}{{rankingItem.getUnranked().getDiff()}} </span>
            <span class="d-none d-xl-inline">
              ({{rankingItem.getUnranked().getScored()}}-{{rankingItem.getUnranked().getReceived()}})
            </span>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</ng-template>