<div *ngIf="max && length" class="progress" [style.width.px]="length" [style.height.px]="length">
    <svg class="progress__svg" attr.viewBox="0 0 {{length}} {{length}}">
        <circle class="progress__meter" [attr.cx]="length / 2" [attr.cy]="length / 2" [attr.r]="radius"
            [style.strokeWidth]="strokeWidth" />
        <circle class="progress__value" [style.strokeDasharray]="circumference" [style.strokeDashoffset]="dashoffset"
            [attr.cx]="length / 2" [attr.cy]="length / 2" [attr.r]="radius" [style.strokeWidth]="strokeWidth" />
    </svg>
    <div class="progress__value-text text-info">{{getSeconds()}}S</div>
</div>