<div *ngIf="firstTimeVisit === true">
  <h1 class="text-center">
    welkom
  </h1>
  <div *ngIf="alert" class="alert alert-{{alert.type}}">{{alert.message}}</div>
  <div class="d-flex justify-content-center">
    <button name="btn-create-pool" type="button" class="btn btn-primary" (click)="linkToNew()">zet
      je eerste pool op</button>
  </div>
</div>
<div *ngIf="firstTimeVisit === false" class="mt-3">
  <div *ngIf="alert" class="alert alert-{{alert.type}}">{{alert.message}}</div>
  <div class="d-flex justify-content-between">
    <h1>mijn pools</h1>
    <button name="btn-create-pool" type="button" class="btn btn-primary" (click)="linkToNew()">
      <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon> toernooi opzetten
    </button>
  </div>
</div>

<table *ngIf="!processingWithRole && shellsWithRoleTillX.length > 0" class="table mt-2">
  <tbody>
    <app-home-shell class="pointer" (click)="linkToPool(shell)" *ngFor="let shell of shellsWithRoleTillX"
      [shell]="shell" [linethroughDate]="linethroughDate" [showPublic]="true"></app-home-shell>
    <tr *ngIf="!showingAllWithRole && shellsWithRoleFromX.length > 0" (click)="showingAllWithRole = !showingAllWithRole"
      class="pointer">
      <td colspan="4" class="text-center">
        <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
        <span class="mx-3">meer</span>
        <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
      </td>
    </tr>
    <ng-template ngFor let-shell [ngForOf]="shellsWithRoleFromX">
      <app-home-shell *ngIf="showingAllWithRole" class="pointer" (click)="linkToPool(shell)" [shell]="shell"
        [linethroughDate]="linethroughDate" [showPublic]="true">
      </app-home-shell>
    </ng-template>
  </tbody>
</table>
<div class="d-flex justify-content-between mt-5">
  <h1>publieke toernooien</h1>
  <button *ngIf="!searchFilterActive" type="button" class="btn btn-secondary ml-2" (click)="enableSearchFilter()"
    aria-label="search pools">
    <fa-icon [icon]="['fas', 'search']"></fa-icon>
    <span class="ml-1 d-none d-sm-inline"> zoeken</span>
  </button>
  <button *ngIf="searchFilterActive" type="button" class="btn btn-secondary ml-2" (click)="disableSearchFilter()"
    aria-label="reset search pools">
    <fa-icon [icon]="['fas', 'search']"></fa-icon>
    <span class="ml-1 d-none d-sm-inline"> herstel</span>
  </button>
</div>

<form *ngIf="searchFilterActive" onsubmit="return false">
  <input type="text" class="form-control form-control-search" #inputsearchname (keyup)="onSearchChanges()"
    aria-labelledby="btn-search-pools" placeholder="zoek op toernooinaam">
</form>
<table *ngIf="!publicProcessing" class="table">
  <tbody>
    <app-home-shell class="pointer" (click)="linkToView(shell)" *ngFor="let shell of publicShells"
      [linethroughDate]="linethroughDate" [shell]="shell" [showPublic]="false"></app-home-shell>
    <tr *ngIf="!searchFilterActive" (click)="expandPastDays()" class="pointer">
      <td colspan="3" class="text-center">
        <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
        <span class="mx-3">meer eerdere</span>
        <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
      </td>
    </tr>
  </tbody>
</table>
<h2 *ngIf="publicProcessing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>
<!-- <div
      *ngIf="searchFilterActive && ( searchForm.value['filterName'] === undefined || searchForm.value['filterName'].length < 2)"
      class="alert alert-info">voer minimaal 2 karakters in</div> -->