<!-- <app-title *ngIf="pool" [title]="pool.getName()"></app-title> -->

<h2 class="text-center">
  <fa-icon [icon]="['fas', 'users']"></fa-icon> spelers kiezen
</h2>

<h2 *ngIf="processing" class="text-center">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</h2>

<!-- <ngb-alert *ngIf="alert" [type]="alert.type">
  {{ alert.message }}</ngb-alert> -->

<form *ngIf="!processing && viewPeriod" name="form" (ngSubmit)="false" [formGroup]="form" novalidate>
  <div class="d-flex justify-content-around">
    <select class="form-control mr-1" formControlName="searchTeam" (change)="searchPersons()">
      <option [ngValue]="undefined" selected>
        Alle clubs
      </option>
      <option *ngFor="let team of searchTeams" [ngValue]="team">{{team.getName()}}</option>
    </select>
    <select class="form-control ml-1" formControlName="searchLine" (change)="searchPersons()">
      <option *ngFor="let line of searchLines" [ngValue]="line">{{nameService.getFormationLineName(line)}}</option>
    </select>
  </div>
</form>

<table *ngIf="!processing && viewPeriod" class="table">
  <tbody>
    <tr *ngFor="let choosePersonItem of choosePersonItems">
      <td>
        {{choosePersonItem.player.getLine()}}
      </td>
      <td>
        {{choosePersonItem.player.getPerson().getName()}}
      </td>
      <td>
        {{choosePersonItem.player.getTeam().getAbbreviation()}}
      </td>
      <td class="text-right">
        {{choosePersonItem.points}}
      </td>
      <td class="text-right">
        <button *ngIf="isSelectable(choosePersonItem.player)" type="button" class="btn btn-secondary btn-sm"
          (click)="select(choosePersonItem.viewPeriodPerson)"
          [ngClass]="{'btn-warning': selectWarningTeamMap.has(+choosePersonItem.player.getTeam().getId())}">
          <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>