<div class="modal-body mx-auto">
    <app-person-test [person]="person"></app-person-test>
    <div class="alert alert-success  mb-0" role="alert">
        toegevoegd
    </div>
</div>
<div class="modal-footer d-flex justify-content-around">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="activeModal.close('continue')">meer
        spelers kiezen</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="activeModal.close('goback')">ga
        terug</button>
</div>