// @import "~bootstrap/scss/bootstrap";

.table th, .table td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

td.place {
    overflow-wrap: break-word;    
}

.card-header-rules {
    margin-top: -8px;
}



// @include media-breakpoint-up(sm) {
//   .some-class {
//     display: block;
//   }
// }
