<div *ngIf="tournament">
  <div class="d-flex mt-3">
    <h2 class="mr-auto">
      <span [innerHTML]="nameService.getRoundNumberName( roundNumber ) | keepHtml"></span>
      <button *ngIf="refreshingData !== undefined && roundNumber.getHasPlanning()" type="button"
        class="btn btn-sm btn-outline-secondary ml-1" (click)="refreshData.emit()" [disabled]="refreshingData">
        <fa-icon [icon]="['fas', 'sync']" [spin]="refreshingData"></fa-icon>
      </button>
    </h2>
    <button *ngIf="canFilter() && favorites?.hasItems()" type="button"
      class="btn btn-sm btn-outline-{{filterEnabled ? 'primary' : 'secondary'}}" (click)="toggleFilter()">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span> filter</span>
    </button>
    <button type="button" class="btn btn-sm btn-primary" *ngIf="hasAdminRole()" (click)="linkToPlanningConfig()">
      <fa-icon [icon]="['fas', 'cogs']"></fa-icon> instellingen
    </button>
  </div>
  <ngb-alert *ngIf="!roundNumber.getHasPlanning()" class="mb-0" type="warning" [dismissible]="false">
    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> De wedstrijdplanning wordt gezocht, dit duurt enkele
    seconden tot 1 minuut. Zodra de wedstrijdplanning is gevonden, worden de wedstrijden automatisch getoond.
  </ngb-alert>
  <ngb-alert *ngIf="refreshingData" type="info" [dismissible]="false">
    de uitslagen worden vernieuwd
  </ngb-alert>
  <div *ngIf="roundNumber.getHasPlanning()">
    <table class="table">
      <colgroup>
        <col *ngIf="needsRanking">
        <col *ngIf="!needsRanking">
        <col *ngIf="planningConfig.getEnableTime()">
        <col>
        <col>
        <col>
        <col>
        <col *ngIf="hasReferees" class="d-none d-sm-table-cell text-right">
      </colgroup>
      <thead>
        <tr>
          <!-- poule -->
          <th class="text-center">
            <button *ngIf="needsRanking && hasMultiplePoules" type="button"
              class="btn btn-sm btn-outline-{{ gameOrder ? 'secondary' : 'primary' }}" (click)="sortGames()">
              <fa-icon [icon]="['fas', 'list-ul']" title="poule">
              </fa-icon>
            </button>
            <span *ngIf="needsRanking && !hasMultiplePoules">
              <fa-icon [icon]="['fas', 'list-ul']" title="poule"></fa-icon>
            </span>
            <span *ngIf="!needsRanking" title="wedstrijd">vs</span>
          </th>
          <!-- start -->
          <th *ngIf="planningConfig.getEnableTime()">
            <button *ngIf="userIsAdmin && !hasBegun" title="wijzig planningsinstellingen"
              class="btn btn-sm btn-outline-primary" (click)="linkToPlanningConfig()">
              <span>start</span>
            </button>
            <button *ngIf="!userIsAdmin || hasBegun" class="btn btn-sm btn-outline-info"
              (click)="openModal(planningInfo)">
              <span>start</span>
            </button>
          </th>
          <!-- field -->
          <th class="text-center">
            <button *ngIf="userIsAdmin" title="wijzig velden"
              class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'primary'}}"
              (click)="linkToSportConfig(SportConfigTabFields)">
              <fa-icon [icon]="['fac', 'soccer-field']"></fa-icon>
            </button>
            <fa-icon *ngIf="!userIsAdmin" title="veld" [icon]="['fac', 'soccer-field']"></fa-icon>
          </th>
          <th class="text-right">thuis</th>
          <!-- score -->
          <th class="text-center">
            <button *ngIf="userIsAdmin" title="wijzig score-regels"
              class="btn btn-sm btn-outline-{{hasBegun ? 'warning' : 'primary'}}"
              (click)="linkToSportConfig(SportConfigTabScore)">
              <fa-icon [icon]="['fac', 'scoreboard']"></fa-icon>
            </button>
            <button *ngIf="!userIsAdmin" title="score" class="btn btn-sm btn-outline-info"
              (click)="openModal(scoreInfo)">
              <fa-icon [icon]="['fac', 'scoreboard']"></fa-icon>
            </button>
          </th>
          <th>uit</th>
          <!-- referee -->
          <th *ngIf="hasReferees" class="d-none d-sm-table-cell text-right" title="scheidsrechter">
            <button *ngIf="userIsAdmin && !planningConfig.getSelfReferee()" title="wijzig scheidsrechters"
              class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'primary'}}" (click)="linkToReferee()">
              <fa-icon [icon]="['fac', 'referee']"></fa-icon>
            </button>
            <fa-icon *ngIf="!userIsAdmin || planningConfig.getSelfReferee()" [icon]="['fac', 'referee']"></fa-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-gmData [ngForOf]="gameDatas">
          <tr *ngIf="gmData.showBreak" class="table-info">
            <td></td>
            <td *ngIf="planningConfig.getEnableTime()"><span *ngIf="!sameDay">{{tournamentBreak.start.toLocaleString("nl",
                            {"month":"short","day":"2-digit"})}} </span>
              <span>{{tournamentBreak.start.toLocaleString("nl", {"hour12":
                            false,"hour":"2-digit","minute":"2-digit"})}}</span></td>
            <td></td>
            <td colspan="3" class="text-center">PAUZE</td>
            <td *ngIf="hasReferees" class="d-none d-sm-table-cell"></td>
          </tr>
          <tr [ngClass]="{ 'batch-striped-row': (gmData.game.getBatchNr() % 2) === 0 && gameOrder }">
            <!-- poule -->
            <td *ngIf="!gmData.hasPopover" class="text-center">
              <span
                class="badge badge-rank {{cssService.getQualifyRound(gmData.poule.round)}}">{{gmData.poule.name}}</span>
            </td>
            <td *ngIf="gmData.hasPopover && gmData.poule.needsRanking" class="text-center">
              <button
                class="btn btn-outline-secondary btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
                (click)="openModalPouleRank(gmData.game.getPoule())">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <td *ngIf="gmData.hasPopover && !gmData.poule.needsRanking" class="text-center">
              <button class="btn btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
                placement="right" [ngbPopover]="getGameQualificationDescription(gmData.game)">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <!-- datetime -->
            <td *ngIf="planningConfig.getEnableTime()">
              <span *ngIf="!sameDay">{{gmData.game.getStartDateTime().toLocaleString("nl",
                {"month":"short","day":"2-digit"})}} </span>
              <span>{{gmData.game.getStartDateTime().toLocaleString("nl", {"hour12":
                false,"hour":"2-digit","minute":"2-digit"})}}</span>
            </td>
            <!-- field -->
            <td class="text-center">{{gmData.game.getField()?.getName()}}</td>
            <!-- home -->
            <td class="place text-right " [ngClass]="{'favitem': favorites?.hasGameCompetitor(gmData.game, GameHOME) }">
              <span>{{nameService.getPlacesFromName(gmData.game.getPlaces( GameHOME ),true,true)}}</span>
            </td>
            <!-- score -->
            <td nowrap class="text-center">
              <button *ngIf="gmData.canChangeResult" class="btn btn-sm btn-outline-primary"
                (click)="linkToGameEdit(gmData.game)">
                <fa-icon *ngIf="!isPlayed(gmData.game)" [icon]="['fas', 'pencil-alt']"></fa-icon>
                <span *ngIf="isPlayed(gmData.game)">{{getScore(gmData.game)}}</span>
                <span *ngIf="isPlayed(gmData.game)" class="font-weight-bold">{{getScoreFinalPhase(gmData.game)}}</span>
              </button>
              <span *ngIf="!gmData.canChangeResult" class="d-none d-sm-inline">{{getScore(gmData.game)}}</span>
              <span *ngIf="!gmData.canChangeResult"
                class="d-none d-sm-inline font-weight-bold">{{getScoreFinalPhase(gmData.game)}}</span>
              <button *ngIf="!gmData.canChangeResult && hasReferees && !isPlayed(gmData.game)"
                class="btn btn-outline-info btn-sm d-sm-none" placement="top"
                [ngbPopover]="nameService.getRefereeName(gmData.game)">
                <span [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
                  <fa-icon [icon]="['fac', 'referee']"></fa-icon>
                </span>
              </button>
              <span *ngIf="!gmData.canChangeResult && !(hasReferees && !isPlayed(gmData.game))"
                class="d-sm-none font-weight-bold">{{getScore(gmData.game)}}</span>
              <span *ngIf="!gmData.canChangeResult && !(hasReferees && !isPlayed(gmData.game))"
                class="d-sm-none">{{getScoreFinalPhase(gmData.game)}}</span>
            </td>
            <!-- away -->
            <td class="place" [ngClass]="{ 'favitem': favorites?.hasGameCompetitor(gmData.game, GameAWAY) }">
              <span>{{nameService.getPlacesFromName(gmData.game.getPlaces( GameAWAY ),true,true)}}</span>
            </td>
            <!-- referee -->
            <td *ngIf="hasReferees" class="d-none d-sm-table-cell text-right"
              [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
              {{nameService.getRefereeName(gmData.game)}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<ng-template #planningInfo let-modal>
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title">
      <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijdplanning
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item border-info">
        de start is op {{roundNumber.getFirstStartDateTime().toLocaleString("nl",
                  {"month":"short","day":"2-digit"})}} om {{roundNumber.getFirstStartDateTime().toLocaleString("nl", {"hour12":
                    false,"hour":"2-digit","minute":"2-digit"})}}
      </li>
      <li class="list-group-item border-info">
        het aantal onderlinge duels is {{planningConfig.getNrOfHeadtohead()}}
      </li>
      <li class="list-group-item border-info">
        de wedstrijden duren {{planningConfig.getMinutesPerGame()}} minuten
      </li>
      <li *ngIf="planningConfig.getExtension()" class="list-group-item border-info">
        de eventuele verlenging duurt {{planningConfig.getMinutesPerGameExt()}} minuten
      </li>
      <li class="list-group-item border-info">er zit {{planningConfig.getMinutesBetweenGames()}} minuten
        tussen de wedstrijden</li>
    </ul>
  </div>
  <div class="modal-footer align-items-end border-top-0">
    <button type="submit" class="btn btn-outline-secondary" data-dismiss="modal"
      (click)="modal.dismiss('close')">sluiten</button>
  </div>
</ng-template>

<ng-template #scoreInfo let-modal>
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title">
      <fa-icon [icon]="['fac', 'scoreboard']"></fa-icon> score informatie
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-template ngFor let-scoreConfig [ngForOf]="roundNumber.getValidSportScoreConfigs()">
      <ul class="list-group">
        <li *ngIf="scoreConfig.hasNext() && scoreConfig.getNext().getEnabled()" class="list-group-item border-info">
          <span *ngIf="scoreConfig.getNext().getMaximum() === 0">behaal zoveel mogelijk
            {{translate.getScoreNamePlural(scoreConfig.getNext())}}</span>
          <span *ngIf="scoreConfig.getNext().getMaximum() > 0">wie het eerst {{scoreConfig.getNext().getMaximum()}}
            {{translate.getScoreNamePlural(scoreConfig.getNext())}} heeft behaald</span>
          <span *ngIf="planningConfig.getEnableTime()"> binnen de tijd</span>
        </li>
        <li *ngIf="scoreConfig.hasNext() && scoreConfig.getNext().getEnabled()" class="list-group-item border-info">
          <span>per
            {{translate.getScoreNameSingular(scoreConfig.getNext())}} moet(en) er
            {{scoreConfig.getMaximum()}} {{translate.getScoreNamePlural(scoreConfig)}} worden behaald</span>
        </li>
        <li *ngIf="!scoreConfig.hasNext() || !scoreConfig.getNext().getEnabled()" class="list-group-item border-info">
          <span *ngIf="scoreConfig.getMaximum() === 0">behaal zoveel mogelijk
            {{translate.getScoreNamePlural(scoreConfig)}}</span>
          <span *ngIf="scoreConfig.getMaximum() > 0">wie het eerst {{scoreConfig.getMaximum()}}
            {{translate.getScoreNamePlural(scoreConfig)}} heeft behaald</span>
          <span *ngIf="planningConfig.getEnableTime()"> binnen de tijd</span></li>
      </ul>
    </ng-template>
  </div>
  <div class="modal-footer align-items-end border-top-0">
    <button type="submit" class="btn btn-outline-secondary" data-dismiss="modal"
      (click)="modal.dismiss('close')">sluiten</button>
  </div>
</ng-template>