<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
    <ngb-alert *ngIf="alert" [type]="alert.type">
      {{ alert.message }}</ngb-alert>

    <div *ngIf="!processing && pool">
      <div class="d-flex flex-wrap justify-content-between mb-3">
        <h2 class="me-2 text-truncate">
          <fa-icon [icon]="['fas', 'users']"></fa-icon> gescoute spelers
        </h2>
        <button (click)="linkToSearch()" type="button" class="btn btn-secondary ms-2">
          <fa-icon [icon]="['fas', 'search']"></fa-icon> <span class="d-none d-sm-inline ms-1">zoeken</span>
        </button>
      </div>

      <ngb-alert *ngIf="scoutingList.scoutedPlayers.length === 0" type="info">
        je hebt nog geen spelers gescout, begin met zoeken</ngb-alert>

      <table class="table">
        <tbody>
          <tr *ngFor="let scoutedPlayer of scoutingList.scoutedPlayers"
            (click)="linkToPlayer(scoutedPlayer.getS11Player())" class="pointer">
            <!-- <ng-template let-player="scoutedPlayer.getPlayer()"> -->
            <td *ngIf="showCopyToTeam()" class="text-end">
              <button (click)="copyToTeam(scoutedPlayer.getS11Player())" type="button" class="btn btn-sm btn-secondary">
                <fa-icon [icon]=" [ 'fas', 'sign-in-alt'] "></fa-icon>
                <span class="d-none d-sm-inline ms-1">plaats in team</span>
              </button>
            </td>
            <td>
              <app-lineicon [line]="scoutedPlayer.getS11Player().getLine()"></app-lineicon>
            </td>
            <td>
              <span>{{scoutedPlayer.getPerson().getName()}}</span>
            </td>
            <td>
              <app-team-name [team]="getCurrentTeam(scoutedPlayer.getS11Player())"></app-team-name>
            </td>
            <td>
              <span class="badge bg-totals">{{scoutedPlayer.getS11Player().getTotalPoints()}}</span>
            </td>
            <td (click)="$event.stopPropagation()">
              <button type="button" class="btn btn-sm btn-outline-danger"
                (click)="openRemoveModal(scoutedPlayer, pool)">
                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
              </button>
            </td>
            <!-- </ng-template> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>